/* LOGIN AND SIGNUP PAGES */

.login-signup-window {
    height: 80%;
    min-height: 100px;
    margin: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 3px solid red; */
}

.login-signup-logo {
    text-align: center;
    /* border: 3px solid black; */
}

.login-signup-text {
    text-align: center;
    /* border: 3px solid black; */
}

.login-signup-input-window {
    background-color: white;
    height: 400px;
    width: 350px;
    border-radius: 10px;

    display: flex;
    flex-direction: column; /* Stack items vertically */
    justify-content: center; /* Center items vertically */
    align-items: center;
}

#signupInputWindow {
    height: 450px;
    padding-bottom: 10px;
}

.emailBlock,
.passwordBlock {
    margin-bottom: 15px; /* Add some spacing between the blocks */
    display: flex;
    flex-direction: column;
}

.login-signup-input {
    width: 250px;
    height: 35px;
    border-radius: 5px;
    background-color: #dfdfdf;
    border: 0px;
    margin-top: -10px;
}

#signUpEmail, #signUpPassword, #signUpConfirmPassword {
    margin-top: -20px;
}

@media (max-width: 349px) {
    #loginInputWindow {
        width: 300px;
    }
    #signupInputWindow {
        width: 300px;
    }
}

.googleIcon {
    width: 20px;
    height: 20px;
    padding-right: 10px;
}

.google-signin-signup-block {
    margin-bottom: 10px; /* Adjust the margin as needed to move it closer to the top */
    margin-top: 20px;
}

.google-signin-signup-btn {
    display: flex;         /* Convert the button into a flex container */
    justify-content: space-around;
    align-items: center;   /* Vertically center the contents */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    height: 50px;
    width: 250px;
    font-family: myFont2;
    font-size: 14px;
    color: black;
}

#signUpEmail {
    margin-top: 10px;
}

.hr_or_hr_block {
    width: 250px;
    display: flex;
    flex-direction: row;
    align-items: center; /* Center items vertically */
    margin-top: 10px;
}

.or {
    padding-left: 10px;
    padding-right: 10px;
    font-family: myFont2;
    font-size: 14px;
}

.or_hr {
    width: 110px;
    border-color: #ffffff;
}

.emailBlock > h3 {
    color: black;
    font-size: 14px;
}

.passwordBlock {
    margin-top: -5px;
    margin-bottom: 30px;
}

.passwordBlock > h3 {
    color: black;
    font-size: 14px;
}

#forgotPasswordContainer > h3 {
    color: black;
    font-size: 14px;
}

.login-signup-submit-btn-container {
    margin-bottom: 10px;
}

#forgotPassword_h3:hover {
    cursor: pointer;
}

#createAccountContainer, #logBackInContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5px;
}

.accountRevert {
    color: white;
    font-size: 14px;
}

#createAccount2_h3:hover, #logBackIn2_h3:hover{
    cursor: pointer;
}

#noAccountText, #logBackInText {
    margin-bottom: -20px;
}

#signUpEmail {
    margin-bottom: 30px;
}