#notes-container {
    position: relative;
    background-color: rgba(0, 0, 0, 0.35);
    /* overflow: hidden; */

    /* DARK GREY THEME BACKGROUND */
    /* background-color: rgba(32, 32, 32, 0.9); */

    /* POTENTIAL DESIGN ALTERNATIVE -- WHITE BORDER */
    /* border: 3px solid rgb(255, 255, 255); */
    z-index: 12;
    border-radius: 25px;
    max-width: 600px;
    height: 250px;

    display: block;
    /* display: none; */
    /* border: 2px solid yellow; */

    width: 100%;
    max-width: 575px;

    margin-left: auto;
    margin-right: auto;

    transform: scaleY(0);
    opacity: 0;

    transition: transform 0.25s ease-in-out, opacity 0.1s ease-in-out;
}

#notes-container.fullsize {
    transform: scaleY(1);
    opacity: 1;
}

#notes-container.fullopacity {
    opacity: 1;
}

#task-container {
    display: flex;
    height: 45px;
    /* border: 1px solid purple; */
    /* overflow: hidden; */
    
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* justify-content: left; */
    position: relative;
    width: 100%;
}

#prompt-container {
    display: flex;
    z-index: 5;
    height: 100%;
    align-items: center;

    position: absolute;
    /* padding-right: 16px; */

    /* border: 3px solid black; */
}

#label-input-container {
    /* display: none; */
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    
    height: 100%;
    width: 85%;
    z-index: 4;
    position: relative;
    align-items: center;
    justify-content: center;
    /* justify-content: left; */

    /* border: 3px solid purple; */
}

#create-label-container {
    display: none;
    z-index: 7;
    height: 100%;
    align-items: center;
    position: absolute;

    font-family: myFont2;
    font-size: 24px;
    color: rgba(255, 255, 255, 1);
    margin-top: 2px;

    /* border: 3px solid cyan;   */
}

#create-label-window {
    display: none;
    font-family: myFont2;
    color: white;
    margin-top: 10px;
    height: 198px;
    overflow: auto;
    padding-top: 5px;
    /* border: 3px solid cyan; */
}

#create-label {
    display: flex;
    height: 55%;
    align-items: center;
    justify-content: center;

    /* border: 3px solid red; */
}

#cancel-done-div {
    display: flex;
}

#create-label-input {
    width: auto;
    height: 30px;
    border-radius: 50px;
    font-family: myFont2;
    font-size: 20px;
    background-color: transparent;
    border: 3px solid white;
    color: white;
    outline: none;
    text-align: center;
    margin-left: 45px;
}

#create-label-input::placeholder {
    color: rgba(255, 255, 255, 0.20);
}

#emoji-btn {
    width: 35px;
    height: 35px;
    border-radius: 50px;
    background-color: transparent;
    /* border: 3px solid red; */
    margin-left: 10px;

    display: flex;
    justify-content: center;

    z-index: 16;
}

#emoji-btn:hover {
    cursor: pointer;
    /* transform: scale(0.95); */
}

@media (max-width: 450px) {
    #emoji-btn {
        display: none;
    }
    #create-label-input {
        margin-left: 0px;
    }
}

@keyframes emojiPopup {
    0% {
        transform: translateY(5px);
    }
    100% {
        transform: translateY(0px);
    }
}

.emojiPopup {
    animation: emojiPopup 0.5s;
}

#emoji-container {
    display: none;
    position: fixed;
    right: 15px;
    top: -160px;
    border: 5px solid #cccccc;
    /* border: 3px solid white; */
    border-radius: 8px;
    padding: 10px;
    width: 200px;
    height: 200px;
    text-align: center;
    background-color: #f9f9f9;

    opacity: 0;
    transition: opacity 0.15s ease;
    --after-left: 45%;

    z-index: 15;
}

#emoji-container::after {
    content: " ";
    position: absolute;
    bottom: -40px;
    left: var(--after-left);
    margin-left: -5px;
    border-width: 20px;
    border-style: solid;
    border-color: #f9f9f9 transparent transparent transparent;
}

.emoji-symbol {
    width: 30px;
    height: 30px;
    margin: 2px;
    margin-left: 5px;
    margin-right: 5px;
}

.emoji-symbol:hover {
    cursor: pointer;
    transform: scale(1.15);
}

#create-label-cancel {
    margin-right: 5px;
}

#create-label-done {
    margin-left: 5px;
}

.create-label {
    border: 3px solid white;
}

@media (max-width: 530px) {
    #label-input-container {
        width: 80%;
    }
}

@media (max-width: 400px) {
    #label-input-container {
        width: 75%;
    }
}

@media (max-width: 340px) {
    #label-input-container {
        width: 70%;
    }
}

@media (max-width: 300px) {
    #label-input-container {
        width: 60%;
    }
}

@media (max-width: 230px) {
    #label-input-container {
        width: 50%;
    }
}

#label-input-container::-webkit-scrollbar {
    width: 5px;
    height: 8px;
}

#label-input-container::-webkit-scrollbar:hover {
    cursor: pointer;
}

#label-input-container::-webkit-scrollbar-track {
    background: transparent;
}

#label-input-container::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
}

#clearIcon {
    position: absolute;
    width: 25px;
    height: 25px;
    /* opacity: 1.00; */
    opacity: 0.7;
    top: 0;
    right: 0;
    cursor: pointer;
    margin-right: 10px;
    margin-top: 10px;
    z-index: 15;
    /* border: 2px solid black; */
}

.tagToLeftSide {
    position: absolute;
    top: 0;
    left: 0;
}

#userInputTask {
    font-family: myFont2;
    font-size: 24px;
    color: white;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    outline: none;
    text-align: center;

    /* border: 1px solid red; */
}

#notes-hr {
    margin: 0px;
    margin-bottom: -10px;
    /* display: none; */
}

#notes-console {
    font-family: myFont2;
    color: white;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 0px;
    height: 198px;
    overflow: auto;
    padding-top: 5px;
    /* border: 5px solid red; */
    /* display: none; */
}

#label-selection-window {
    font-family: myFont2;
    color: white;
    margin-top: 10px;
    height: 198px;
    overflow: auto;
    padding-top: 5px;
    /* border: 2px solid red; */
    display: none;
}

.label-selection-row {
    display: flex;
    flex-wrap: wrap;
    /* border: 1px solid green; */
}

#tag-icon {
    position: relative;
    /* width: 35px;
    height: 35px; */
    width: 25px;
    height: 25px;
    margin-right: 10px;
    margin-top: 1px;
    opacity: 0.7;
    /* rotate: 45deg; */
    border: 4px solid rgba(255, 255, 255, 0);

    /* display: none; */
}

#add-tag-icon {
    position: relative;
    width: 37px;
    height: 37px;
    opacity: 1.00;
    margin-top: 3px;
    rotate: 45deg;
    margin-left: 3px;
    margin-right: 3px;
    transform: scale(1.05);
    /* border: 1px solid rgba(255, 255, 255, 1); */

    /* display: none; */    
}

#add-tag-icon:hover {
    transform: scale(0.95);
}

/* not working quite yet */
#tag-icon:hover, #add-tag-icon:hover { 
    cursor: pointer;
}

#clearIcon {
    display: none;
}

#task-prompt {
    font-family: myFont2;
    font-size: 24px;
    color: rgba(255, 255, 255, 0.50);
    margin-top: 2px;
    z-index: 1;

    /* display: none; */
}

#prompt-container:hover {
    cursor: pointer;
}

@media (max-width: 535px) {
    #task-prompt {
        font-size: 0;
        /* position: relative; */
    }
    
    #task-prompt::before {
        content: "Add Labels";
        font-family: myFont2;
        font-size: 24px;
        color: rgba(255, 255, 255, 0.50);
    }
}

@media (max-width: 235px) {
    #task-prompt {
        font-size: 0;
        /* position: relative; */
    }
    #task-prompt::before {
        content: "";
        font-family: myFont2;
        font-size: 24px;
        color: rgba(255, 255, 255, 0.50);
    }
}

.console-line-container {
    display: flex;
    width: 100%;
    /* border: 1px solid yellow; */
}

.console-line-time {
    width: 85px;
    display: flex;
    /* align-items: center; */
    white-space: nowrap;
    border: 2px solid rgba(255, 255, 255, 0);
}

.console-line-arrow {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    width: 25px;
    border: 2px solid rgba(255, 255, 255, 0);
}

.note-input-div {
    /* border: 5px solid rgb(0, 124, 128); */
    /* width: 100%; */
    width: 440px;
    align-items: center;
    display: flex;
    box-sizing: border-box;
}

.noteInput {
    width: 99%;
    height: 20px;
    /* height: auto; Change to this eventually */
    min-height: 20px;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    outline: none;
    font-family: myFont2;
    font-size: 16px;
    color: white;
    overflow: hidden;
    resize: none;
    white-space: pre-wrap;
    word-wrap: break-word;
    box-sizing: border-box;
    /* border: 3px solid grey; */
}

.tag-text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: myFont3;

    /* border: 3px solid white; */
    
    /* border: 2px solid red; */
    border-radius: 50px;
    font-size: 20px;
    /* font-size: 9px; */
    color: white;
    /* color: red; */
    padding: 0px 10px;
    margin: 0;
    white-space: nowrap;
    transition: background-color 0.15s ease-in-out;
}

.tag-text:hover {
    cursor: pointer;
}

.tag-text:not(#selection-done):not(.create-label):hover {
    background-color: rgba(255, 255, 255, 0.2);
}

#selection-done:hover, .create-label:hover {
    transform: scale(0.95);
}

#selection-done {
    border: 3px solid white;
}

.tag {
    margin: 5px;
    display: flex;
    justify-content: center; /* Center h4 horizontally */

    /* border: 1px solid yellow; */
}

.cancel-done-container {
    margin: 5px;
    display: flex;
    justify-content: center; /* Center h4 horizontally */
}

.deleteJiggling {
    animation: deleteJiggle 0.25s;
}

@keyframes deleteJiggle {
    0%, 100% {
        transform: translateX(0);
    }
    25% {
        transform:rotate(3deg);
    }
    30% {
        transform:rotate(-3deg);
    }
    73% {
        transform:rotate(3deg);
    }
}

#add-done-container {
    display: flex;
    justify-content: center;
}

#create-label-cancel, #create-label-done {
    cursor: pointer;
}

.tag-divider {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: myFont3;
    font-size: 20px;
    color: white;
}

#tag-selection-divider {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: myFont3;
    font-size: 20px;
    color: white;
    padding: 0px 10px;
    margin: 0;
    white-space: nowrap;
}

.unselectable {
    user-select: none;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
}

@keyframes blink {
    0%, 100% { opacity: 0.7; }
    50% { opacity: 0 }
}

.blink {
    animation: blink 2s infinite;
}