#notes-container {
    position: relative;
    background-color: rgba(0, 0, 0, 0.35);

    /* DARK GREY THEME BACKGROUND */
    /* background-color: rgba(32, 32, 32, 0.9); */

    /* POTENTIAL DESIGN ALTERNATIVE -- WHITE BORDER */
    /* border: 3px solid rgb(255, 255, 255); */
    z-index: 12;
    border-radius: 25px;
    max-width: 600px;
    height: 250px;

    display: block;
    /* border: 2px solid yellow; */

    width: 100%;
    max-width: 600px;

    transform: scaleY(0);
    opacity: 0;

    transition: transform 0.25s ease-in-out, opacity 0.1s ease-in-out;
}

#notes-container.fullsize {
    transform: scaleY(1);
    opacity: 1;
}

#notes-container.fullopacity {
    opacity: 1;
}

#task-container {
    height: 45px;
    /* border: 1px solid yellow; */
    display: flex;
    
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
}

#prompt-container {
    display: flex;
    z-index: 3;

    position: absolute;
}

#task-input-container {
    /* display: none; */
    /* border: 1px solid yellow; */
    height: 100%;
    width: 85%;
    z-index: 4;
    margin-right: 10px;

    position: absolute;
}

#clearIcon {
    position: absolute;
    width: 25px;
    height: 25px;
    opacity: 1.00;
    top: 0;
    right: 0;
    cursor: pointer;
    margin-right: 10px;
    margin-top: 10px;
    /* border: 2px solid black; */
}

#userInputTask {
    font-family: myFont2;
    font-size: 24px;
    color: white;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    outline: none;
    text-align: center;

    /* border: 1px solid red; */
}

#notes-hr {
    margin: 0px;
    margin-bottom: -10px;
    /* display: none; */
}

#notes-console {
    font-family: myFont2;
    color: white;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 0px;
    height: 198px;
    overflow: auto;
    padding-top: 5px;
    /* border: 5px solid red; */
}

#pencil-icon {
    position: relative;
    width: 30px;
    height: 30px;
    opacity: 1.00;
    margin-left: 10px;
    /* border: 2px solid black; */
}

#clearIcon {
    display: none;
}

#task-prompt {
    font-family: myFont2;
    font-size: 24px;
    color: rgba(255, 255, 255, 0.50);
}

@media (max-width: 535px) {
    #task-prompt {
        font-size: 0;
        /* position: relative; */
    }
    
    #task-prompt::before {
        content: "Enter task";
        font-family: myFont2;
        font-size: 24px;
        color: rgba(255, 255, 255, 0.50);
    }
}

@media (max-width: 235px) {
    #task-prompt {
        font-size: 0;
        /* position: relative; */
    }
    #task-prompt::before {
        content: "";
        font-family: myFont2;
        font-size: 24px;
        color: rgba(255, 255, 255, 0.50);
    }
}

.console-line-container {
    display: flex;
    width: 100%;
    /* border: 1px solid yellow; */
}

.console-line-time {
    width: 85px;
    display: flex;
    /* align-items: center; */
    white-space: nowrap;
    border: 2px solid rgba(255, 255, 255, 0);
}

.console-line-arrow {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    width: 25px;
    border: 2px solid rgba(255, 255, 255, 0);
}

.note-input-div {
    /* border: 5px solid rgb(0, 124, 128); */
    /* width: 100%; */
    width: 440px;
    align-items: center;
    display: flex;
    box-sizing: border-box;
}

.noteInput {
    width: 99%;
    height: 20px;
    /* height: auto; Change to this eventually */
    min-height: 20px;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    outline: none;
    font-family: myFont2;
    font-size: 16px;
    color: white;
    overflow: hidden;
    resize: none;
    white-space: pre-wrap;
    word-wrap: break-word;
    box-sizing: border-box;
    /* border: 3px solid grey; */
}