@font-face {
    font-family: settingsHeaderFont;
    src: url("../fonts/TTNormsProRegular.otf");
}

#settingsContainer {
    position: fixed;
    background-color: rgb(0, 0, 0);

    /* DARK GREY THEME BACKGROUND */
    /* background-color: rgba(32, 32, 32, 1); */

    /* POTENTIAL DESIGN ALTERNATIVE -- WHITE BORDER */
    /* border: 3px solid rgb(255, 255, 255); */
    
    /* margin: 20px; */
    z-index: 12;
    /* border-radius: 10px; */

    top: 0;       /* Align to the top */
    right: 0;     /* Stretch to the right */
    bottom: 0;    /* Stretch to the bottom */
    
    width: 1200px;
    height: 100%; /* Cover the full height */
    
    display: none; /* eventually make this none by default */
    overflow-y: auto;
}

@media (max-width: 1200px) {
    #settingsContainer {
        border-radius: 0px;
        width: 100%;
    }
}

#settingsWindow {
    display: flex;
    position: relative;
    justify-content: left;
    align-items: top;
    width: 100%;
    height: 100%;
    /* border: 2px solid red; */
}

#settingsHeaderColumn {
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 25px;

    /* border: 1px solid white; */
}

#settingsHeader {
    display: flex;
    justify-content: center;
    align-items: center;

    /* border: 2px solid yellowgreen; */
}

#settingsExit {
    position: absolute;
    left: 0;
    margin-left: 20px;
}

.minutesImage {
    height: 50px;
    width: 93px;
    border-radius: 10px;
    border: 2px solid white;
}

.imageBucket {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
    /* border: 1px solid white; */
}

.imageBucketHeader {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-right: 20px;
    /* border: 1px solid white; */
}

#endOfBreakImages {
    display: flex;
}

.vertical {
    background-color: rgba(255, 255, 255, 0.15);
    width: 1px;
    height: 100%;
    display: block;
    margin-right: 50px;
}

.horizontal {
    background-color: rgba(255, 255, 255, 0.15);
    width: 95%;
    height: 1px;
    display: block;
    margin-right: 50px;
}

.settingsHeader {
    font-family: menuFont;
    letter-spacing: 1px;
    font-weight: 300;
    color: rgb(255, 255, 255);
    font-size: 16px;
    padding-right: 10px;
}

.settingsHeaderRow {
    display: flex;
    justify-content: left;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 8px;

    transition: background-color 0.15s ease-in-out;
    
    /* border: 1px solid green; */
}

.settingsContentContainer {
    display: none;
    width: 100%;
}

.settingsHeaderRow:not(#notificationsHeaderContainer):not(.selected):hover {
    background-color: rgba(255, 255, 255, 0.15);
    color: white;
    cursor: pointer;
}

.selected {
    background-color: rgba(255, 255, 255, 0.25);
}

#notificationsHeaderContainer:hover {
    cursor: default;
}

#settingsContent {
    /* border: 1px solid yellow; */
    display: block;
    width: 100%;
}

.settings h2 {
    color: rgb(255, 255, 255);
    font-size: 32px;
}

.settings h3 {
    color: rgb(255, 255, 255);
}

.settings p {
    font-family: settingsHeaderFont;
    letter-spacing: 1px;;
    font-weight: 300;
    color: rgb(255, 255, 255);
    font-size: 18px;
}

.settings hr {
    height: 1px;
    width: 100%;
    border: none;
    background-color: rgba(255, 255, 255, 0.25); /* or any desired color */
}

.settingsText {
    margin-right: 20px;
}

#compare_chartContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

#compare_chart {
    height: 50%;
    width: 50%;
}

.settingsMicroContainer {
    display: flex;
    width: 100%;
    /* border: 2px solid yellow; */
}

#toggleBreakSuggestionContainer {
    width: 100%;
    /* border: 2px solid yellow; */
}

.toggle-checkbox {
    display: none;
}

.toggle-label {
    display: block;
    width: 60px;
    height: 20px;
    background-color: #e0e0e0;
    border-radius: 30px;
    position: relative;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border: 3px solid rgba(0, 0, 0, 0.25);
}

.toggle-ball {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #ffffff;
    border-radius: 50%;
    top: 0;
    left: 0;
    transition: all 0.3s ease;
}

#chillTimeBreakSuggestionText {
    /* border: 1px solid brown; */
    display: flex;
    align-items: center;
}

/* For Target Time Reached Alert Toggle */
#targetTimeReachedToggle:checked + #targetTimeReachedToggleLabel {
    background-color: #53e658;
}

#targetTimeReachedToggle:checked + #targetTimeReachedToggleLabel #targetTimeReachedToggleBall {
    left: 40px;
}

/* For Break Suggestion Toggle */
#breakSuggestionToggle:checked + #breakSuggestionToggleLabel {
    background-color: #53e658;
}

#breakSuggestionToggle:checked + #breakSuggestionToggleLabel #breakSuggestionToggleBall {
    left: 40px;
}

/* Flomodoro Notifications */
#chillTimeBreakSuggestionToggle:checked + #chillTimeBreakSuggestionToggleLabel {
    background-color: #53e658;
}

#chillTimeBreakSuggestionToggle:checked + #chillTimeBreakSuggestionToggleLabel #chillTimeBreakSuggestionToggleBall {
    left: 40px;
}

/* Auto Start Flow Time Interval */
#autoStartFlowTimeIntervalToggle:checked + #autoStartFlowTimeIntervalToggleLabel {
    background-color: #53e658;
}

#autoStartFlowTimeIntervalToggle:checked + #autoStartFlowTimeIntervalToggleLabel #autoStartFlowTimeIntervalToggleBall {
    left: 40px;
}

/* For Transition Clock Sound Toggle */
#transitionClockSoundToggle:checked + #transitionClockSoundToggleLabel {
    background-color: #53e658;
}

#transitionClockSoundToggle:checked + #transitionClockSoundToggleLabel #transitionClockSoundToggleBall {
    left: 40px;
}

#breakSuggestionText {
    display: flex;
    /* border: 2px solid yellow; */
    align-items: center;
}

#breakSuggestionText p {
    display: flex;
    /* border: 2px solid black; */
}

.infoIcon {
    position: relative;
    width: 20px;
    height: 20px;
    z-index: 4;
    opacity: 1.00;
    padding: 5px;
    cursor: pointer;
    /* border: 2px solid black; */
}

#suggestionMinutesInput {
    width: 40px;
    height: 20px;
    background-color: #e0e0e0;
    font-size: 16px;
    padding: 8px 12px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 1px solid white;
    margin-right: 15px;
}

#suggestionMinutesContainer {
    width: 100%;
    display: none;
}

.toggleContainer {
    display: flex;
    align-items: center;
    /* border: 2px solid yellow; */
}

#suggestion-minutes-submit {
    background-color: #e0e0e0;
    color: black;
    border: 1px solid white;
    outline: none;
    padding: 8px 15px;
    cursor: pointer;
    border-radius: 5px;
    font-family: menuFont;
    letter-spacing: 1px;
    font-size: 16px;
    width: 100px;
}

#suggestion-minutes-submit:active {
    background-color: #e0e0e0;
    transform: scale(0.95);
}

#breakSuggestionBlock {
    display: block;
}

.settingsIconTextContainer {
    display: flex;
    align-items: center;
    justify-content: left;

    /* border: 1px solid plum; */
}

.settingsIconContainer {
    width: 40px;
}

.settingsIcon {
    position: relative;
    width: 22px;
    height: 22px;
    z-index: 4;
    opacity: 1.00;
    right: 10px;
    margin-left: 15px;
    /* border: 2px solid yellow; */
}

#pomodoroIcon {
    width: 20px;
    height: 22px;
}

#accountIcon {
    width: 17px;
    height: 25px;
}

#supportAndFeedbackIcon {
    width: 27px;
    height: 22px;
}

.settingsCategory {
    width: 100%;
    /* height: 100%; */
    /* border: 2px solid yellow; */
}

.subCategory {
    margin-left: 20px;
}

#academicWeaponSelect {
    width: 100px;
    height: 25px;
}

#swordIcon {
    width: 35px;
    height: 35px;
}

#academicWeaponSelect {
    /* Apply font styles */
    font-family: menuFont;
    letter-spacing: 1px;
    font-size: 16px;
    
    /* Adjust background and border styles */
    background-color: #e0e0e0;
    border: 1px solid white;
    border-radius: 4px;
    
    /* Add box shadow for a subtle lift */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    
    /* Set the text color */
    color: black;
}

/* Style the options within the select */
#academicWeaponSelect option {
    font-family: menuFont;
    letter-spacing: 1px;
    font-size: 16px;
    color: black;
}