@font-face {
    font-family: myFontBlog;
    src: url("../fonts/CPMono_v07_Plain.woff");
}

@font-face {
    font-family: myFont2;
    src: url("../fonts/CPMono_v07_Bold.woff");
}

@font-face {
    font-family: myFont3;
    src: url("../fonts/CPMono_v07_Light.woff");
}

body {
    font-family: myFont;
}

html, body {
    margin: 0;
    height: 100%;
    /* background-image: url("../images/louie.jpg"); */
    background-image: linear-gradient(to bottom, #3b8fe3, #1d60a3, #7f04c7);
    background-size: cover; /* This will cover the full area of the element */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center; /* This keeps the image centered */
}

h1 {
    font-size: 30px;
    font-family: myFont2; 
    color: white;
    /* border: 1px solid yellow; */
}

h2 {
    font-size: 24px;
    font-family: myFont3;
    color: white;
}

h3 {
    font-size: 20px;
    font-family: myFont3;
    color: white;
}

/* Adjust these to only apply to the HyperChill.io Header */
@media (max-width: 400px) {
    .container h1 {
        font-size: 26px;
    }
}

@media (max-width: 354px) {
    .container h1 {
        font-size: 23px;
    }
}

h4 {
    font-family: myFont2;
    color: white;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
}

main {
    display: block;
}

#main-container {
    /* Fixed dimensions */
    width: 100%;
    max-width: 600px;
    
    /* Centering it horizontally */
    margin-left: auto;
    margin-right: auto;

    align-items: center;
    flex-direction: column; 
    
    box-sizing: border-box;

    padding: 10px;
    /* border: 1px solid rgb(0, 255, 200); */
}

.header-btns {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    /* border: 2px solid black; */
}

#reportBtn {
    display: flex;         /* Convert the button into a flex container */
    justify-content: space-around;
    align-items: center;   /* Vertically center the contents */
    margin-right: 10px;
}

#menuBtn {
    display: flex;         /* Convert the button into a flex container */
    justify-content: space-around;
    align-items: center;   /* Vertically center the contents */
}

#reportIcon {
    width: 20px;
    height: 20px;
}

#menuIcon {
    width: 20px;
    height: 20px;
}

.header-btns button {
    width: 100px;           /* Set a specific width */
}

@media (max-width: 599px) {
    #reportBtn div {
        display: none;
    }
    #menuBtn div {
        display: none;
    }
    .header-btns button {
        width: 50px;
    }
}

#target-hours-container {
    display: flex;
    align-items: center;

    justify-content: center;
    
    background-color: rgba(0, 0, 0, 0.35);
    /* background-color: rgba(0, 0, 0, 0.5); */
    
    /* Centering it horizontally */
    margin-left: auto;
    margin-right: auto;
    
    /* Fixed dimensions */
    width: 100%;
    max-width: 500px;
    
    height: 65px;
    
    border: 1px rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
    
    border-radius: 10px; /* Created corner curves */
    
    /* POTENTIAL DESIGN ALTERNATIVE -- WHITE BORDER */
    /* border: 3px solid rgb(255, 255, 255); */
}

#target-hours-sub-container {
    display: flex;
    align-items: center;

    width: 350px;

    justify-content: space-between;

    margin: 10px;

    /* border: 1px solid blue; */
    
}

#target-label {
    /* border: 1px solid yellow; */
    display: flex;
    justify-content: center;
}

#target-hours {
    width: 40px;
    height: 20px;
    background-color: #e0e0e0;
    font-size: 16px;
    padding: 8px 12px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 1px solid white;
}

@media (max-width: 374px) {
    #target-label {
        width: 60px;
    }
}

#target-hours-submit {
    width: 100px;
}

.finalized-hours {
    font-family: myFont2;
    color: rgba(255, 255, 255); /* finalized text color */
}

.finalized-suggestion-minutes {
    font-family: myFont2;
    color: rgba(255, 255, 255); /* finalized text color */
}

#timekeeping-container {
    display: flex;
    justify-content: center;

    padding-block: 50px;
    margin-block: 10px;
    margin-top: 25px;
    margin-bottom: 100px;

    background-color: rgba(0, 0, 0, 0.35);
    /* background-color: rgba(0, 0, 0, 0.5); */

    /* Centering it horizontally */
    margin-left: auto;
    margin-right: auto;

    flex-direction: column;
    align-items: center;

    width: 100%;
    max-width: 400px;

    box-sizing: border-box;
    
    border-radius: 20px;
    
    /* POTENTIAL DESIGN ALTERNATIVE -- WHITE BORDER */
    /* border: 3px solid rgb(255, 255, 255); */
}

.lower-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    /* border: 1px solid yellow; */
}

.stopwatch {
    padding-block: 25px;
    font-size: 48px;
    /* border: 1px solid yellow; */
    color: white;
}

#start-stop {
    width: 85px;
}


button {
    background-color: white;
    color: black;
    border: 1px solid white;
    outline: none;
    padding: 8px 15px;
    cursor: pointer;
    border-radius: 5px;
    font-family: myFont2;
    font-size: 16px;
}

button:active {
    background-color: #e6e6e6;
    transform: scale(0.95);
}

button:focus {
    box-shadow: none;
}

button:hover {
    background-color: rgb(226, 226, 226);
    border-color: rgb(226, 226, 226);
}

#productivity-chill-mode {
    /* border: 1px solid yellow; */
    color: white;
}

#session-log {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
}

#session-log p {
    margin-top: 0px;
}

.session-log-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}

#progress-bar-container {
    display: flex;
    align-items: center;

    justify-content: center;
    
    /* background-color: rgba(0, 0, 0, 0.35); */
    background-color: rgba(255, 255, 255, 0.25);
    
    /* Centering it horizontally */
    margin-left: auto;
    margin-right: auto;
    
    /* Fixed dimensions */
    width: 100%;
    max-width: 500px;
    
    height: 65px;
    
    border: 1px rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
    
    border-radius: 40px; /* Created corner curves */
    margin-top: 25px;
    
    /* border: 1px solid rgb(255, 255, 255); */
}

.progress-container {
    position: relative;
    width: 90%;
    max-width: 600px;
    height: 30px;
    background-color: #ffffff;
    border-radius: 15px;
    overflow: hidden;
    /* Centering it horizontally */
    margin-left: auto;
    margin-right: auto;
    /* margin-top: 50px; */
}

.progress-bar {
    width: 0%;
    height: 100%;
    background-color: #53e658;
    border-radius: 15px 0 0 15px;
}

.progress-text {
    font-family: myFont2;
    font-size: 18px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    font-weight: bold;
    white-space: nowrap;
}

#display {
    font-family: myFont2;
    font-size: 60px;
    padding-bottom: 25px;
}

@media (max-width: 354px) {
    #display {
        font-size: 50px;
    }
}

.mode-text {
    display: flex;             /* Convert the container to a flex container */
    justify-content: center;   /* Center content horizontally */
    align-items: center;       /* Center content vertically */
    width: 100%;               /* Take up full width of its parent container */
    height: 100%;              /* Take up full height of its parent container */
}

#productivity-chill-mode {
    font-family: myFont2;
    text-align: center;        /* Center the text horizontally */
}

@media (max-width: 379px) {
    #end-session {
        font-size: 0;           /* Hide the original text */
        padding-right: 15px;    /* Adjust padding to compensate for the hidden text */
        position: relative;     /* Positioning context for the pseudo-element */
    }

    #end-session::before {
        content: "End";         /* Add the new text */
        background-color: white;
        color: black;
        border: 1px solid white;
        outline: none;
        padding: 8px 15px;
        cursor: pointer;
        border-radius: 5px;
        font-family: myFont2;
        font-size: 16px;
    }
}

@keyframes pulsate {
    0% {
        box-shadow: 0 0 5px #53e658,
                    0 0 10px #53e658;
    }
    50% {
        box-shadow: 0 0 10px #53e658,
                    0 0 25px #53e658,
                    0 0 30px #53e658;
    }
    100% {
        box-shadow: 0 0 5px #53e658,
                    0 0 10px #53e658;
    }
}

.glowing-effect {
    animation: pulsate 3s infinite; /* The animation will run for 3 seconds and will repeat indefinitely */
}

header {
    /* border: 1px solid yellow; */
    height: 75px;
}

#main_hr {
    height: 1px;
    border: none;
    background-color: rgba(0, 0, 0, 0.25); /* or any desired color */
    margin-bottom: 30px;
}

#popup-menu {
    position: absolute;
    font-family: myFont3;
    font-size: 14px;
    width: 150px;
    height: 120px;
    background: white;
    padding: 5px 0px;
    z-index: 100;
    border-radius: 6px;
    right: 0;
    bottom: 0;
    top: 70px;
    border: 2px solid black;
    display: none;
}

#popup-menu > div {
    position: relative;
    height: 30px;

    display: flex;
    align-items: center;
    justify-content: center; /* Change this to left if you want to add icons */
    height: 30px;
}

#popup-menu > div:hover{
    background-color: rgb(226, 226, 226);
    border-color: rgb(226, 226, 226);
    cursor: pointer;
}

#menu_hr {
    height: 1px;
    border: none;
    background-color: rgba(0, 0, 0, 0.25); /* or any desired color */
    position: absolute;
    left: 0;
    right: 0;
    top: 87px;
    bottom: 0;
    width: 120px;
}

#aboutContainer, #blogContainer {
    position: fixed;
    /* background: rgb(255, 255, 255); */
    background-color: rgba(0, 0, 0, 0.35);
    padding: 10px 10px;
    z-index: 12;
    border-radius: 10px;
    right: 0;
    left: 50%;
    top: 105px;
    /* transform: translate(-50%, -50%); */
    transform: translateX(-50%);
    /* border: 2px solid black; */
    width: 80%;
    max-width: 800px;
    /* min-height: 800px; */

    display: none;
    /* border: 2px solid yellow; */

    max-height: 70vh; /* make smaller to make full 'about window' show up on devices smaller than my iPhone 12 */
    overflow-y: auto;
}

#aboutWindow, #blogWindow {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    /* border: 2px solid yellow; */
}

li {
    font-size: 24px;
    font-family: myFont3;
    color: white;
    font-weight: bold;
}

.blogDescription {
    font-size: 24px;
}

@media (max-width: 1000px) {
    h2 {
        font-size: 20px;
    }
    li {
        font-size: 20px;
    }
}

@media (max-width: 750px) {
    .blogDescription {
        font-size: 20px;
    }
}

@media (max-width: 480px) {
    h2 {
        font-size: 18px;
    }
    li {
        font-size: 18px;
    }
    .blogDescription {
        font-size: 18px;
    }
}

.blog_cell{
    width: 100%;
    height: 200px;

    display: grid;
    grid-template-columns: 1fr 1fr;

    overflow: hidden;

    margin-bottom: 10px;
    cursor: pointer;
}

.blog_cell > div {
    padding: 5px;
}

.blog_cell > div > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

@keyframes rotateIconClockwise {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(90deg);
    }
}

@keyframes rotateIconCounterClockwise {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-90deg);
    }
}

@keyframes bounceLeft {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-5px);
    }
}

@keyframes bounceBack {
    from {
        transform: translateX(-5px);
    }
    to {
        transform: translateX(0);
    }
}

.backIcon {
    position: fixed;
    width: 40px;
    height: 40px;
    z-index: 4;
    left: 10px;
    opacity: 1.00;
}

.backIcon:hover {
    cursor: pointer;
}

.triggerBounceLeft {
    animation: bounceLeft 0.25s forwards;
}

.resetBounce {
    animation: bounceBack 0.25s forwards;
}

.exitIcon {
    position: fixed;
    width: 40px;
    height: 40px;
    z-index: 4;
    right: 10px;
    opacity: 1.00;
}

.exitIcon:hover {
    cursor: pointer;
}

.triggerRotation {
    animation: rotateIconClockwise 0.25s forwards;
}

.resetRotation {
    animation: rotateIconCounterClockwise 0.25s forwards;
}

#blogPostContainer {
    position: fixed;
    background-color: rgb(255, 255, 255);
    padding: 10px 10px;
    z-index: 2;
    border-radius: 10px;
    right: 0;
    left: 50%;
    top: 105px;
    transform: translateX(-50%);
    width: 80%;
    max-width: 800px;

    display: none;
    max-height: 70vh;
    overflow-y: auto;
    /* border: 2px solid yellow; */
}


.blog {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.hidden {
    display: none;
}

.mainBlogContent h2 {
    text-align: center;
}

.blog h1 {
    font-family: 'Lato', sans-serif;
    font-weight: 800;
    color: black;
    margin: 0 auto;
    text-align: center;
}

.blog h2 {
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    color: black;
}

.blog h3 {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: black;
}

.blog p {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: black;
    font-size: 18px;
}

.blog ul {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: black;
    font-size: 18px;
}

.blog li {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: black;
    font-size: 18px;
}

.blogHeaderImage > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    padding-top: 50px;
    padding-bottom: 5px;
}

iframe {
    width: 100%;
    height: 100%;
}

.iframe-container {
    max-width: 560px;
    width: 100%;
    height: 315px;
    margin-top: 50px;
    margin-bottom: 5px;
}

#settingsContainer {
    position: fixed;
    background-color: rgb(255, 255, 255);
    padding: 10px 10px;
    z-index: 12;
    border-radius: 10px;
    right: 0;
    left: 50%;
    top: 105px;
    transform: translateX(-50%);
    width: 50%;
    max-width: 600px;
    min-width: 312px;

    display: none;
    /* border: 2px solid yellow; */

    max-height: 70vh;
    overflow-y: auto;
}

#settingsWindow {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    /* border: 2px solid yellow; */
}

.settings h1 {
    color: black;
}

.settings h2 {
    color: black;
}

.settings h3 {
    color: black;
}

.settings p {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: black;
    font-size: 18px;
}

.settings hr {
    height: 1px;
    width: 100%;
    border: none;
    background-color: rgba(0, 0, 0, 0.25); /* or any desired color */
}

#compare_chartContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

#compare_chart {
    height: 50%;
    width: 50%;
}

.settingsMicroContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    /* border: 2px solid yellow; */
}

#toggleBreakSuggestionContainer {
    width: 100%;
    /* border: 2px solid yellow; */
}

.toggle-checkbox {
    display: none;
}

.toggle-label {
    display: block;
    width: 60px;
    height: 30px;
    background-color: #e0e0e0;
    border-radius: 30px;
    position: relative;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border: 3px solid rgba(0, 0, 0, 0.25);
}

.toggle-ball {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: #ffffff;
    border-radius: 50%;
    top: 0;
    left: 0;
    transition: all 0.3s ease;
}

/* For Target Time Reached Alert Toggle */
#targetTimeReachedToggle:checked + #targetTimeReachedToggleLabel {
    background-color: #53e658;
}

#targetTimeReachedToggle:checked + #targetTimeReachedToggleLabel #targetTimeReachedToggleBall {
    left: 30px;
}

/* For Break Suggestion Toggle */
#breakSuggestionToggle:checked + #breakSuggestionToggleLabel {
    background-color: #53e658;
}

#breakSuggestionToggle:checked + #breakSuggestionToggleLabel #breakSuggestionToggleBall {
    left: 30px;
}

/* For Transition Clock Sound Toggle */
#transitionClockSoundToggle:checked + #transitionClockSoundToggleLabel {
    background-color: #53e658;
}

#transitionClockSoundToggle:checked + #transitionClockSoundToggleLabel #transitionClockSoundToggleBall {
    left: 30px;
}

#breakSuggestionText {
    display: flex;
    /* border: 2px solid yellow; */
    align-items: center;
}

#breakSuggestionText p {
    display: flex;
    /* border: 2px solid black; */
}

#breakSuggestionInfoIcon {
    position: relative;
    width: 20px;
    height: 20px;
    z-index: 4;
    opacity: 1.00;
    padding: 5px;
    cursor: pointer;
    /* border: 2px solid black; */
}

@media (max-width: 670px) {
    #breakSuggestionInfoIcon {
        margin-right: 65px;
    }
}

#breakSuggestionInfoMessage {
    position: absolute;
    font-family: myFont3;
    font-size: 14px;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 280px;
    height: auto; /* Change the height to auto */
    background: rgb(255, 255, 255);
    z-index: 100;
    padding: 0px 10px;
    border-radius: 6px;
    border: 2px solid black;
    display: none;
}

/* background-color: #5c5c5c; */

#suggestionMinutesInput {
    width: 40px;
    height: 20px;
    background-color: #e0e0e0;
    font-size: 16px;
    padding: 8px 12px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 1px solid white;
    margin-right: 15px;
}

#suggestionMinutesContainer {
    width: 100%;
    display: none;
}

.toggleContainer {
    display: flex;
    align-items: center;
    /* border: 2px solid yellow; */
}

#suggestion-minutes-submit {
    background-color: #e0e0e0;
    color: black;
    border: 1px solid white;
    outline: none;
    padding: 8px 15px;
    cursor: pointer;
    border-radius: 5px;
    font-family: myFont2;
    font-size: 16px;
    width: 100px;
}

#suggestion-minutes-submit:active {
    background-color: #e0e0e0;
    transform: scale(0.95);
}

#breakSuggestionBlock {
    display: block;
}

.settingsIconTextContainer {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.settingsIcon {
    position: relative;
    width: 30px;
    height: 30px;
    z-index: 4;
    opacity: 1.00;
    right: 10px;
    /* border: 2px solid yellow; */
}

.settingsCategory {
    width: 100%;
    height: 100%;
    /* border: 2px solid yellow; */
}

#academicWeaponSelect {
    width: 100px;
    height: 25px;
}

#swordIcon {
    width: 35px;
    height: 35px;
}

#academicWeaponSelect {
    /* Apply font styles */
    font-family: myFont2;
    font-size: 16px;
    
    /* Adjust background and border styles */
    background-color: #e0e0e0;
    border: 1px solid white;
    border-radius: 4px;
    
    /* Add box shadow for a subtle lift */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    
    /* Set the text color */
    color: black;
}

/* Style the options within the select */
#academicWeaponSelect option {
    font-family: myFont2;
    font-size: 16px;
    color: black;
}

#loginWindow, #signupWindow {
    height: 80%;
    min-height: 100px;
    margin: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 3px solid red; */
}

#loginLogo, #signupLogo {
    text-align: center;
    /* border: 3px solid black; */
}

#loginText, #signupText {
    text-align: center;
    /* border: 3px solid black; */
}

#loginInputWindow, #signupInputWindow {
    background-color: white;
    height: 400px;
    width: 350px;
    border-radius: 10px;

    display: flex;
    flex-direction: column; /* Stack items vertically */
    justify-content: center; /* Center items vertically */
    align-items: center;
}

.emailBlock,
#passwordBlock {
    margin-bottom: 20px; /* Add some spacing between the blocks */
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

#emailBlock label,
#passwordBlock label {
    margin-bottom: 5px; /* Add some spacing between the label and input */
}

.loginInput, .signupInput {
    width: 250px;
    height: 35px;
    border-radius: 5px;
    background-color: #dfdfdf;
    border: 0px;
    margin-top: -10px;
}

@media (max-width: 349px) {
    #loginInputWindow {
        width: 300px;
    }
    #signupInputWindow {
        width: 300px;
    }
}

.googleIcon {
    width: 20px;
    height: 20px;
    padding-right: 10px;
}

#googleSignInBlock, #googleSignUpBlock {
    margin-bottom: 10px; /* Adjust the margin as needed to move it closer to the top */
    margin-top: 20px;
}

#googleSignInBtn, #googleSignUpBtn {
    display: flex;         /* Convert the button into a flex container */
    justify-content: space-around;
    align-items: center;   /* Vertically center the contents */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    height: 50px;
    width: 250px;
}

.hr_or_hr_block {
    width: 250px;
    display: flex;
    flex-direction: row;
    align-items: center; /* Center items vertically */
    margin-top: 10px;
}

.or {
    padding-left: 10px;
    padding-right: 10px;
    font-family: myFont2;
    font-size: 14px;
}

.or_hr {
    width: 110px;
    border-color: #ffffff;
}

.emailBlock > h3 {
    color: black;
    font-size: 14px;
}

#passwordBlock {
    margin-top: -5px;
    margin-bottom: 30px;
}

#passwordBlock > h3 {
    color: black;
    font-size: 14px;
}

#forgotPasswordContainer > h3 {
    color: black;
    font-size: 14px;
}

#loginSubmitBtnContainer, #signupSubmitBtnContainer {
    margin-bottom: 10px;
}

#forgotPassword_h3:hover {
    cursor: pointer;
}

#createAccountContainer, #logBackInContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5px;
}

.accountRevert {
    color: white;
    font-size: 14px;
}

#createAccount2_h3:hover, #logBackIn2_h3:hover{
    cursor: pointer;
}

#noAccountText, #logBackInText {
    margin-bottom: -20px;
}

#signUpEmail {
    margin-bottom: 30px;
}