@font-face {
    font-family: myFontBlog;
    src: url("../fonts/CPMono_v07_Plain.woff");
}

@font-face {
    font-family: myFont2;
    src: url("../fonts/CPMono_v07_Bold.woff");
}

@font-face {
    font-family: myFont3;
    src: url("../fonts/CPMono_v07_Light.woff");
}

body {
    font-family: myFont;
}

html, body { /* Extra step to ensure gradient covers entire window on all browsers */
    margin: 0;
    height: 100%;
    background-image: linear-gradient(to bottom, #ff595e, #ca403b);

    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1 {
    font-size: 30px;
    font-family: myFont2; 
    color: white;
    /* border: 1px solid yellow; */
}

h2 {
    font-size: 24px;
    font-family: myFont3;
    color: white;
}

@media (max-width: 409px) {
    h1 {
        font-size: 24px;
    }
}

h4 {
    font-family: myFont2;
    color: white;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
}

main {
    display: block;
}

#main-container {
    /* Fixed dimensions */
    width: 100%;
    max-width: 600px;
    
    /* Centering it horizontally */
    margin-left: auto;
    margin-right: auto;

    align-items: center;
    flex-direction: column; 
    
    box-sizing: border-box;

    padding: 10px;
    /* border: 1px solid rgb(0, 255, 200); */
}

.header-btns {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    /* border: 2px solid black; */
}

#reportBtn {
    display: flex;         /* Convert the button into a flex container */
    justify-content: space-around;
    align-items: center;   /* Vertically center the contents */
    margin-right: 10px;
}

#menuBtn {
    display: flex;         /* Convert the button into a flex container */
    justify-content: space-around;
    align-items: center;   /* Vertically center the contents */
}

#reportIcon {
    width: 20px;
    height: 20px;
}

#menuIcon {
    width: 20px;
    height: 20px;
}

.header-btns button {
    width: 100px;           /* Set a specific width */
}

@media (max-width: 599px) {
    #reportBtn div {
        display: none;
    }
    #menuBtn div {
        display: none;
    }
    .header-btns button {
        width: 50px;
    }
}

#target-hours-container {
    display: flex;
    align-items: center;

    justify-content: center;
    
    background-color: rgba(0, 0, 0, 0.25);
    
    /* Centering it horizontally */
    margin-left: auto;
    margin-right: auto;
    
    /* Fixed dimensions */
    width: 100%;
    max-width: 500px;
    
    height: 65px;
    
    border: 1px rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
    
    border-radius: 10px; /* Created corner curves */
    
    /* border: 1px solid yellow; */
}

#target-hours-sub-container {
    display: flex;
    align-items: center;

    width: 350px;

    justify-content: space-between;

    margin: 10px;

    /* border: 1px solid blue; */
    
}

#target-label {
    /* border: 1px solid yellow; */
    display: flex;
    justify-content: center;
}

#target-hours {
    width: 40px;
    height: 20px;
    background-color: rgb(175, 175, 175);
    font-size: 16px;
}

@media (max-width: 374px) {
    #target-label {
        width: 60px;
    }
}

#target-hours-submit {
    width: 100px;
}

hr {
    height: 2px;
    background-color: white;
    border: none;
}

#timekeeping-container {
    display: flex;
    justify-content: center;

    padding-block: 50px;
    margin-block: 10px;
    margin-top: 50px;
    margin-bottom: 100px;

    background-color: rgba(0, 0, 0, 0.25);

    /* Centering it horizontally */
    margin-left: auto;
    margin-right: auto;

    flex-direction: column;
    align-items: center;

    width: 100%;
    max-width: 400px;

    border: 1px rgba(0, 0, 0, 0.25);
    box-sizing: border-box;

    border-radius: 20px;
}

.lower-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    /* border: 1px solid yellow; */
}

.stopwatch {
    padding-block: 25px;
    font-size: 48px;
    /* border: 1px solid yellow; */
    color: white;
}

#start-stop {
    width: 85px;
}


button {
    background-color: white;
    color: black;
    border: 1px solid white;
    outline: none;
    padding: 8px 15px;
    cursor: pointer;
    border-radius: 5px;
    font-family: myFont2;
    font-size: 16px;
}

button:active {
    background-color: #e6e6e6;
    transform: scale(0.95);
}

button:focus {
    box-shadow: none;
}

button:hover {
    background-color: rgb(226, 226, 226);
    border-color: rgb(226, 226, 226);
}

#productivity-chill-mode {
    /* border: 1px solid yellow; */
    color: white;
}

#session-log {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
}

#session-log p {
    margin-top: 0px;
}

.session-log-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}

.progress-container {
    position: relative;
    width: 100%;
    max-width: 600px;
    height: 30px;
    background-color: #ffffff;
    border-radius: 15px;
    overflow: hidden;
    /* Centering it horizontally */
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.progress-bar {
    width: 0%;
    height: 100%;
    background-color: #53e658;
    border-radius: 15px 0 0 15px;
}

.progress-text {
    font-family: myFont2;
    font-size: 18px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    font-weight: bold;
    white-space: nowrap;
}

#target-hours {
    padding: 8px 12px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 1px solid white;
}

#display {
    font-family: myFont2;
    font-size: 60px;
    padding-bottom: 25px;
}

@media (max-width: 354px) {
    #display {
        font-size: 50px;
    }
}

.mode-text {
    display: flex;             /* Convert the container to a flex container */
    justify-content: center;   /* Center content horizontally */
    align-items: center;       /* Center content vertically */
    width: 100%;               /* Take up full width of its parent container */
    height: 100%;              /* Take up full height of its parent container */
}

#productivity-chill-mode {
    font-family: myFont2;
    text-align: center;        /* Center the text horizontally */
}

@media (max-width: 379px) {
    #end-session {
        font-size: 0;           /* Hide the original text */
        padding-right: 15px;    /* Adjust padding to compensate for the hidden text */
        position: relative;     /* Positioning context for the pseudo-element */
    }

    #end-session::before {
        content: "End";         /* Add the new text */
        background-color: white;
        color: black;
        border: 1px solid white;
        outline: none;
        padding: 8px 15px;
        cursor: pointer;
        border-radius: 5px;
        font-family: myFont2;
        font-size: 16px;
    }
}

@keyframes pulsate {
    0% {
        box-shadow: 0 0 5px #53e658,
                    0 0 10px #53e658;
    }
    50% {
        box-shadow: 0 0 10px #53e658,
                    0 0 25px #53e658,
                    0 0 30px #53e658;
    }
    100% {
        box-shadow: 0 0 5px #53e658,
                    0 0 10px #53e658;
    }
}

.glowing-effect {
    animation: pulsate 3s infinite; /* The animation will run for 3 seconds and will repeat indefinitely */
}

header {
    /* border: 1px solid yellow; */
    height: 75px;
}

#main_hr {
    height: 1px;
    border: none;
    background-color: rgba(0, 0, 0, 0.25); /* or any desired color */
    margin-bottom: 30px;
}

#popup-menu {
    position: absolute;
    font-family: myFont3;
    font-size: 14px;
    width: 150px;
    height: 120px;
    background: white;
    padding: 5px 0px;
    z-index: 100;
    border-radius: 6px;
    right: 0;
    bottom: 0;
    top: 70px;
    border: 2px solid black;
    display: none;
}

#popup-menu > div {
    position: relative;
    height: 30px;

    display: flex;
    align-items: center;
    justify-content: center; /* Change this to left if you want to add icons */
    height: 30px;
}

#popup-menu > div:hover{
    background-color: rgb(226, 226, 226);
    border-color: rgb(226, 226, 226);
    cursor: pointer;
}

#menu_hr {
    height: 1px;
    border: none;
    background-color: rgba(0, 0, 0, 0.25); /* or any desired color */
    position: absolute;
    left: 0;
    right: 0;
    top: 87px;
    bottom: 0;
    width: 120px;
}

#aboutContainer, #blogContainer {
    position: fixed;
    /* background: rgb(255, 255, 255); */
    background-color: rgba(0, 0, 0, 0.25);
    padding: 10px 10px;
    z-index: 12;
    border-radius: 10px;
    right: 0;
    left: 50%;
    top: 105px;
    /* transform: translate(-50%, -50%); */
    transform: translateX(-50%);
    /* border: 2px solid black; */
    width: 80%;
    max-width: 800px;
    /* min-height: 800px; */

    display: none;
    /* border: 2px solid yellow; */

    max-height: 70vh; /* make smaller to make full 'about window' show up on devices smaller than my iPhone 12 */
    overflow-y: auto;
}

#aboutWindow, #blogWindow {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    /* border: 2px solid yellow; */
}

li {
    font-size: 24px;
    font-family: myFont3;
    color: white;
    font-weight: bold;
}

.blogDescription {
    font-size: 18px;
}

@media (max-width: 1000px) {
    h2 {
        font-size: 20px;
    }
    li {
        font-size: 20px;
    }
}

@media (max-width: 750px) {
    .blogDescription {
        font-size: 15px;
    }
}

@media (max-width: 480px) {
    h2 {
        font-size: 18px;
    }
    li {
        font-size: 18px;
    }
    .blogDescription {
        font-size: 12px;
    }
}

.blog_cell{
    width: 100%;
    height: 200px;

    display: grid;
    grid-template-columns: 1fr 1fr;

    overflow: hidden;

    margin-bottom: 10px;
    cursor: pointer;
}

.blog_cell > div {
    padding: 5px;
}

.blog_cell > div > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

@keyframes rotateIconClockwise {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(90deg);
    }
}

@keyframes rotateIconCounterClockwise {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-90deg);
    }
}

@keyframes bounceLeft {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-5px);
    }
}

@keyframes bounceBack {
    from {
        transform: translateX(-5px);
    }
    to {
        transform: translateX(0);
    }
}

.backIcon {
    position: fixed;
    width: 40px;
    height: 40px;
    z-index: 4;
    left: 10px;
    opacity: 1.00;
}

.backIcon:hover {
    cursor: pointer;
}

.triggerBounceLeft {
    animation: bounceLeft 0.25s forwards;
}

.resetBounce {
    animation: bounceBack 0.25s forwards;
}

.exitIcon {
    position: fixed;
    width: 40px;
    height: 40px;
    z-index: 4;
    right: 10px;
    opacity: 1.00;
}

.exitIcon:hover {
    cursor: pointer;
}

.triggerRotation {
    animation: rotateIconClockwise 0.25s forwards;
}

.resetRotation {
    animation: rotateIconCounterClockwise 0.25s forwards;
}

#blogPostContainer {
    position: fixed;
    background-color: rgb(255, 255, 255);
    padding: 10px 10px;
    z-index: 2;
    border-radius: 10px;
    right: 0;
    left: 50%;
    top: 105px;
    transform: translateX(-50%);
    width: 80%;
    max-width: 800px;

    display: none;
    max-height: 70vh;
    overflow-y: auto;
    /* border: 2px solid yellow; */
}


.blog {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.hidden {
    display: none;
}

.blog h1 {
    font-family: 'Lato', sans-serif;
    font-weight: 800;
    color: black;
    margin: 0 auto;
    text-align: center;
}

.blog h2 {
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    color: black;
}

.blog p {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: black;
    font-size: 18px;
}

.blogHeaderImage > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    padding-top: 50px;
}