@font-face {
    font-family: myFontBlog;
    src: url("../fonts/CPMono_v07_Plain.woff");
}

@font-face {
    font-family: myFont2;
    src: url("../fonts/CPMono_v07_Bold.woff");
}

@font-face {
    font-family: myFont3;
    src: url("../fonts/CPMono_v07_Light.woff");
}

/* Makes it so user can't select images used for animations */
.no-select {
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;     /* Internet Explorer/Edge */
    user-select: none;         /* Non-prefixed version, currently supported by Chrome, Opera, and Edge */
    pointer-events: none;      /* This makes it so the image cannot be interacted with */
}

body {
    font-family: myFont;
    overflow-y: scroll;
}


html, body {
    margin: 0;
    height: 100%;
    /* background-image: linear-gradient(to bottom, #3b8fe3, #1d60a3, #7f04c7); */
    background-size: cover; /* This will cover the full area of the element */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center; /* This keeps the image centered */
    
    
    animation: animateBackground 30s ease infinite;
    background: linear-gradient(270deg, #3b8fe3, #1d60a3, #7f04c7);
    background-size: 400% 400%;

    /* border: 3px solid white; */
    
    /* overflow: hidden; */
}

html::-webkit-scrollbar {
    width:10px;
    height: 8px;
}

html::-webkit-scrollbar:hover {
    cursor: pointer;
}

html::-webkit-scrollbar-track {
    /* background: transparent; */
    background: rgba(255, 255, 255, 0);
}

html::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
}

@keyframes animateBackground {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

h1 {
    font-size: 30px;
    font-family: myFont2; 
    color: white;
    /* border: 1px solid yellow; */
}

h2 {
    font-size: 24px;
    font-family: myFont3;
    color: white;
}

h3 {
    font-size: 20px;
    font-family: myFont3;
    color: white;
}

/* Adjust these to only apply to the HyperChill.io Header */
@media (max-width: 400px) {
    .container h1 {
        font-size: 26px;
    }
}

@media (max-width: 354px) {
    .container h1 {
        font-size: 23px;
    }
}

h4 {
    font-family: myFont2;
    color: white;
}

#hyperChillLogoImage {
    height: 40px;
    width: 56.20px;
    margin-left: -5px;

    /* border: 1px solid red; */
    opacity: 0;
}

.hyperChillLogoRotate {
    animation: logoRotate 60s linear infinite;
}

@keyframes logoRotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.caption {
    font-family: myFont2;
}

.dash-mode {
    display: none;
    /* display: inline-flex; */
    opacity: 0;
    width: 102px;
    /* background-color: rgba(0, 0, 0, 0.35); */
    border-radius: 2rem;
    cursor: pointer;
    border: 3px solid #ffffff;
    position: relative;
    transition: opacity 1s ease-in-out;
}

.dash-mode::after {
    content: "";
    background: linear-gradient(155deg, #BCA0FF 0%, #6C37ED 100%);
    box-shadow: 0px 4px 4px 0px rgba(108,55,237,.41);
    z-index: 5;
    left: 0;
    height: var(--circ-size);
    width: var(--circ-size);
    position: absolute;
    top: calc((100% - var(--circ-size))/2);
    border-radius: 1000px;
    --circ-size: 36px;
    transition: all 175ms ease-in-out;
    translate: calc(var(--circ-size)/4*3.675)
}

.dash-mode:active::after {
    transform: scale(1.15)
}

body[data-dashboard-mode=report] .dash-mode::after {
    translate: 0
}

body[data-dashboard-mode=home] .dash-mode::after {
    translate: calc(var(--circ-size)/4*3.675)
}

body[data-dashboard-mode=blog] .dash-mode::after {
    translate: calc(var(--circ-size)/2*3.675)
}

.dash-mode svg {
    position: relative;
    z-index: 10
}

.dash-mode .caption {
    position: absolute;
    bottom: -1.75rem;
    left: 0;
    width: 100%;
    font-weight: 600;
    letter-spacing: -0.045rem;
    text-align: center
}

.dash-mode .caption span {
    display: none;
    color: #ffffff;
    transition: color 375ms ease-in-out
}

body[data-dashboard-mode=report] .dash-mode .caption [data-mode=report] {
    display: block
}

body[data-dashboard-mode=home] .dash-mode .caption [data-mode=home] {
    display: block
}

body[data-dashboard-mode=blog] .dash-mode .caption [data-mode=blog] {
    display: block
}

.threeWayToggleIcon {
    width: 30px;
    height: 30px;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;

    /* border: 3px solid rgb(0, 230, 0); */
    height: 95%;

    align-items: center;
}

main {
    display: block;
    /* border: 3px solid red; */
}

#sub-main-container {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    margin-top: 25px;

    opacity: 0;
    transition: opacity 1s ease-in-out;

    /* border: 3px solid black; */
}

#main-container {
    /* Fixed dimensions */
    position: relative;
    width: 100%;
    /* max-width: 600px; */
    
    /* Centering it horizontally */
    margin-left: auto;
    margin-right: auto;

    align-items: center;
    flex-direction: column; 
    
    box-sizing: border-box;

    padding: 25px;
    /* border: 1px solid cyan; */
}

@media (max-width: 504px) {
    #target-hours-interruptions-container {
        flex-direction: column;
        align-items: center;
        /* border: 1px solid yellow; */
        height: 325px;
    }
    #target-hours-container {
        margin-right: 0px;
    }
    #chillAnimation {
        margin-top: 150px;
    }
    #flowAnimation {
        margin-top: 170px;
    }
}

.header-btns {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    /* border: 2px solid black; */
}

/* Could make this styling more consistent... */
#menuBtn {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50px;
    transform: scale(0.75);

    opacity: 0;
    transition: opacity 1s ease-in-out;
    border: 4px solid white;
}

#menuIcon {
    width: 30px;
    height: 30px;
    display: flex;
}

#menuIcon-black {
    width: 30px;
    height: 30px;
    display: none;
}

#menuBtn:hover #menuIcon {
    display: none;
}

#menuBtn:hover #menuIcon-black {
    display: flex;
}

.header-btns button {
    width: 100px;
}

@media (max-width: 599px) {
    /* #reportBtn div {
        display: none;
    }
    #reportBtn {
        width: 50px;
    } */
    #reportIcon {
        display: flex;
    }
    #menuIcon {
        display: flex;
    }
    .header-btns button {
        width: 50px;
    }
    #reportBtn:hover #reportIcon {
        display: none;
    }
    #reportBtn:hover #reportIcon-black {
        display: flex;
    }
}

#target-hours-interruptions-container {
    display: flex;
    justify-content: space-between;
    /* justify-content: center; */
    width: 575px;

    margin-left: auto;
    margin-right: auto;
    
    /* border: 1px solid orange; */
}

@media (max-width: 635px) {
    #target-hours-interruptions-container {
        width: 100%;
    }
}

@media (max-width: 400px) {
    button {
        transform: scale(0.9);
    }
}

#interruptions-container {
    display: flex;
    align-items: center;

    justify-content: center;
    
    background-color: rgba(0, 0, 0, 0.35);

    /* DARK GREY THEME BACKGROUND */
    /* background-color: rgba(32, 32, 32, 0.9); */

    /* POTENTIAL DESIGN ALTERNATIVE -- WHITE BORDER */
    /* border: 3px solid rgb(255, 255, 255); */
    
    height: 150px;

    width: 100%;
    
    /* border: 1px rgba(0, 0, 0, 0.25); */
    box-sizing: border-box;
    
    border-radius: 25px; /* Created corner curves */
    /* border: 1px solid yellow; */

}

#target-hours-container {
    display: flex;
    align-items: center;

    justify-content: center;
    
    background-color: rgba(0, 0, 0, 0.35);

    /* DARK GREY THEME BACKGROUND */
    /* background-color: rgba(32, 32, 32, 0.9); */

    /* POTENTIAL DESIGN ALTERNATIVE -- WHITE BORDER */
    /* border: 3px solid rgb(255, 255, 255); */
    
    /* Fixed dimensions */
    width: 100%;
    
    height: 150px;
    
    /* border: 1px rgba(0, 0, 0, 0.25); */
    box-sizing: border-box;
    
    border-radius: 25px; /* Created corner curves */
    /* border: 1px solid yellow; */


}

@media (min-width: 505px) {
    #interruptions-container {
        max-width: 275px;
    }
    #target-hours-container {
        max-width: 275px;
        margin-right: 15px;
    }
}

#suggestionBreakContainer {
    display: none;
    /* border: 1px solid purple; */
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 225px;
}

#completedPomodorosContainer {
    display: none;
    /* border: 1px solid purple; */
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 225px;
    margin-bottom: 30px;
    margin-top: 6px;
}

#interruptions-sub-container {
    margin-top: 6px;
    /* border: 1px solid yellow; */
}

#interruptions-change-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: -8px;
    margin-bottom: 30px;
    /* border: 1px solid brown; */
}

.interruptionsDivBtn {
    background-color: rgba(255, 255, 255, 0);
    border: 2px solid white;
    color: white;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: myFont3;
    font-size: 50px;
    transition: background-color 0.25s ease;
    line-height: 0%;
}

#decBtn:hover {
    background-color: white;
    color: black;
    cursor: pointer;
    transition: transform 0.10s ease;
    transition: background-color 0.25s ease;
}

#decBtn:active {
    transform: scale(0.95);
}

#incBtn:hover {
    background-color: white;
    color: black;
    cursor: pointer;
    transition: transform 0.10s ease;
    transition: background-color 0.25s ease;
}

#incBtn:active {
    transform: scale(0.95);
}

#interruptions_num, #completedPomodoros-min {
    font-family: myFont3;
    font-size: 50px;
    color: white;
}

#completedPomodoros-min {
    margin-top: 7px;
}

#interruptions-label {
    /* border: 1px solid yellow; */
    display: flex;
    justify-content: center;
    font-family: myFont3;
}

#suggestionBreak-label, #completedPomodoros-label {
    /* border: 1px solid yellow; */
    display: flex;
    justify-content: center;
    font-family: myFont3;
    font-size: 20px;
    margin-bottom: 12px;
}

#suggestionBreak-min {
    /* border: 1px solid yellow; */
    display: flex;
    justify-content: center;
    font-family: myFont3;
    border: 2px solid white;
    width: 100px;
    border-radius: 50px;
    margin-bottom: 42px;
    font-size: 20px;
    color: white;
}

#target-hours-sub-container {
    display: flex;
    align-items: center;
    flex-direction: column;

    margin: 10px;

    /* border: 1px solid blue; */
}

#coolDiv-submit {
    display: flex;
    align-items: center;
    /* border: 1px solid yellow; */
    margin-bottom: 30px; /* not sure why this was necessary, 
                            but it had to be done. Items weren't
                            centering properly otherwise. */
}

#coolDiv {
    margin-right: 25px;
}

#target-label {
    /* border: 1px solid yellow; */
    display: flex;
    justify-content: center;
    font-family: myFont3;
}

#target-hours {
    width: 50px;
    height: 20px;
    background-color: #e0e0e0;
    font-size: 16px;
    padding: 8px 12px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 1px solid white;
}

#target-hours-submit {
    width: 125px;
}

.finalized-hours {
    font-family: myFont2;
    color: rgba(255, 255, 255); /* finalized text color */
    margin: 0px;
}

.finalized-suggestion-minutes {
    font-family: myFont2;
    color: rgba(255, 255, 255); /* finalized text color */
}

#timekeeping-container {
    display: flex;
    justify-content: center;

    padding-block: 50px;
    margin-block: 10px;
    margin-top: 25px;
    margin-bottom: 25px;

    background-color: rgba(0, 0, 0, 0.35);

    /* DARK GREY THEME BACKGROUND */
    /* background-color: rgba(32, 32, 32, 0.9); */

    /* POTENTIAL DESIGN ALTERNATIVE -- WHITE BORDER */
    /* border: 3px solid rgb(255, 255, 255); */

    /* Centering it horizontally */
    margin-left: auto;
    margin-right: auto;

    flex-direction: column;
    align-items: center;

    width: 100%;
    max-width: 575px;
    height: 350px;

    box-sizing: border-box;
    
    border-radius: 25px;
    z-index: 1;
    
}

.lower-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 10px;
    /* border: 1px solid yellow; */
}

@media (max-width: 374px) {
    .lower-buttons {
        scale: 0.85;
    }
}

@media (max-width: 320px) {
    .lower-buttons {
        scale: 0.75;
        flex-direction: column;
        align-items: center;
    }
    #display {
        scale: 0.8;
    }
    .container {
        align-items: center;
        justify-content: center;
    }
    #target-hours-interruptions-container {
        display: none;
    }
    #progress-text {
        font-size: 12px;
    }
    #chillAnimation {
        margin-top: -135px;
    }
    #flowAnimation {
        margin-top: -130px;
    }
}

#hyperChillTitle {
    display: block;
    opacity: 0;
    
    transition: opacity 1s ease-in-out;
}

@media (max-width: 465px) {
    #hyperChillTitle {
        display: none;
    }
}

@keyframes hyperChillTitleAnimation {
    0% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0px);
    }
}

@keyframes threeWayToggleAnimation {
    0% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(0px);
    }
}

.hyperChillTitleAnimation {
    animation: hyperChillTitleAnimation 2s;
}

.threeWayToggleAnimation {
    animation: threeWayToggleAnimation 1s;
}

.stopwatch {
    padding-block: 25px;
    font-size: 48px;
    /* border: 1px solid yellow; */
    color: white;
    text-align: center;

    width: 100%;
}

#start-stop {
    width: 115px;
}

button {
    background-color: rgba(255, 255, 255, 0);
    color: white;
    border: 2px solid white;
    outline: none;
    padding: 8px 15px;
    cursor: pointer;
    border-radius: 15px;
    font-family: myFont3;
    font-size: 24px;
    transition: background-color 0.25s ease;
}

button:active {
    /* background-color: #e6e6e6; */
    background-color: white;
    transform: scale(0.95);
    color: black;
}

button:focus {
    box-shadow: none;
}

button:hover {
    background-color: #ffffff;
    border: 2px solid #ffffff;
    /* border-color: rgb(255, 255, 255); */
    color: black;
    transition: transform 0.10s ease;
    transition: background-color 0.25s ease;
}

#productivity-chill-mode {
    /* border: 1px solid yellow; */
    color: white;
    font-family: myFont3;
    text-align: center;        /* Center the text horizontally */
}

#session-log {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
}

#session-log p {
    margin-top: 0px;
}

.session-log-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}

#progress-bar-container {
    display: flex;
    align-items: center;

    justify-content: center;
    
    background-color: rgba(255, 255, 255, 0.25);

    /* DARK GREY THEME BACKGROUND */
    /* background-color: rgba(32, 32, 32, 0.9); */

    /* POTENTIAL DESIGN ALTERNATIVE -- WHITE BORDER */
    /* border: 3px solid rgb(255, 255, 255); */
    
    /* Centering it horizontally */
    margin-left: auto;
    margin-right: auto;
    
    /* Fixed dimensions */
    width: 100%;
    height: 65px;
    transition: width 2s ease-in-out, height 1s ease-in-out;

    max-width: 575px;
    
    border: 1px rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
    
    border-radius: 40px; /* Created corner curves */
    margin-top: 25px;
}

#progress {
    display: flex;
    align-items: center;
    width: 100%;
    height: 80px;
}

/*  This style causes progress container to "bounce" a little on
    mobile viewports during the transition. This isn't a huge deal
    but something to consider fixing later on... It's caused by
    a discrepancy between the width and min-width values */
#progress-bar-container.small {
    width: 180px;
    min-width: 130px;
    height: 50px;
}

#progress-container {
    position: relative;
    width: 90%;
    max-width: 575px;
    height: 30px;
    background-color: #ffffff;
    border-radius: 15px;
    overflow: hidden;
    /* Centering it horizontally */
    margin-left: auto;
    margin-right: auto;
    /* margin-top: 50px; */
}

#progress-bar {
    width: 0%;
    height: 100%;
    background-color: #53e658;
    border-radius: 15px 0 0 15px;

    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

#progress-bar.fullopacity1 {
    opacity: 1;
}

#progress-text {
    font-family: myFont3;
    font-size: 24px;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    font-weight: bold;
    white-space: nowrap;
}

@media (max-width: 280px) {
    #progress-text {
        font-size: 14px;
    }
    #progress-bar-container.small {
        width: 45%;
    }
}

#display {
    font-family: myFont3;
    font-size: 100px;
    /* padding-bottom: 25px; */
    margin-top: -30px;
    margin-bottom: -10px;
    transform: scaleY(1.1);
}

@media (max-width: 599px) {
    #display {
        font-size: 80px;
    }
}

@media (max-width: 472px) {
    #display {
        font-size: 70px;
    }
}

@media (max-width: 404px) {
    #display {
        font-size: 60px;
    }
}

@media (max-width: 350px) {
    #display {
        font-size: 55px;
    }
}

@media (max-width: 250px) {
    #display {
        font-size: 50px;
    }
}

@media (max-width: 230px) {
    #display {
        font-size: 45px;
    }
}

@media (max-width: 215px) {
    #display {
        font-size: 40px;
    }
}

@media (max-width: 200px) {
    #display {
        font-size: 30px;
    }
}

.mode-text {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    /* border: 1px solid green; */
}

@keyframes pulsate {
    0% {
        box-shadow: 0 0 5px #53e658,
                    0 0 10px #53e658;
    }
    50% {
        box-shadow: 0 0 10px #53e658,
                    0 0 25px #53e658,
                    0 0 30px #53e658;
    }
    100% {
        box-shadow: 0 0 5px #53e658,
                    0 0 10px #53e658;
    }
}

.glowing-effect {
    animation: pulsate 3s infinite; /* The animation will run for 3 seconds and will repeat indefinitely */
}

header {
    /* border: 1px solid yellow; */
    height: 75px;
}

#main_hr {
    height: 1px;
    border: none;
    /* background-color: rgba(0, 0, 0, 0.25); */
    background-color: rgba(255, 255, 255, 0.5);
    /* background-color: rgba(255, 255, 255, 0); */
    margin-bottom: 25px;
}

@media (max-width: 1000px) {
    h2 {
        font-size: 20px;
    }
    li {
        font-size: 20px;
    }
}

@media (max-width: 480px) {
    h2 {
        font-size: 18px;
    }
    li {
        font-size: 18px;
    }
}