li {
    font-size: 24px;
    color: white;
    font-weight: bold;
}

#blogHeader {
    font-family: settingsHeaderFontBold;
}

.blogDescription {
    font-size: 24px;
    font-family: settingsHeaderFont;
}

@media (max-width: 480px) {
    .blogDescription {
        font-size: 18px;
    }
}

@media (max-width: 750px) {
    .blogDescription {
        font-size: 20px;
    }
}

.blogHr {
    height: 1px;
    border: none;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.15);
}

.blog_cell {
    width: 100%;
    height: 200px;

    display: grid;
    grid-template-columns: 1fr 1fr;

    overflow: hidden;

    margin-bottom: 10px;
    cursor: pointer;
}

.blog_cell > div {
    padding: 5px;
}

.blog_cell > div > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

#blogPostContainer {
    position: fixed;
    background-color: rgb(255, 255, 255);
    padding: 10px 10px;
    z-index: 2;
    border-radius: 25px;
    right: 0;
    left: 50%;
    top: 125px;
    transform: translateX(-50%);
    width: 80%;
    max-width: 800px;

    display: none;
    max-height: 70vh;
    overflow-y: auto;

    /* border: 2px solid yellow; */
}

.blog {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    font-family: settingsHeaderFont;

    /* border: 1px solid red; */
}

.mainBlogContent {
    display: flex;
    flex-direction: column;
    position: relative;
    max-width: 75%;
    box-sizing: border-box;
    line-height: 1.5;

    /* border: 1px solid green; */
}

.hidden {
    display: none;
}

.mainBlogContent h2 {
    text-align: center;
}

.blog h1 {
    font-family: settingsHeaderFontBold;
    font-weight: 800;
    color: black;
    margin: 0 auto;
    text-align: center;
}

.blog h2 {
    font-family: settingsHeaderFontBold;
    color: black;

    /* border: 1px solid black; */
}

.blog h3 {
    font-family: settingsHeaderFontBold;
    font-weight: 300;
    color: black;
}

.blog p {
    font-weight: 300;
    color: black;
    font-size: 18px;
    
    /* border: 1px solid black; */
}

.blog ul {
    font-weight: 300;
    color: black;
    font-size: 18px;
}

.blog li {
    font-weight: 300;
    color: black;
    font-size: 18px;
    /* margin-top: 10px;
    margin-bottom: 10px; */
}

.blogHeaderImage > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    padding-top: 50px;
    padding-bottom: 5px;
}

iframe {
    width: 100%;
    height: 100%;
}

.iframe-container {
    max-width: 560px;
    width: 100%;
    height: 315px;
    margin-top: 50px;
    margin-bottom: 5px;
}

