#dashboardContainer {
    display: flex; 
    position: relative;
    width: 90%;
    height: calc(100% - 105px);
    min-height: 410px;
    min-width: 320px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    flex-direction: column; 
    box-sizing: border-box;
    margin-top: 25px;
    
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

#dashboardSubContainer {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 1);
    box-sizing: border-box;
    border-radius: 25px;
    z-index: 10;
    padding: 20px;
    justify-content: flex-end;
    flex-direction: column;

    color: white;
    font-family: myFont2;
}

.no-transition {
    transition: none !important;
}

#mainDashboardContainers {
    display: flex;
    margin-top: 10px;
    height: 100%;
    min-height: 250px;
}

#distributionsContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 10px;
}

#metricDistributionContainer {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    box-sizing: border-box;
    border-radius: 25px;
    z-index: 10;
    margin-bottom: 10px;

    color: white;
    font-family: myFont2;
}

#labelDistributionContainer {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    box-sizing: border-box;
    border-radius: 25px;
    z-index: 10;
    margin-top: 10px;
    
    color: white;
    font-family: myFont2;

}

#dashboardSummaryStatsContainer {
    display: flex;
    position: relative;
    width: 100%;
    height: 80px;
    min-height: 80px;
    /* background-color: rgba(255, 255, 255, 0.1); */
    box-sizing: border-box;
    border-radius: 25px;
    z-index: 10;
    margin-bottom: 10px;

    justify-content: space-between;
    align-items: center;
}

.summaryStatContainer {
    display: flex;
    align-items: left;
    justify-content: center;
    box-sizing: border-box;
    flex-direction: column;
    height: 100%;
    padding: 10px;
    border-radius: 25px;
    
    border: 3px solid rgb(255, 255, 255);
}

.summaryStatHeader {
    display: flex;
    text-align: center;
    font-family: settingsHeaderFont; 
    justify-content: left;
    box-sizing: border-box;

    text-align: left;
    
    /* border: 2px solid yellow; */
}

.summaryStat {
    display: flex;
    text-align: left;
    justify-content: left;
    font-size: 24px;
    font-family: settingsHeaderFontBold;
    box-sizing: border-box;
    /* border: 2px solid green; */
}

#avgDeepWorkPerDayStatContainer, #avgFocusQualityPerDayStatContainer, #avgDistractionsPerHourStatContainer {
    margin-left: 10px;
    margin-right: 10px;
}

#totalDeepWorkSummaryStatContainer {
    margin-right: 10px;
}

#mostFocusedHourStatContainer {
    margin-left: 10px;
}

@media(max-width: 1114px) {
    .summaryStatHeader {
        font-size: 14px;
    }
    .summaryStat {
        font-size: 20px;
    }
}

@media(max-width: 978px) {
    .summaryStatHeader {
        font-size: 12px;
    }
    .summaryStat {
        font-size: 18px;
    }
}

@media(max-width: 915px) {
    .summaryStatHeader {
        font-size: 9px;
    }
}

@media(max-width: 852px) {
    .summaryStat {
        font-size: 16px;
    }
}

@media(max-width: 655px) {
    .summaryStat {
        font-size: 14px;
    }
}

@media(max-width: 550px) {
    .summaryStatHeader {
        display: none;
    }
}

@media(max-width: 480px) {
    #avgDeepWorkPerDayStatContainer, #avgFocusQualityPerDayStatContainer, #avgDistractionsPerHourStatContainer {
        margin-left: 2px;
        margin-right: 2px;
    }
    #totalDeepWorkSummaryStatContainer {
        margin-right: 2px;
    }
    #mostFocusedHourStatContainer {
        margin-left: 2px;
    }
}

#dailyContainer {
    display: flex;
    position: relative;
    width: 400px;
    min-width: 200px;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    box-sizing: border-box;
    border-radius: 25px;
    z-index: 10;
    margin-right: 10px;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    flex-direction: column;

    /* border: 3px solid rgb(255, 255, 255); */

    color: white;
    font-family: myFont2;
}

#dailyHeaderContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#dateAndSwitchContainer {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: 50px;

    /* border: 2px solid orange; */
}

#switchContainer {
    display: flex;
    /* border: 2px solid cyan; */
}

#dailyDay {
    font-family: settingsHeaderFontBold;
    font-size: 24px;
}

#dailyDate {
    font-family: settingsHeaderFont;
}

#leftDailyArrow {
    margin-right: 10px;
}

#rightDailyArrow {
    margin-left: 10px;
}

.dailyArrow {
    width: 12px;
    height: auto;
}

.dailyArrow:hover {
    cursor:  pointer;
}

#weeklySummaries {
    width: 100%;
    height: 50px;

    /* border: 2px solid blue; */
}

.dailyContainer {
    box-sizing: border-box;
    /* border: 2px solid blue; */
}