#dashboardContainer {
    display: none;
    position: relative;
    width: 90%;
    height: calc(100% - 105px);
    min-height: 410px;
    min-width: 320px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    flex-direction: column; 
    box-sizing: border-box;
    border-radius: 25px;
    backdrop-filter: blur(100px);
    -webkit-backdrop-filter: blur(100px);
    margin-top: 25px;
    
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

#dashboardContainerCover {
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 1);
    box-sizing: border-box;
    border-radius: 25px;
    z-index: 10;
    text-align: center;

    align-items: center;
    justify-content: center;

    color: white;
    font-family: settingsHeaderFontBold;
}

#dashboardSubContainer {
    display: flex;
    width: 100%;
    height: 100%;
    max-height: 100%;
    background-color: rgba(255, 255, 255, 0.25);
    justify-content: space-between;
    box-sizing: border-box;
    border-radius: 25px;
    z-index: 10;
    padding: 20px;
    min-height: 250px;

    color: white;
    font-family: settingsHeaderFontBold;

    /* border: 2px solid red; */

}

.no-transition {
    transition: none !important;
}

#distributionsContainer {
    display: flex;
    flex-direction: column;
    position: relative;
    max-height: 100%;
    width: 75%;
    min-width: 250px;
    margin-left: 10px;
    margin-right: 10px;

    /* border: 2px solid green; */
}

#dashboardSummaryStatsContainer {
    display: flex;
    position: relative;
    box-sizing: border-box;
    justify-content: space-around;
    width: 225px;
    margin-left: 10px;
    overflow-y: scroll;
    padding-bottom: 15px;

    /* border: 1px solid white; */
}

.summaryStatContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    flex-direction: column;
    height: 80px;
    padding: 10px;
    border-radius: 25px;
    padding-top: 25px;
    padding-bottom: 25px;
    min-height: 125px;
    
    /* border: 3px solid rgb(255, 255, 255); */
}

.summaryStatHeader {
    display: flex;
    text-align: center;
    font-family: settingsHeaderFont; 
    justify-content: left;
    box-sizing: border-box;
    margin-bottom: 10px;
    font-size: 20px;
    
    /* border: 2px solid yellow; */
}

.summaryStat {
    display: flex;
    text-align: left;
    justify-content: left;
    font-size: 24px;
    font-family: settingsHeaderFontBold;
    box-sizing: border-box;
    /* border: 2px solid green; */
    white-space: nowrap;

    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 25px;
    border: 3px solid rgb(255, 255, 255);
}

.dashboardSummaryDivider {
    display: flex;
    position: relative;
    height: 1px;
    width: 100%; 
    background-color: rgba(255, 255, 255, 0.25);
    border: none; /* Remove the default border */
    margin: 0; /* Optionally, remove the default margin */
    padding: 0; /* Optionally, remove the default padding */
}

.dashboardSideContainer {
    display: flex;
    height: 100%;
    /* background-color: rgba(255, 255, 255, 0.1); */
    background-color: rgba(0, 0, 0, 1);
    box-sizing: border-box;
    border-radius: 25px;
    z-index: 12;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;

    flex-direction: column;
    color: white;
    /* overflow-y: scroll; */
}

/* METRIC DISTRIBUTION */

#metricDistributionContainer {
    display: flex;
    flex-direction: column;
    /* position: relative; */
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 1);
    box-sizing: border-box;
    border-radius: 25px;
    z-index: 10;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 10px;
    color: white;
    font-family: settingsHeaderFontBold;
    font-size: 24px;
    overflow-y: visible;

    /* border: 2px solid white; */
}

#metricDistributionCoverContainer {
    /* display: none; */
    display: flex;
    position: relative;
    height: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transition: opacity 0.25s ease-out;

    /* border: 1px solid white; */
}



#metricDistributionCoverModuleContainer {
    display: flex;
    width: 95%;
    height: 70%;
    justify-content: space-around;

    /* border: 1px solid yellow; */
}

.chartsCoverModule {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    width: 40%;
    transition: background-color 0.15s ease-out;

    border: 2px solid white;
}

.chartsCoverModule:hover {
    cursor: pointer;
    background-color: rgba(130, 0, 170, 1);
}

#metricDistributionSubContainer {
    /* display: flex; */
    display: none;
    align-items: center;
    position: relative;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 1);
    box-sizing: border-box;
    z-index: 10;
    opacity: 0;
    transition: opacity 0.5s ease-out;

    /* border: 2px solid gray; */
}

#HC_icon_metric_charts {
    position: absolute;
    height: 100px;
    width: 100px;
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Adjust the position to be exactly centered */
    z-index: -1;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

.metricChartsHr {
    width: 0%;
    /* margin-bottom: 25px; */
    border: 1px solid rgba(255, 255, 255, 0.15);
    opacity: 0;

    box-sizing: border-box;
    margin-bottom: 0;
    margin-top: 10px;

    transition: width 0.5s ease-out, opacity 0.05s ease-out;
}

.metricBodyContainer {
    display: none;
    height: 100%;
    flex-direction: column;
    text-align: center;
    justify-content: flex-start;
    box-sizing: border-box;
    width: 100%;
    align-items: flex-start;
    overflow-y: auto;
    overflow-x: hidden;

    /* border: 1px solid white; */
}

.metricBodyContainer::-webkit-scrollbar {
    width: 0px;
    height: 8px;
}

.metricBodyContainer::-webkit-scrollbar:hover {
    cursor: pointer;
}

.metricBodyContainer::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0);
}

.metricBodyContainer::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
}

#metricDistributionBackBtn {
    width: 32px;
    height: 32px;
    z-index: 4;
    left: 10px;
    opacity: 1.00;
    margin-right: 8px;
    cursor: pointer;
}

.triggerBounceLeft {
    animation: bounceLeft 0.25s forwards;
}

.resetBounce {
    animation: bounceBack 0.25s forwards;
}

#dashboardSummaryStatsContainer::-webkit-scrollbar {
    width: 5px;
    height: 8px;
}

#dashboardSummaryStatsContainer::-webkit-scrollbar:hover {
    cursor: pointer;
}

#dashboardSummaryStatsContainer::-webkit-scrollbar-track {
    /* background: transparent; */
    background: rgba(0, 0, 0, 0)
}

#dashboardSummaryStatsContainer::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
}

.margin-bottom {
    margin-bottom: 20px;
}

/* LABEL DISTRIBUTION */
#labelDistributionContainer {
    display: flex;
    position: relative;
    width: 100%;
    height: auto;
    max-height: 50%;
    background-color: rgba(0, 0, 0, 1);
    box-sizing: border-box;
    flex-direction: column;
    border-radius: 25px;
    z-index: 10;
    margin-top: 10px;
    padding: 15px;
    opacity: 1;
    transition: height 0.5s cubic-bezier(0.25, 0.1, 0.25, 1), padding 0.5s cubic-bezier(0.25, 0.1, 0.25, 1), margin-top 0.5s cubic-bezier(0.25, 0.1, 0.25, 1), opacity 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
    color: white;

    /* border: 1px solid white; */
}

#labelDistributionElement::-webkit-scrollbar {
    width: 0px;
    height: 8px;
}

#labelDistributionElement::-webkit-scrollbar:hover {
    cursor: pointer;
}

#labelDistributionElement::-webkit-scrollbar-track {
    /* background: transparent; */
    background: rgba(255, 255, 255, 0);
}

#labelDistributionElement::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
}

#labelDistributionElement {
    display: flex;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    font-size: 20px;
    font-family: settingsHeaderFontBold;
    align-items: flex-start;
    justify-content: space-between;
    overflow-y: auto;
    
    /* border: 2px solid white; */
}

#labelNamesContainer {
    display: flex;
    text-align: left;
    margin-right: 10px;
    white-space: nowrap;
    height: auto;
    box-sizing: border-box;
    align-items: left;
    font-family: settingsHeaderFont;
    flex-direction: column;

    /* border: 2px solid white; */
}

.labelName {
    display: flex;
    align-items: center;

    /* border: 1px solid yellowgreen; */
}

#labelLinesContainer {
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;

    /* border: 2px solid red; */
}

.labelLineContainer {
    width: 100%;
    align-items: center;

    /* border: 1px solid white; */
}

#labelTimesContainer {
    display: flex;
    height: auto;
    flex-direction: column;
    box-sizing: border-box;
    margin-left: 10px;
    text-align: left;

    /* border: 2px solid blue; */
}

.labelLine {
    position: relative;
    border-radius: 25px;
    height: 10px;
    /* background: linear-gradient(135deg, rgba(130, 0, 170, 0.8), rgb(162, 0, 212), rgba(190, 90, 240, 0.8)); */
    background: rgba(63, 210, 68, 1);
    background-size: 200% 200%;
    animation: gradientShift 15s linear infinite;
    transition: width 1s cubic-bezier(0.25, 0.1, 0.25, 1);
    border: 2px solid white;
}

.labelName, .labelLineContainer, .labelTime {
    display: flex;
    box-sizing: border-box;
    height: 32px;

    /* border: 1px solid white; */
}


@keyframes gradientShift2 {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.labelTime {
    white-space: nowrap;
    justify-content: left;
    align-items: center;
    box-sizing: border-box;
    font-family: settingsHeaderFont;
    font-size: 18px;

    /* border: 1px solid rgba(255, 255, 255, 1); */
}

#labelDistributionHeaderContainer, #metricDistributionHeaderContainer {
    display: flex;
    width: 100%;
    justify-content: space-between;
    box-sizing: border-box;
    font-family: settingsHeaderFont;
    font-size: 18px;
    align-items: center;
    margin-bottom: 10px;

    /* border: 2px solid white; */
}

#labelDistributionArrowsAndSelections, #metricDistributionArrowsAndSelections {
    display: flex;

    /* border: 1px solid yellow; */
}

#labelDistributionSelections {
    display: flex;
}

#labelDistributionArrows, #metricDistributionArrows {
    display: flex;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
}

.leftArrow {
    padding-right: 10px;
}

.rightArrow {
    padding-left: 10px;
}

.dashboardArrow {
    width: 12px;
    height: 20px;
    transition: transform 0.25s ease-out;
}

.dashboardArrow.rightArrow:not(#rightCalendarArrow) {
    display: none;
}

.dashboardArrowGray {
    display: flex;
    width: 12px;
    height: 20px;
}

.dashboardArrow:hover {
    cursor:  pointer;
}

.dashboardArrow:active {
    transform: scale(0.8);
}

.labelDistributionSelection, .metricDistributionSelection {
    margin-left: 5px;
    margin-right: 5px;
    padding: 5px 15px;
    border-radius: 25px;
}

.labelDistributionSelection:not(.labelDistributionSelected):hover, .metricDistributionSelection:not(.metricDistributionSelected):hover {
    cursor: pointer;
}

.labelDistributionSelected, .metricDistributionSelected {
    background: linear-gradient(135deg, rgba(130, 0, 170, 0.8), rgb(162, 0, 212), rgba(190, 90, 240, 0.8));
    background-size: 200% 200%;
    animation: gradientShift 15s linear infinite;
}

.summarySelected {
    background-color: rgba(63, 210, 68, 1);
}

.labelDistributionSelected:hover, .metricDistributionSelected:hover {
    cursor: pointer;
}

#labelDistributionTimeFrame {
    display: flex;
    white-space: nowrap;
    margin-left: 10px;
}

#metricDistributionSelections, #metricDistributionArrows, #mainChartsSummary {
    display: none;
    align-items: center;
}

#metricDistributionTimeFrame {
    display: none;
    white-space: nowrap;
    margin-left: 10px;
}

.notLoggedInMessage {
    display: flex;
    text-align: center;
    align-items: center;
    font-family: settingsHeaderFontBold;
    font-size: 24px;
    margin-top: 50px;
    /* border: 1px solid white; */
}

.chartHeader {
    display: flex;
    justify-content: space-between;
    padding: 10px 25px;
    align-items: center;

    /* border: 1px solid white; */
}

#deepWorkChartContainer, #avgDeepWorkChartContainer {
    margin-top: 20px;
}

#sessionIntervalsChartContainer, #moodChartContainer {
    margin-top: 20px;
}

#mainChartsDivisionHr1, #mainChartsDivisionHr2 {
    display: none;
}

.metricChart {
    display: none;
    flex-direction: column;
    width: 100%;
    height: auto;
    border-radius: 25px;
    box-sizing: border-box;
    opacity: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 3px solid white;
    transition: opacity 0.25s ease-out;
}

.chartToggleHeader {
    font-size: 18px;
    font-family: settingsHeaderFont;
    margin-bottom: 5px;
    color: rgba(255, 255, 255, 0.5);
}

.chartToggle {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

/* Adjusted Deep Work Toggle */
#adjustedDeepWorkToggle:checked + #adjustedDeepWorkToggleLabel {
    background-color: #0cce63;
}

#adjustedDeepWorkToggle:checked + #adjustedDeepWorkToggleLabel #adjustedDeepWorkToggleBall {
    left: 40px;
}

/* Break Toggle */
#breakIntervalToggle:checked + #breakIntervalToggleLabel {
    background-color: rgba(59, 143, 227, 1);
}

#breakIntervalToggle:checked + #breakIntervalToggleLabel #breakIntervalToggleBall {
    left: 40px;
}

/* Distractions Toggle */
#distractionsToggle:checked + #distractionsToggleLabel {
    background-color: rgb(255, 69, 0);
}

#distractionsToggle:checked + #distractionsToggleLabel #distractionsToggleBall {
    left: 40px;
}

/* Hourly Quality Adjusted Toggle */
#hourlyQualityAdjustedToggle:checked + #hourlyQualityAdjustedToggleLabel {
    background-color: #0cce63;
}

#hourlyQualityAdjustedToggle:checked + #hourlyQualityAdjustedToggleLabel #hourlyQualityAdjustedToggleBall {
    left: 40px;
}

#mainChartsSummaryContainer {
    display: none;
}

#mainChartsSummarySubContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding: 25px;
    border-radius: 25px;
    box-sizing: border-box;
    opacity: 0;
    margin-top: 20px;
    margin-bottom: 10px;
    border: 3px solid white;
    transition: opacity 0.25s ease-out;

    color: white;
}

#mainChartsSummaryHeader {
    display: block;
}

.summaryBlock {
    display: flex;
    flex-direction: column;
    width: 100%;

    margin-top: 25px;

    /* border: 1px solid cyan; */
}

.summaryHeaderContainer {
    display: flex;
    align-items: center;
    width: 100%;
}

.summaryTitle {
    display: flex;
    white-space: nowrap;
    width: auto;
}

.summaryDivider {
    display: flex;
    width: 100%;
    height: 2px;
    margin-left: 25px;

    background-color: rgba(255, 255, 255, 0.25);
}

.summarySubContainer {
    display: flex;
    margin-top: 15px;
    align-items: center;
    font-size: 22px;
    font-family: settingsHeaderFont;

    /* border: 2px solid blue; */
}

.directionIndicatorContainer {
    display: flex;
    width: 35px; /* or any appropriate size */
    height: 28px; /* or any appropriate size */

    /* border: 1px solid white; */
}

@media (max-width: 1380px) {
    .summarySubContainer {
        font-size: 18px;
    }
    .directionIndicatorContainer {
        width: 30px;
        height: 24px;
    }
}

@media (max-width: 915px) {
    .summarySubContainer {
        font-size: 14px;
    }
    .directionIndicator {
        padding-bottom: 6px;
    }
    .summaryTitle {
        font-size: 20px;
    }
}

@media (max-width: 710px) {
    .summarySubContainer {
        font-size: 12px;
    }
    .directionIndicator {
        padding-bottom: 8px;
    }
}

.directionIndicator {
    display: none;
    opacity: 0;

    transition: opacity 0.5s ease-out;
}

.summarySubContainerTitle {
    display: flex;
    white-space: nowrap;
}

.summaryStatistic {
    display: flex;
    white-space: nowrap;
    margin-left: 20px;

    /* border: 1px solid white; */
}

#dailyContainer {
    width: 400px;
    min-width: 250px;
    margin-right: 10px;
}

#dailyHeaderContainer {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 100%;

    /* border: 1px solid pink; */
}

#dateAndSwitchContainer {
    display: flex;
    position: relative;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: 45px;

    /* border: 2px solid orange; */
}

#switchContainer {
    display: flex;
    margin-right: 15px;

    /* border: 2px solid cyan; */
}

#switchCalendarBundle {
    display: flex;
}

#dailyDay {
    font-family: settingsHeaderFontBold;
    font-size: 24px;
}

#dailyDate {
    font-family: settingsHeaderFont;
    font-size: 16px;
}

#calendarIconContainer {
    transition: transform 0.15s ease-in-out;
}

#calendarIconContainer:hover {
    cursor: pointer;
}

#calendarIconContainer:active {
    transform: scale(0.90);
}

#weeklySummaries {
    display: flex;
    width: 100%;
    height: 55px;
    margin-top: 10px;
    justify-content: space-between;

    /* border: 1px solid cyan; */
}

.dailyBlock {
    display: flex;
    flex-direction: column;

    /* border: 1px solid white; */
}

.miniChartContainer {
    display: flex;
    height: 40px;

    align-items: center;
    justify-content: center;

    box-sizing: border-box;

    /* border: 1px solid olive; */
}

.miniChartContainer:hover {
    cursor: pointer;
}

.miniChart {
    display: flex;

    width: 100% !important;
    height: 100% !important;
    padding: 2px;

    border-radius: 25px;

    /* border: 1px solid orange; */
}

.miniChartLabel {
    display: flex;
    text-align: center;
    justify-content: center;
    font-family: settingsHeaderFont;
    font-size: 9px;
    height: 100%;
    padding-top: 2px;

    transition: text-decoration 0.15s ease-in-out;

    /* border: 1px solid red; */
}

#calendarContainer {
    display: flex;
    align-items: center;
    height: 100%;

    /* border: 1px solid white; */
}

#calendarIcon {
    width: 25px;
    height: auto;
}

#calendarPopup {
    /* display: flex; */
    display: none;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    height: 300px;
    /* width: 250px; */
    width: 100%;
    max-width: 400px;
    top: 55px;
    right: -8px;
    border-radius: 25px;
    background-color: rgba(0, 0, 0, 1);
    border: 3px solid white;
    padding: 5px;

    opacity: 0;
    transform: scale(0.90);
    transition: opacity 0.15s ease-out, transform 0.15s ease-out;
}

#calendarHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    padding-top: 3px;
    padding-bottom: 3px;

    /* border: 2px solid cyan; */
}

#monthYearSelectionContainer {
    display: flex;
}

#monthYearSelectionContainer {
    display: flex;
    align-items: center;
    height: 100%;
    width: auto;
    /* border: 1px solid red; */
}

.calendarArrowContainer {
    display: flex;
    align-items: center;
    height: 100%;

    /* border: 1px solid orange; */
}

#leftCalendarArrowContainer {
    padding-left: 10px;
}

#rightCalendarArrowContainer {
    padding-right: 10px;
}

#monthSelectionContainer {
    display: flex;
    align-items: center;
    margin-right: 10px;

    /* border: 1px solid red; */
}

#monthSelection {
    /* border: none; */
    border: 2px solid white;
    background-color: rgba(0, 0, 0, 1);
    border-radius: 15px;
    width: 100px;
    height: 30px;
    font-family: settingsHeaderFontBold;
    color: white;
    font-size: 14px;
    text-align-last: center; /* Center the selected option in some browsers */
    cursor: pointer;
    box-sizing: border-box;
    padding: 0;

    transition: background-color 0.15s ease-in-out;
}

#yearSelectionContainer {
    display: flex;
    align-items: center;

    /* border: 1px solid red; */
}

.calendarSelectionContainer {
    height: 100%;
    /* border: 1px solid red; */
}

#yearSelection {
    border: 2px solid white;
    background-color: rgba(0, 0, 0, 1);
    border-radius: 15px;
    width: 70px;
    height: 30px;
    padding-left: 10px;
    font-family: settingsHeaderFontBold;
    color: white;
    font-size: 14px;
    text-align-last: center; /* Center the selected option in some browsers */
    cursor: pointer;
    box-sizing: border-box;
    padding-right: 5px;
    padding-top: 0;
    padding-bottom: 0;

    transition: background-color 0.15s ease-in-out;
}

#calendarFooter {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 100%;
    padding-bottom: 3px;

    /* border: 2px solid red; */
}

#todayBtn {
    display: flex;
    border: 2px solid white;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    width: 80%;
    height: 30px;

    transition: background-color 0.25s ease-in-out, border-color 0.15s ease-in-out;
}

#todayBtn:hover {
    cursor: pointer;
    background-color: rgba(130, 0, 170, 1);
    border-color: rgba(130, 0, 170, 1);
}

.calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr); /* 7 columns for each day of the week */
    grid-auto-rows: 100%; /* Adjust the height of each row */
    gap: 1px; /* Space between days */
    background-color: #ccc;
    max-width: 250px; /* Set a max width for the calendar */
    margin: 0 auto;
}

#calendarBody {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    /* padding-bottom: 5px;
    padding-top: 5px; */

    height: 100%;
    width: 100%;

    /* border: 1px solid orange; */
}

.calendarRow {
    display: flex;
    width: 100%;
    justify-content: space-around;

    /* border: 1px solid white; */
}

#calendarBodyHeader {
    height: 20px;
}

.calendarHeaderCell {
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    width: 100%;

    /* border: 1px solid cyan; */
}

.calendarCell {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    width: 30px;
    height: 30px;
    box-sizing: border-box;
}

.calendarCell:not(.unselectable):not(.invisible):hover {
    cursor: pointer;
}

.calendarCell:not(.unselectable):not(.invisible):not(.selectedDay):hover {
    background-color: rgba(130, 0, 170, 0.6);
}

.calendarCell:not(.unselectable):not(.invisible):not(.currentDay):hover {
    border-color: rgba(130, 0, 170, 0.6);
}

.currentDay:not(.selected) {
    border: 2px dashed white;
}

.selectedDay {
    background-color: rgba(130, 0, 170, 1);
}

.unselectable {
    color: rgba(255, 255, 255, 0.5);
}

/* For days not part of current month */
.invisible {
    opacity: 0;
    cursor: default;
}

/* For Entire Rows */
.hidden { 
    display: none;
}

#rightCalendarArrowGray {
    display: none;
}








#dailyBodyContainer::-webkit-scrollbar {
    width: 0px;
    height: 8px;
}

#dailyBodyContainer::-webkit-scrollbar:hover {
    cursor: pointer;
}

#dailyBodyContainer::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0)
}

#dailyBodyContainer::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
}

#dailyBodyContainer {
    display: flex;
    /* text-align: center; */
    align-items: center;
    flex-direction: column;

    height: 100%;
    font-family: settingsHeaderFont;
    font-size: 18px;
    overflow-y: scroll;
    box-sizing: border-box;
    z-index: -1;
    
    /* border: 2px solid white; */
}

/* SESSION VIEW */
#sessionViewContainer {
    /* display: flex; */
    display: none;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: auto;
    margin-top: 15px;

    opacity: 0;
    transition: opacity 0.25s ease-in-out; 

    /* border: 2px solid cyan; */
}

#sessionViewSessionContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: auto;
    padding-bottom: 15px;
    
    /* border: 2px solid white; */
}

#sessionViewHeaderContainer {
    display: flex;
    width: 100%;
    justify-content: space-between; /* Ensures the left element is aligned to the left */
    align-items: center; /* Vertically centers the items */
    position: relative; /* For positioning the center element absolutely */

    /* border: 1px solid orange; */
}

#sessionViewBackBtn {
    width: 32px;
    height: 32px;
    margin-left: 3px;
    z-index: 4;
    left: 10px;
    opacity: 1.00;
    margin-right: 8px;
    cursor: pointer;
}

#sessionTitle {
    padding-right: 20px;

    /* border: 1px solid white; */
}

#sessionViewTrashIcon {
    border-radius: 25px;
    margin-right: 3px;
    cursor: pointer;
}

#sessionViewCommentsContainer {
    border-radius: 25px;
    height: auto;
    padding: 5px;
    width: 100%; /* Ensure the container takes the full width of the parent element */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    background-color: rgba(0, 0, 0, 0.15);

    border: 2px solid white;
}

#sessionViewCommentsTextArea {
    width: 100%;
    min-height: 35px;
    height: auto;
    border: none;
    resize: none; /* Prevent manual resizing */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    color: white;
    background-color: rgba(0, 0, 0, 0);
    font-size: 18px;
    font-family: settingsHeaderFont;
    overflow: hidden; /* Hide scrollbars */

    /* border: 1px solid red; */
}

#sessionViewCommentsTextArea:focus, #sessionViewSubjectiveFeedbackDropdown:focus {
    outline: none;

    /* border: 2px solid white; */
}

#sessionViewSubjectiveFeedbackContainer {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
}

#sessionViewSubjectiveFeedbackDropdown {
    min-height: 35px;
    border: 2px solid white;
    background-color: rgba(0, 0, 0, 1);
    color: white;
    border-radius: 25px;
    width: 100%;
    height: 50px;
    font-family: settingsHeaderFont;
    font-size: 18px;
    box-sizing: border-box;
    text-align-last: center; /* Center the selected option in some browsers */
    cursor: pointer;

    transition: background-color 0.15s ease-in-out;
}

#sessionViewSubjectiveFeedbackDropdown:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 1);
}

#sessionViewHr1 {
    margin: 15px 0px;
}

#sessionViewLabelsContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.sessionViewLabelContainer {
    display: flex;
    align-items: center;
    justify-content: left;
    margin-bottom: 15px;

    /* border: 1px solid white; */
}

.sessionViewLabel {
    display: flex;
    background-color:rgba(255, 255, 255, 0.15);
    padding: 3px 8px;
    border-radius: 25px;
    white-space: nowrap;
}

.sessionViewLabelTime {
    display: flex;
    white-space: nowrap;
    margin-left: 5px;
}

#sessionViewAdvStatsContainer {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.sessionViewAdvStatContainer {
    display: flex;
    margin-bottom: 10px;
}

.sessionViewAdvStatText {
    font-family: settingsHeaderFont;
    font-size: 18px;
    font-weight: 400;
}

.sessionViewAdvStat {
    display: flex;
    margin-left: 5px;
    font-weight: 700;
    /* text-decoration: underline; */
}

.sessionViewNoLabelsContainer {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    border-radius: 25px;
    box-sizing: border-box;

    /* border: 2px solid white; */
}








/* DAY VIEW */
#dayViewContainer {
    display: flex;
    /* display: none; */
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: auto;

    opacity: 1;
    transition: opacity 0.25s ease-in-out; 

    /* border: 2px solid red; */
}

#dayViewSummaryChartContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    margin-top: 15px;
    margin-bottom: 15px;
    box-sizing: border-box;

    /* border: 1px solid rgb(128, 128, 128); */
}

#dayViewSummaryChart {
    display: flex;
    width: 200px;
    height: 200px;

    opacity: 0;
    transition: opacity 1s ease-out;
}

#dayViewSummaryStatsContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
    box-sizing: border-box;

    /* border: 2px solid white; */
}

.dayViewSummaryStatContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 18px;
    position: relative;
    border-radius: 15px;
    padding: 5px;
    width: 100px;
}

#dayViewDeepWorkSummaryStatContainer {
    margin-right: 5px;
}

#dayViewFocusQualitySummaryStatContainer {
    margin-left: 5px;
}

#dayViewDeepWorkSummaryStatContainer {
    background-color: rgba(83, 230, 88, 1);
}

#dayViewFocusQualitySummaryStatContainer {
    background-color: rgba(59, 143, 227, 1);
}

.dayViewSummaryStatText {
    font-size: 16px;
}

.dayViewSummaryStat {
    font-weight: 700;
}

#dayViewSessionsContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: auto;
    padding-bottom: 15px;
    
    /* border: 2px solid white; */
}

/* Day View Session !!! */
.dayViewSessionContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 10px;
    border-radius: 25px;
    box-sizing: border-box;
    margin-top: 15px;
    
    border: 2px solid white;
}

.dayViewSessionContainer:not(.no-select) {
    cursor: pointer;
}

.noSessionsContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 10px;
    border-radius: 25px;
    box-sizing: border-box;
    margin-top: 15px;
    cursor: default;
    
    border: 2px solid white;
}

.noSessions {
    display: flex;
    width: 100%;
    height: 65px;
    justify-content: center;
    align-items: center;

    /* border: 2px solid red; */
}

.dayViewSessionStatOverviewContainer {
    display: flex;
    justify-content: space-between;

    width: 100%;

    /* border: 1px solid pink; */
}

.dayViewSessionStartEndTimeContainer {
    display: flex;
    justify-content: space-between;
    padding-bottom: 2px;

    width: 100%;

    /* border: 1px solid purple; */
}

.dayViewSessionStartEndTime {
    display: flex;
    font-size: 14px;
}

.startTimeArrow, .endTimeArrow {
    width: 10px;
    height: auto;
    margin-right: 5px;
}

.dayViewSessionIntervalsContainer {
    display: flex;
    width: 100%;

    /* border: 1px solid white; */
}

.dayViewSessionInterval {
    display: flex;
    flex-direction: column;
    height: 25px;
    /* We wil be setting the width of each individual interval via unique id */
}

.dayViewSessionDeepWork, .dayViewSessionFocusQuality {
    font-weight: 700;
}

.dayViewSessionDeepWorkInterval {
    display: flex;
    height: 50%;
    border-radius: 3px;
    background-color: #0cce63;
}

.dayViewSessionBlankInterval {
    display: flex;
    height: 50%;
}

.dayViewSessionBreakInterval {
    display: flex;
    height: 50%;
    border-radius: 3px;
    background-color: rgba(59, 143, 227, 1);
}

#dayViewNoEntriesContainer {
    display: none;
    justify-content: center;

    /* border: 1px solid orange; */
}


#dayViewNotesEntriesContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: left;
    box-sizing: border-box;
    height: auto;

    /* border: 2px solid white; */
}

#dayViewCompletedTasks, #dayViewNotes {
    display: flex;
    flex-direction: column;
}

.dayViewCompletedTask, .dayViewNote {
    overflow-wrap: break-word;
    font-size: 18px;
    font-weight: 400;
    font-family: settingsHeaderFont;
    margin-bottom: 10px;

    /* border: 1px solid white; */
}

.dayViewNoteEntryTimestamp {
    white-space: nowrap;
    width: auto;
    padding-left: 5px;
    font-style: italic;
    color: rgba(255, 255, 255, 0.25);
}

.dayViewCompletedTaskTimestamp {
    text-decoration: line-through;
}

.dailyContainerHr {
    width: 100%;
    border: 1px solid rgba(255, 255, 255, 0.15);
    box-sizing: border-box;
    margin-top: -2px;
}

@media (max-width: 1215px) {
    .sessionViewAdvStatText, .sessionViewAdvStat {
        font-size: 16px;
    }
}

@media (max-width: 1015px) {
    .dayViewSummaryStatText {
        font-size: 14px;
    }
}

@media (max-width: 1400px) {
    .summaryStatHeader {
        font-size: 18px;
    }
    .summaryStat {
        font-size: 20px;
    }
}

@media (max-width: 1195px) {
    .summaryStatHeader {
        font-size: 16px;
    }
    .summaryStat {
        font-size: 18px;
    }
}

@media (max-width: 870px) {
    .summaryStatHeader {
        font-size: 14px;
    }
    .summaryStat {
        font-size: 14px;
    }
}

@media (max-width: 865px) {
    #dashboardSummaryStatsContainer {
        display: none;
    }
    #distributionsContainer {
        margin-right: 0px;
    }
}

@media (max-width: 1135px) {
    #labelDistributionTimeFrame {
        display: none;
    }
}

@media (max-width: 955px) {
    .metricDistributionSelection {
        padding: 5px 9px;
    }
}

@media (max-width: 895px) {
    .metricDistributionSelection {
        padding: 3px 6px;
    }
}

@media (max-width: 715px) {
    .metricDistributionSelection {
        padding: 2px 4px;
    }
}

@media (max-width: 670px) {
    #dashboardSubContainer {
        flex-direction: column;
    }
    #dailyContainer {
        width: 100%;
        margin-bottom: 20px;
        height: calc(40% - 20px);
        min-height: calc(40% - 20px);

        /* border: 2px solid green; */
    }
    #distributionsContainer {
        width: 100%;
        margin: 0px;
        height: 60%;
        min-height: 60%;
        
        /* border: 2px solid white; */
    }
    .metricBodyContainer {
        overflow-y: scroll;
    }
    #dashboardCat6 {
        display: none;
    }
}