#dashboardContainer {
    display: none;
    position: relative;
    width: 90%;
    height: calc(100% - 105px);
    min-height: 410px;
    min-width: 320px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    flex-direction: column; 
    box-sizing: border-box;
    margin-top: 25px;
    
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

#dashboardSubContainer {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 1);
    justify-content: space-between;
    box-sizing: border-box;
    border-radius: 25px;
    z-index: 10;
    padding: 20px;
    min-height: 250px;

    color: white;
    font-family: myFont2;
}

.no-transition {
    transition: none !important;
}

#distributionsContainer {
    display: flex;
    flex-direction: column;
    width: 75%;
    margin-left: 10px;
    margin-right: 10px;
    max-width: 1000px;
}

#metricDistributionContainer {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    box-sizing: border-box;
    border-radius: 25px;
    z-index: 10;
    margin-bottom: 10px;

    color: white;
    font-family: myFont2;
}

#labelDistributionContainer {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    box-sizing: border-box;
    border-radius: 25px;
    z-index: 10;
    margin-top: 10px;
    
    color: white;
    font-family: myFont2;

}

#dashboardSummaryStatsContainer {
    justify-content: space-between;
}

.summaryStatContainer {
    display: flex;
    align-items: left;
    justify-content: center;
    box-sizing: border-box;
    flex-direction: column;
    height: 80px;
    padding: 10px;
    border-radius: 25px;
    padding-top: 25px;
    padding-bottom: 25px;
    
    border: 3px solid rgb(255, 255, 255);
}

.summaryStatHeader {
    display: flex;
    text-align: center;
    font-family: settingsHeaderFont; 
    justify-content: left;
    box-sizing: border-box;

    text-align: left;
    
    /* border: 2px solid yellow; */
}

.summaryStat {
    display: flex;
    text-align: left;
    justify-content: left;
    font-size: 24px;
    font-family: settingsHeaderFontBold;
    box-sizing: border-box;
    /* border: 2px solid green; */
}

.dashboardSideContainer {
    display: flex;
    position: relative;
    width: 400px;
    min-width: 200px;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    box-sizing: border-box;
    border-radius: 25px;
    z-index: 10;
    padding: 15px;
    flex-direction: column;
    color: white;
    font-family: myFont2;
    overflow-y: scroll;
}

.dashboardSideContainer::-webkit-scrollbar {
    width: 0px;
    height: 8px;
}

.dashboardSideContainer::-webkit-scrollbar:hover {
    cursor: pointer;
}

.dashboardSideContainer::-webkit-scrollbar-track {
    /* background: transparent; */
    background: rgba(255, 255, 255, 0);
}

.dashboardSideContainer::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
}

.margin-bottom {
    margin-bottom: 20px;
}

#dailyContainer {
    margin-right: 10px;
}

#dashboardSummaryStatsContainer {
    margin-left: 10px;
}

#dailyHeaderContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#dateAndSwitchContainer {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: 50px;

    /* border: 2px solid orange; */
}

#switchContainer {
    display: flex;
    /* border: 2px solid cyan; */
}

#dailyDay {
    font-family: settingsHeaderFontBold;
    font-size: 24px;
}

#dailyDate {
    font-family: settingsHeaderFont;
}

#leftDailyArrow {
    margin-right: 10px;
}

#rightDailyArrow {
    margin-left: 10px;
}

.dailyArrow {
    width: 12px;
    height: auto;
}

.dailyArrow:hover {
    cursor:  pointer;
}

#weeklySummaries {
    width: 100%;
    height: 50px;

    /* border: 2px solid blue; */
}

.dailyContainer {
    box-sizing: border-box;
    /* border: 2px solid blue; */
}