#notes-container {
    position: relative;
    background-color: rgba(0, 0, 0, 0.9);
    /* overflow: hidden; */

    /* DARK GREY THEME BACKGROUND */
    /* background-color: rgba(32, 32, 32, 0.9); */

    /* POTENTIAL DESIGN ALTERNATIVE -- WHITE BORDER */
    /* border: 3px solid rgb(255, 255, 255); */
    z-index: 30;
    border-radius: 25px;
    max-width: 600px;
    height: 250px;
    display: block;
    /* display: none; */
    /* border: 2px solid yellow; */

    width: 100%;
    max-width: 575px;

    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;

    transform: scaleY(0);
    opacity: 0;

    transition: transform 0.25s ease-in-out, opacity 0.1s ease-in-out;
}

#notes-container.fullsize {
    transform: scaleY(1);
    opacity: 1;
}

#notes-container.fullopacity {
    opacity: 1;
}

#task-container {
    display: flex;
    height: 45px;
    /* border: 1px solid purple; */
    /* overflow: hidden; */
    
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* justify-content: left; */
    position: relative;
    width: 100%;
}

#prompt-container {
    display: flex;
    z-index: 5;
    height: 100%;
    align-items: center;

    position: absolute;
    /* padding-right: 16px; */

    /* border: 3px solid black; */
}

#label-input-container {
    /* display: none; */
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    
    height: 100%;
    width: 85%;
    z-index: 4;
    position: relative;
    align-items: center;
    justify-content: center;
    /* justify-content: left; */

    /* border: 3px solid purple; */
}

#create-label-container, #update-label-container {
    display: none;
    z-index: 7;
    height: 100%;
    align-items: center;
    position: absolute;

    font-family: myFont2;
    font-size: 24px;
    color: rgba(255, 255, 255, 1);
    margin-top: 2px;

    /* border: 3px solid cyan;   */
}

#create-label-window, #update-label-window {
    display: none;
    font-family: myFont2;
    color: white;
    margin-top: 10px;
    height: 198px;
    overflow: auto;
    padding-top: 5px;
    /* border: 3px solid cyan; */
}

#create-label, #update-label {
    display: flex;
    height: 55%;
    align-items: center;
    justify-content: center;

    /* border: 3px solid red; */
}

#cancel-done-div, #cancel-done-div2 {
    display: flex;
}

#create-label-input, #update-label-input {
    width: auto;
    height: 30px;
    border-radius: 50px;
    font-family: myFont2;
    font-size: 20px;
    background-color: transparent;
    border: 3px solid white;
    color: white;
    outline: none;
    text-align: center;
    margin-left: 45px;
}

#create-label-input::placeholder, #update-label-input::placeholder {
    color: rgba(255, 255, 255, 0.20);
}

#emoji-btn, #emoji-btn2 {
    width: 35px;
    height: 35px;
    border-radius: 50px;
    background-color: transparent;
    /* border: 3px solid red; */
    margin-left: 10px;

    display: flex;
    justify-content: center;

    z-index: 16;
}

#emoji-btn:hover, #emoji-btn2:hover {
    cursor: pointer;
    /* transform: scale(0.95); */
}

@media (max-width: 450px) {
    #emoji-btn {
        display: none;
    }
    #create-label-input {
        margin-left: 0px;
    }
}

@keyframes emojiPopup {
    0% {
        transform: translateY(5px);
    }
    100% {
        transform: translateY(0px);
    }
}

.emojiPopup {
    animation: emojiPopup 0.5s;
}

#emoji-container2 {
    display: none;
    /* display: block; */
    position: fixed;
    right: 10px;
    top: -160px;
    border: 5px solid #cccccc;
    /* border: 3px solid white; */
    border-radius: 8px;
    padding: 10px;
    width: 200px;
    height: 200px;
    text-align: center;
    background-color: #f9f9f9;

    opacity: 0;
    /* opacity: 1; */
    transition: opacity 0.15s ease;
    --after-left: 45%;

    z-index: 30;
}

#emoji-container {
    display: none;
    /* display: block; */
    position: fixed;
    right: 10px;
    top: -160px;

    /* border: 5px solid #cccccc; */
    border: 5px solid white;

    /* border: 3px solid white; */
    border-radius: 8px;
    padding: 10px;
    width: 200px;
    height: 200px;
    text-align: center;

    /* background-color: #f9f9f9; */
    background-color: black;

    opacity: 0;
    /* opacity: 1; */
    transition: opacity 0.15s ease;
    --after-left: 45%;

    z-index: 30;
}

#emoji-container::after {
    content: " ";
    position: absolute;
    bottom: -40px;
    left: var(--after-left);
    margin-left: -5px;
    border-width: 20px;
    border-style: solid;
    border-color: #f9f9f9 transparent transparent transparent;
}

.emoji-symbol {
    width: 30px;
    height: 30px;
    margin: 2px;
    margin-left: 5px;
    margin-right: 5px;
}

.emoji-symbol:hover {
    cursor: pointer;
    transform: scale(1.15);
}

#create-label-cancel, #update-label-cancel {
    margin-right: 5px;
}

#create-label-done, #update-label-done {
    margin-left: 5px;
}

.create-label {
    border: 3px solid white;
}

@media (max-width: 530px) {
    #label-input-container {
        width: 80%;
    }
}

@media (max-width: 400px) {
    #label-input-container {
        width: 75%;
    }
}

@media (max-width: 340px) {
    #label-input-container {
        width: 70%;
    }
}

@media (max-width: 300px) {
    #label-input-container {
        width: 60%;
    }
}

@media (max-width: 230px) {
    #label-input-container {
        width: 50%;
    }
}

#label-input-container::-webkit-scrollbar {
    width: 5px;
    height: 8px;
}

#label-input-container::-webkit-scrollbar:hover {
    cursor: pointer;
}

#label-input-container::-webkit-scrollbar-track {
    background: transparent;
}

#label-input-container::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
}

#clearIcon {
    position: absolute;
    width: 25px;
    height: 25px;
    /* opacity: 1.00; */
    opacity: 0.7;
    top: 0;
    right: 0;
    cursor: pointer;
    margin-right: 10px;
    margin-top: 10px;
    z-index: 15;
    /* border: 2px solid black; */
}

.tagToLeftSide {
    position: absolute;
    top: 0;
    left: 0;
}

#userInputTask {
    font-family: myFont2;
    font-size: 24px;
    color: white;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    outline: none;
    text-align: center;

    /* border: 1px solid red; */
}

#notes-hr {
    margin: 0px;
    margin-bottom: -10px;
    border: 1px solid white;
    /* display: none; */
}

#notes-console {
    font-family: myFont2;
    color: white;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 0px;
    height: 188px;
    overflow: auto;
    padding-top: 5px;
    /* display: none; */
    overflow-y: scroll;
}

#notes-console::-webkit-scrollbar {
    width: 10px;
    height: 6px;
}

#notes-console::-webkit-scrollbar:hover {
    cursor: pointer;
}

#notes-console::-webkit-scrollbar-track {
    background: transparent;
}

#notes-console::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
}

#label-selection-window {
    font-family: myFont2;
    color: white;
    margin-top: 10px;
    height: 198px;
    overflow: auto;
    padding-top: 5px;
    /* border: 2px solid red; */
    display: none;
}

.label-selection-row {
    display: flex;
    flex-wrap: wrap;
    /* border: 1px solid green; */
}

#tag-icon {
    position: relative;
    /* width: 35px;
    height: 35px; */
    width: 25px;
    height: 25px;
    margin-right: 10px;
    margin-top: 1px;
    opacity: 0.7;
    /* rotate: 45deg; */
    border: 4px solid rgba(255, 255, 255, 0);

    /* display: none; */
}

#add-tag-icon {
    position: relative;
    width: 37px;
    height: 37px;
    opacity: 1.00;
    margin-top: 3px;
    rotate: 45deg;
    margin-left: 3px;
    margin-right: 3px;
    transform: scale(1.05);
    /* border: 1px solid rgba(255, 255, 255, 1); */

    /* display: none; */    
}

#add-tag-icon:hover {
    transform: scale(0.95);
}

/* not working quite yet */
#tag-icon:hover, #add-tag-icon:hover { 
    cursor: pointer;
}

#clearIcon {
    display: none;
}

#task-prompt {
    font-family: myFont2;
    font-size: 24px;
    color: rgba(255, 255, 255, 0.50);
    margin-top: 2px;
    z-index: 1;

    /* display: none; */
}

#prompt-container:hover {
    cursor: pointer;
}

@media (max-width: 535px) {
    #task-prompt {
        font-size: 0;
        /* position: relative; */
    }
    
    #task-prompt::before {
        content: "Add Labels";
        font-family: myFont2;
        font-size: 24px;
        color: rgba(255, 255, 255, 0.50);
    }
}

@media (max-width: 235px) {
    #task-prompt {
        font-size: 0;
        /* position: relative; */
    }
    #task-prompt::before {
        content: "";
        font-family: myFont2;
        font-size: 24px;
        color: rgba(255, 255, 255, 0.50);
    }
}

.tag-text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: myFont3;

    /* border: 3px solid white; */
    
    /* border: 2px solid red; */
    border-radius: 50px;
    font-size: 20px;
    /* font-size: 9px; */
    color: white;
    /* color: red; */
    padding: 0px 10px;
    margin: 0;
    white-space: nowrap;
    transition: background-color 0.15s ease-in-out;
}

.tag-text-delete-label-popup {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: myFont3;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 50px;
    font-size: 20px;
    color: white;
    padding: 0px 10px;
    margin: 0;
    white-space: nowrap;
}

.tag-text:hover {
    cursor: pointer;
}

.tag-text:not(#selection-done):not(.create-label):hover {
    background-color: rgba(255, 255, 255, 0.2);
}

#selection-done:hover, .create-label:hover {
    transform: scale(0.95);
}

#selection-done {
    border: 3px solid white;
}

.tag {
    margin: 5px;
    display: flex;
    justify-content: center; /* Center h4 horizontally */

    /* border: 1px solid yellow; */
}

.cancel-done-container {
    margin: 5px;
    display: flex;
    justify-content: center; /* Center h4 horizontally */
}

.deleteJiggling {
    animation: deleteJiggle 0.25s;
}

@keyframes deleteJiggle {
    0%, 100% {
        transform: translateX(0);
    }
    25% {
        transform:rotate(3deg);
    }
    30% {
        transform:rotate(-3deg);
    }
    73% {
        transform:rotate(3deg);
    }
}

#add-done-container {
    display: flex;
    justify-content: center;
}

#create-label-cancel, #create-label-done {
    cursor: pointer;
}

.tag-divider {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: myFont3;
    font-size: 20px;
    color: white;
}

#tag-selection-divider {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: myFont3;
    font-size: 20px;
    color: white;
    padding: 0px 10px;
    margin: 0;
    white-space: nowrap;
}

.unselectable {
    user-select: none;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
}

@keyframes blink {
    0%, 100% { opacity: 0.7; }
    50% { opacity: 0 }
}

.blink {
    animation: blink 2s infinite;
}

#aboutIconNotes {
    display: block;
    position: absolute;
    right: 20px;
    bottom: 15px;
}

#aboutIconNotes:hover {
    cursor: pointer;
}

#list-heading-container {
    display: flex;
    margin-top: 5px;
    margin-bottom: 10px;

    /* border: 2px solid cyan; */
    justify-content: center;

}

#list-title-container {
    display: flex;
    height: 40px;
    /* width: 80%; */
    width: 90%;
    /* background-color:rgb(255, 255, 255, 0.5); */
    border: 2px solid white;
    border-radius: 15px;
    align-items: center;
    justify-content: left;
}

#list-date-title {
    color: white;
    font-family: settingsHeaderFont;
    font-size: 20px; 
}

#white-circle {
    margin-right: 10px;
    margin-left: 10px;
}

#add-note-task-svg {
    margin-left: 8px;
    margin-right: 8px;
}

.plus-svg-path {
    stroke: rgba(255, 255, 255, 0.5);
}

#list-options-container {
    display: flex;
    margin-left: 10px;
    width: 20%;

    align-items: center;
    /* border: 1px solid cyan; */
    justify-content: center;
}

#list-options-btn {
    /* border: 2px solid white; */
    height: 100%;
    width: 50px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 15px;

    transition: background-color 0.15s ease-in-out;
}

#list-options-btn:hover {
    background-color:rgba(255, 255, 255, 0.2);
    cursor: pointer;
}

#list-notes-container {
    width: 98%;
    display: flex;
    flex-direction: column;
}

#add-note-task-container {
    border: 2px dashed rgba(255, 255, 255, 0.50);
    color: rgba(255, 255, 255, 0.50);
    border-radius: 15px;
    height: 35px;

    display: flex;
    align-items: center;

    margin-bottom: 10px;
    transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

#add-note-task-container:hover {
    background-color:rgba(255, 255, 255, 0.2);
    border-color: white;
    cursor: pointer;
}

#add-note-task {
    font-family: settingsHeaderFont;
}

#note-task-input-container, #note-task-input-container-edit {
    margin-bottom: 10px;
    border-radius: 15px;
    height: 100%;
    
    display: none;
    /* display: flex; */

    align-items: center;

    flex-direction: column;

    background-color: rgba(255, 255, 255, 0.2);
}

/* NOTES */

#upper-half-note-task-input, #upper-half-note-task-input-edit {
    /* border: 3px solid white; */
    width: 100%;
}

#lower-half-note-task-input, #lower-half-note-task-input-edit {
    /* border: 3px solid red; */
    width: 100%;
    height: 50px;
}

#note-task-input-text, #note-task-input-text-edit {
    width: calc(100% - 20px);
    height: 24px;
    min-height: 24px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    outline: none;
    font-family: settingsHeaderFont;
    font-size: 16px;
    color: white;
    overflow: hidden;
    resize: none;
    white-space: pre-wrap;
    word-wrap: break-word;
    box-sizing: border-box;
}

#note-task-input-text::placeholder, #note-task-input-text-edit::placeholder {
    color: rgba(255, 255, 255, 0.5);
}

#save-cancel-container, #save-cancel-container-edit {
    display: flex;
    height: 100%;
    align-items: center;
    font-family: settingsHeaderFont;
}

.save-cancel-task-container {
    margin-left: 10px;
}

#note-input-save-btn, #note-input-save-btn-edit {
    border: 3px solid white;
    padding: 5px;
    border-radius: 25px;
    transition: background-color 0.15s ease-in-out;
}

#note-input-save-btn:hover, #note-input-save-btn-edit:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.2);
}

#note-input-cancel-btn, #note-input-cancel-btn-edit {
    /* border: 3px solid white; */
    padding: 5px;
    border-radius: 25px;
    transition: background-color 0.15s ease-in-out;
}

#note-input-cancel-btn:hover, #note-input-cancel-btn-edit:hover {
    background-color: rgba(255, 255, 255, 0.2);
    cursor: pointer;
}

.noteTask {
    border: 2px solid white;
    border-radius: 15px;
    min-height: 25px;

    font-family: settingsHeaderFont;
    font-size: 16px;

    display: flex;
    align-items: center;

    margin-bottom: 10px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    word-wrap: break-word; /* For older browsers */
    overflow-wrap: break-word; /* Recommended for modern browsers */

    position: relative;
}

/* Allows the span (containing the note or task text) to shrink, enabling text wrapping */
.noteTask span {
    min-width: 0;
}

.taskCircularCheck {
    display: flex;
    margin-right: 10px;
    border: 2px solid white;
    border-radius: 25px;
    height: 20px;
    width: 20px;

    align-items: center;
    justify-content: center;
    transition: background-color 0.15s ease-in-out;

}

.circularCheck {
    /* display: none; */
    display: flex;
    opacity: 0;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    transition: opacity 0.15s ease-in-out;
}

.taskCircularCheck:hover .circularCheck{
    cursor: pointer;
    display: flex;
    opacity: 1;
}

.completed-task {
    text-decoration: line-through;
}

.editRemoveContainer {
    display: flex;
    /* border: 1px solid white; */
    height: 40px;
    position: absolute;
    right: 5px;
    align-items: center;
}

.editRemoveBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    margin-left: 5px;
    margin-right: 5px;
    transition: background-color 0.15s ease-in-out, opacity 0.15s ease-in-out;
    opacity: 0;
    width: 35px;
    height: 35px;
}

.editRemoveBtn:hover {
    cursor: pointer;
}

.editRemoveContainer:hover .editRemoveBtn {
    background-color:rgba(0, 0, 0, 0.85);
    opacity: 1;
}

#taskCheckbox:hover, #taskCheckbox-edit:hover {
    cursor: pointer;
}

.editIcon {
    position: relative;
    width: 22px;
    height: 22px;
    z-index: 4;
    opacity: 1.00;
}

/* 
    ALL MEDIA STYLES
*/

@media (max-width: 500px) {
    #list-notes-container {
        width: 97%;
    }
}

@media (max-width: 467px) {
    #list-notes-container {
        width: 96%;
    }
}

@media (max-width: 433px) {
    #list-notes-container {
        width: 95%;
    }
}

@media (max-width: 400px) {
    #list-notes-container {
        width: 94%; /* Perfect for mobile! */
    }
}

@media (max-width: 260px) {
    #task-prompt::before {
        font-size: 20px;
    }
    #add-note-task {
        display: none;
    }
    #add-note-task-container {
        justify-content: center;
    }
    #save-cancel-container {
        display: none;
    }
    #tag-icon {
        margin-right: 0;
    }
    #note-task-input-text::placeholder {
        font-size: 12px;
    }
    #note-task-input-text-edit::placeholder {
        font-size: 12px;
    }
    .editRemoveContainer {
        display: none;
    }
}
