@font-face {
    font-family: myFont2;
    src: url("../fonts/CPMono_v07_Bold.woff");
}

@font-face {
    font-family: mainFont;
    src: url("../fonts/TTNormsProRegular.otf");
}

@font-face {
    font-family: myFont3;
    src: url("../fonts/CPMono_v07_Light.woff");
}

.logo {
    display: flex;
}

#circularLogo {
    transform: scale(0.75)
}

p {
    font-family: mainFont;
    font-size: 20px;
    color: gray;
}

b {
    color: black;
}

h2 {
    font-family: mainFont;
    font-size: 24px;
}

#header {
    font-size: 32px;
    font-family: myFont3;
}

img {
    align-self: center;
    margin-right: 5px;
}

.block {
    display: flex;
    align-items: center;
    justify-content: center;
}

#mainContent {
    width: 750px;
    /* border: 1px solid red; */
}

.mainText {
    font-family: mainFont;
}

@media (max-width: 620px) {
    #header {
        font-size: 24px;
    }

    #circularLogo {
        height: 40px;
        width: 40px;
    }
}

@media (max-width: 485px) {
    #header {
        font-size: 18px;
    }
    
    #circularLogo {
        height: 35px;
        width: 35px;
    }
}

@media (max-width: 370px) {
    #header {
        font-size: 16px;
    }
    
    #circularLogo {
        height: 30px;
        width: 30px;
    }
}