@font-face {
    font-family: settingsHeaderFont;
    src: url("../fonts/TTNormsProRegular.otf");
}

#settingsContainer {
    position: fixed;
    background-color: rgb(0, 0, 0);

    /* DARK GREY THEME BACKGROUND */
    /* background-color: rgba(32, 32, 32, 1); */

    /* POTENTIAL DESIGN ALTERNATIVE -- WHITE BORDER */
    /* border: 3px solid rgb(255, 255, 255); */
    
    /* margin: 20px; */
    z-index: 12;
    /* border-radius: 10px; */

    top: 0;       /* Align to the top */
    right: 0;     /* Stretch to the right */
    bottom: 0;    /* Stretch to the bottom */
    
    width: 1200px;
    height: 100%; /* Cover the full height */
    
    display: none; /* eventually make this none by default */

    transition: background-color 0.6s ease-in-out;

    /* overflow-y: scroll; */
}

#settingsContent::-webkit-scrollbar {
    width:10px;
    height: 8px;
}

#settingsContent::-webkit-scrollbar:hover {
    cursor: pointer;
}

#settingsContent::-webkit-scrollbar-track {
    /* background: transparent; */
    background: rgba(255, 255, 255, 0);
}

#settingsContent::-webkit-scrollbar-thumb {
    background-color: #424242;
    border-radius: 10px;
}

@media (max-width: 1200px) {
    #settingsContainer {
        border-radius: 0px;
        width: 100%;
    }
}

#settingsWindow {
    display: flex;
    position: relative;
    justify-content: left;
    align-items: top;
    overflow-x: hidden;
    overflow-y: hidden;
    /* border: 2px solid red; */
    min-height: calc(100vh - 90px);
    width: 100%;
}

#settingsHeaderColumn {
    display: flex;
    /* display: none; */
    flex-direction: column;
    justify-content: left;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 25px;
    /* border: 1px solid white; */
    width: 200px;
}

#settingsHeader {
    display: flex;
    justify-content: center;
    align-items: center;

    /* border: 2px solid yellowgreen; */
}

#settingsExit {
    position: absolute;
    left: 0;
    margin-left: 20px;
}

/* .minutesImage {
    height: 50px;
    width: 93px;
    border-radius: 10px;
    border: 2px solid white;
} */

.imageBucket {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-right: 20px;
    min-width: 90px;
    /* border: 1px solid white; */
}

.imageBucketHeader {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-right: 20px;
    /* border: 1px solid white; */
}

@media (max-width: 810px) {
    .imageBucketHeader {
        display: none;
    }
    #endOfBreakIntervals {
        display: flex;
        flex-direction: column;
    }    
}

@media (max-width: 775px) {
    #pomodoroAlertSoundContainer2, #flowmodoroAlertSoundContainer2, #generalAlertSoundContainer2 {
        display: flex;
        flex-direction: left;
        /* border: 1px solid yellow; */
        width: 300px;
    }
    #toggleTargetTimeAlertContainer, #togglePomodoroNotificationContainer, #toggleFlowmodoroNotificationContainer {
        display: flex;
        flex-direction: column;
    }
    #togglePomodoroNotificationContainer, #toggleFlowmodoroNotificationContainer {
        margin-bottom: -80px;
    }
    #toggleFlowmodoroNotificationContainer {
        margin-bottom: -50px;
    }
}

@media (min-width: 980px) {
    #toggleTargetTimeAlertContainer, #togglePomodoroNotificationContainer, #toggleFlowmodoroNotificationContainer, #toggleNotesAutoSwitchContainer, #togglePropagateUnfinishedTasksContainer {
        align-items: center;
    }
}

@media (max-width: 560px) {
    #pomodoroAlertSoundContainer2, #flowmodoroAlertSoundContainer2, #generalAlertSoundContainer2 {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        /* border: 1px solid yellow; */
    }
    #autoStartPomodoroIntervalContainer, #autoStartBreakIntervalContainer {
        display: flex;
        flex-direction: column;
    }
}

#pomodoroAlertSoundContainer2, #flowmodoroAlertSoundContainer2, #generalAlertSoundContainer2 {
    display: flex;
    max-width: 500px;
    width: 100%;
    justify-content: space-between;
    /* border: 1px solid white; */
}

.semiBlock {
    display: flex;
}

#endOfBreakIntervals {
    display: flex;
}

.vertical {
    background-color: rgba(255, 255, 255, 0.15);
    width: 0px;
    /* height: 1000px; */
    min-height: 500px;
    display: block;
    margin-right: 50px;
    margin-top: 20px;

    border: 1px solid rgba(255, 255, 255, 0.15);
}

.horizontal {
    background-color: rgba(255, 255, 255, 0.15);
    width: 95%;
    height: 1px;
    display: block;
    margin-right: 50px;
}

.settingsHeader {
    font-family: menuFont;
    letter-spacing: 1px;
    font-weight: 300;
    color: rgb(255, 255, 255);
    font-size: 16px;
    padding-right: 10px;
}

.pickAlertSound {
    display: flex;
}

.flowmodoroAlert, .pomodoroAlert, .generalAlert {
    width: 20px;
    height: 20px;
    margin-bottom: 5px;
    margin-right: 10px;
    background-color: #53e658;
    cursor: pointer;
}

.flowmodoroAlertContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid white; */
}

.settingsHeaderRow {
    display: flex;
    justify-content: left;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 8px;
    min-height: 25px;

    transition: background-color 0.15s ease-in-out;
    
    /* border: 1px solid green; */
}

.settingsContentContainer {
    display: none;
    /* display: block; */
    width: 100%;

    /* border: 1px solid yellow; */
}

.settingsMicroContainer {
    display: flex;
    width: 100%;
    align-items: left;
    /* border: 2px solid yellow; */
}


@media (max-width: 650px) {
    #settingsHeaderColumn {
        display: none;
    }
    .settingsIconTextContainer {
        margin-top: 60px;
    }
    .settingsContentContainer {
        width: 80%;
        margin-left: 25px;
    }
    #generalContainer {
        margin-bottom: -90px;
    }
    #breakSuggestionText {
        margin-bottom: -70px;
    }
    #alertsNotificationsContainer {
        margin-top: 0px;
    }
    .vertical {
        display: none;
    }
    #toggleNotesAutoSwitchContainer {
        display: block;
    }
    #togglePropagateUnfinishedTasksContainer {
        display: block;
    }
}

.settingsHeaderRow:not(#notificationsHeaderContainer):not(.selected):hover {
    background-color: rgba(255, 255, 255, 0.15);
    color: white;
    cursor: pointer;
}

.selected {
    background-color: rgba(255, 255, 255, 0.25);
}

#notificationsHeaderContainer:hover {
    cursor: default;
}

#settingsContent {
    /* border: 1px solid yellow; */
    display: block;
    height: 100%;
    position: relative;
    max-height: 92vh;
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
}

.settings h2 {
    color: rgb(255, 255, 255);
    font-size: 32px;
}

.settings h3 {
    color: rgb(255, 255, 255);
}

.settings p {
    font-family: settingsHeaderFont;
    letter-spacing: 1px;
    font-weight: 300;
    color: rgb(255, 255, 255);
    font-size: 18px;
}

.settings hr {
    height: 1px;
    width: 100%;
    border: none;
    background-color: rgba(255, 255, 255, 0.25); /* or any desired color */
}

.settingsText {
    margin-right: 20px;

    /* border: 1px solid white; */
}

.flowmodoroBreak, .pomodoroInterval, #suggestionMinutesInput {
    width: 50px;
    height: 20px;
    background-color: #e0e0e0;
    font-size: 16px;
    padding: 8px 12px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 1px solid white;
    
    font-family: settingsHeaderFont;
    letter-spacing: 1px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    font-size: 18px;
}

.notificationInfoWindow {
    border: 2px solid white;
    background-color: black;
    font-family: settingsHeaderFont;
    letter-spacing: 1px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    font-size: 18px;
    position: relative;
    z-index: 50;
    margin-left: 20px;
    border-radius: 25px;
    text-align: center;
    display: block;
    padding: 5px;
    
    transition: opacity 0.25s ease-in-out;
    width: 300px;
    opacity: 0;
}

#flowmodoroNotificationInfoWindow.infoWindowOpacity, #flowTimeBreakNotificationInfoWindow.infoWindowOpacity, #pomodoroNotificationInfoWindow.infoWindowOpacity, #notesAutoSwitchInfoWindow.infoWindowOpacity, #propagateUnfinishedTasksInfoWindow.infoWindowOpacity {
    opacity: 1;
}

#flowTimeBreakNotificationInfoWindow {
    width: 350px;
}

#flowmodoro-break-submit {
    border: 1px solid white;
}

#compare_chartContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

#compare_chart {
    height: 50%;
    width: 100px;
}

#suggestionMinutesText {
    /* border: 1px solid orange; */
    width: 200px;
}

#suggestionMinutesInputContainer {
    /* border: 1px solid purple; */
    width: 200px;
}

#FlowTime {
    color: #53e658;
}

#ChillTime {
    color: #3b8fe3;
}

.toggle-checkbox {
    display: none;
}

.toggle-label {
    display: block;
    width: 60px;
    height: 20px;
    background-color: #e0e0e0;
    border-radius: 30px;
    position: relative;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border: 3px solid rgba(0, 0, 0, 0.25);
}

.toggle-ball {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #ffffff;
    border-radius: 50%;
    top: 0;
    left: 0;
    transition: all 0.3s ease;
}

#chillTimeBreakSuggestionText {
    /* border: 1px solid brown; */
    display: flex;
    align-items: center;
}

/* For Target Time Reached Alert Toggle */
#targetTimeReachedToggle:checked + #targetTimeReachedToggleLabel {
    background-color: #53e658;
}

#targetTimeReachedToggle:checked + #targetTimeReachedToggleLabel #targetTimeReachedToggleBall {
    left: 40px;
}

/* For Break Suggestion Toggle */
#breakSuggestionToggle:checked + #breakSuggestionToggleLabel {
    background-color: #53e658;
}

#breakSuggestionToggle:checked + #breakSuggestionToggleLabel #breakSuggestionToggleBall {
    left: 40px;
}

/* Flowmodoro Notifications */
#flowmodoroNotificationToggle:checked + #flowmodoroNotificationToggleLabel {
    background-color: #53e658;
}

#flowmodoroNotificationToggle:checked + #flowmodoroNotificationToggleLabel #flowmodoroNotificationToggleBall {
    left: 40px;
}

/* Pomodoro Notifications */
#pomodoroNotificationToggle:checked + #pomodoroNotificationToggleLabel {
    background-color: #53e658;
}

#pomodoroNotificationToggle:checked + #pomodoroNotificationToggleLabel #pomodoroNotificationToggleBall {
    left: 40px;
}

/* Notes Auto Switch Mode */
#transitionNotesAutoSwitchToggle:checked + #transitionNotesAutoSwitchToggleLabel {
    background-color: #53e658;
}

#transitionNotesAutoSwitchToggle:checked + #transitionNotesAutoSwitchToggleLabel #transitionNotesAutoSwitchToggleBall {
    left: 40px;
}

/* Propagate unfinished tasks */
#propagateUnfinishedTasksToggle:checked + #propagateUnfinishedTasksToggleLabel {
    background-color: #53e658;
}

#propagateUnfinishedTasksToggle:checked + #propagateUnfinishedTasksToggleLabel #propagateUnfinishedTasksToggleBall {
    left: 40px;
}

/* Auto Start Flow Time Interval */
#autoStartFlowTimeIntervalToggle:checked + #autoStartFlowTimeIntervalToggleLabel {
    background-color: #53e658;
}

#autoStartFlowTimeIntervalToggle:checked + #autoStartFlowTimeIntervalToggleLabel #autoStartFlowTimeIntervalToggleBall {
    left: 40px;
}

/* Auto Start Chill Time Interval */
#autoStartChillTimeIntervalToggle:checked + #autoStartChillTimeIntervalToggleLabel {
    background-color: #53e658;
}

#autoStartChillTimeIntervalToggle:checked + #autoStartChillTimeIntervalToggleLabel #autoStartChillTimeIntervalToggleBall {
    left: 40px;
}

/* Auto Start Pomodoro Interval */
#autoStartPomodoroIntervalToggle:checked + #autoStartPomodoroIntervalToggleLabel {
    background-color: #53e658;
}

#autoStartPomodoroIntervalToggle:checked + #autoStartPomodoroIntervalToggleLabel #autoStartPomodoroIntervalToggleBall {
    left: 40px;
}

/* Auto Start (Pomodoro) Break Interval */
#autoStartBreakIntervalToggle:checked + #autoStartBreakIntervalToggleLabel {
    background-color: #53e658;
}

#autoStartBreakIntervalToggle:checked + #autoStartBreakIntervalToggleLabel #autoStartBreakIntervalToggleBall {
    left: 40px;
}

/* For Transition Clock Sound Toggle */
#transitionClockSoundToggle:checked + #transitionClockSoundToggleLabel {
    background-color: #53e658;
}

#transitionClockSoundToggle:checked + #transitionClockSoundToggleLabel #transitionClockSoundToggleBall {
    left: 40px;
}

/* For Flow Time Animation Toggle */
#flowTimeAnimationToggle:checked + #flowTimeAnimationToggleLabel {
    background-color: #53e658;
}

#flowTimeAnimationToggle:checked + #flowTimeAnimationToggleLabel #flowTimeAnimationToggleBall {
    left: 40px;
}

/* For Flow Time Animation Toggle */
#chillTimeAnimationToggle:checked + #chillTimeAnimationToggleLabel {
    background-color: #53e658;
}

#chillTimeAnimationToggle:checked + #chillTimeAnimationToggleLabel #chillTimeAnimationToggleBall {
    left: 40px;
}

#toggleTargetTimeAlertContainer {
    margin-top: 20px;
}

#breakSuggestionText {
    display: flex;
    /* border: 2px solid yellow; */
    align-items: center;
}

#breakSuggestionText p {
    display: flex;
    /* border: 2px solid black; */
}

#autoStartFlowTimeIntervalBlock {
    margin-top: 20px;
}

.volume-container {
    position: relative;
    width: 200px; /* Adjust to your preference */
    height: 10px; /* Adjust to match the image */
    background-color: #333; /* Dark background */
    border-radius: 10px; /* Rounded corners */
    /* overflow: hidden; */
}

.volume-bar {
    position: absolute;
    width: 100%; /* Full width of the container */
    height: 100%; /* Full height of the container */
}

.volume-thumb {
    position: absolute;
    width: 20px; /* Width of the thumb */
    height: 20px; /* Height of the thumb */
    background-color: white;
    border-radius: 50%; /* Makes it a circle */
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    cursor: pointer;
}

.settingsCategoryHeading {
    font-size: 24px;
    cursor: pointer;
}

.infoIcon {
    position: relative;
    width: 20px;
    height: 20px;
    z-index: 4;
    opacity: 1.00;
    padding: 5px;
    cursor: pointer;
    /* border: 2px solid black; */
}

.toggleContainer {
    display: flex;
    align-items: center;
    /* border: 2px solid yellow; */
}

#suggestion-minutes-submit {
    background-color: #e0e0e0;
    color: black;
    border: 1px solid white;
    outline: none;
    padding: 8px 15px;
    cursor: pointer;
    border-radius: 5px;
    font-family: menuFont;
    letter-spacing: 1px;
    font-size: 16px;
    width: 100px;
}

#suggestion-minutes-submit:active {
    background-color: #e0e0e0;
    transform: scale(0.95);
}

#breakSuggestionBlock {
    display: block;
}

.settingsIconTextContainer {
    display: flex;
    align-items: center;
    justify-content: left;

    /* border: 1px solid plum; */
}

.settingsIconContainer {
    width: 40px;
}

.settingsIcon {
    position: relative;
    width: 22px;
    height: 22px;
    z-index: 4;
    opacity: 1.00;
    right: 10px;
    margin-left: 15px;
    /* border: 2px solid yellow; */
}

#generalIcon {
    height: 12px;
}

#pomodoroIcon {
    width: 20px;
    height: 22px;
}

#accountIcon {
    width: 17px;
    height: 25px;
}

#supportAndFeedbackIcon {
    width: 27px;
    height: 22px;
}

.settingsCategory {
    width: 100%;
    /* height: 100%; */
    /* border: 2px solid yellow; */
}

.subCategory {
    margin-left: 20px;
}

.flowtimeBackgroundCell, .chilltimeBackgroundCell {
    border-radius: 15px;
    padding: 10px 20px;
    color: white;
    display: block;
    text-align: center;
    width: 150px;
    height: 85px;
    margin: 10px;
    box-sizing: border-box;
    border: 0px solid white;
    transition: border 0.10s ease-in-out;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.5);
    animation: animateBackground 15s ease infinite;
    background-size: 400% 400%;
}

.flowtimeBackgroundCell:hover, .chilltimeBackgroundCell:hover, .themeCell:hover {
    cursor: pointer;
}

#green-default, #green-chilltime {
    background-image: linear-gradient(270deg, #00c510, #00c431, #00c59a);
}

#red-flowtime, #red-chilltime {
    background-image: linear-gradient(270deg, #c42700, #c56900, #c58000);
}

#yellow-flowtime, #yellow-chilltime {
    background-image: linear-gradient(270deg, #b8c500, #90c400, #5fc500);
}

#blue-default, #blue-flowtime {
    background-image: linear-gradient(270deg, #3b8fe3, #1d60a3, #7f04c7);
}

#purple-flowtime, #purple-chilltime {
    background-image: linear-gradient(270deg, #7f04c7, #b004c7, #c004c7);
}

#black-flowtime, #black-chilltime {
    background-color: #202020;
}

#flowTimeBackgroundsContainer, #chillTimeBackgroundsContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto;
    width: 600px;
    /* border: 1px solid yellow; */
}

@keyframes animateBackground {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@media (max-width: 892px) {
    #flowTimeBackgroundsContainer, #chillTimeBackgroundsContainer {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto auto auto;
        width: 400px;
    }
}

/* @media (max-width: 690px) {
    #flowTimeBackgroundsContainer, #chillTimeBackgroundsContainer {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: auto auto auto auto auto auto;
    }
    #themesContainer {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: auto auto;
    }
    .themeContainer {
        width: 180px;
    }
} */


.selected-background {
    border: 3px solid white;
}

.themeCell {
    border-radius: 15px;
    padding: 10px 20px;
    color: white;
    font-weight: bold;
    display: inline-block; /* Or block, depending on your layout */
    text-align: center;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25); /* Adjust the shadow to match the image */
    width: 160px;
    height: 60px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: -5px;
    background-position: center;
    box-sizing: border-box;
    transition: border 0.10s ease-in-out;
    /* background-repeat: no-repeat; */
}

#defaultTheme {
    background-image: url('../images/settings/defaulttheme.png');

}

#darkGrayTheme {
    background-image: url('../images/settings/darktheme.png');
}

#flowTimeAnimationToggleContainer {
    display: flex;
}

#chillTimeAnimationToggleContainer {
    display: flex;
}

#animationsContainer {
    display: flex;
    flex-direction: column;
    /* border: 1px solid white; */
    align-items: flex-start;
    margin-bottom: 100px; /* temporary until more content added beneath */
}

.themeContainer {
    display: flex;
    flex-direction: column;
    text-align: center;
    /* border: 1px solid white; */
}

.pomodoroAlertContainer, .flowmodoroAlertContainer, .generalAlertContainer {
    display: flex;
    align-items: center;
    /* border: 2px solid white; */
}

#pomodoroAlertSoundBlock2, #flowmodoroAlertSoundBlock2, #generalAlertSoundsBlock2 {
    margin-bottom: 15px;
}

@media (max-width: 420px) {
    #pomodoroAlertSoundContainer, #flowmodoroAlertSoundContainer, #generalAlertSoundContainer {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
    }
    #chillTimeBackgroundsContainer > div, #flowTimeBackgroundsContainer > div {
        width: 80px;
    }
    #themesContainer {
        display: flex;
        flex-direction: column;
        /* border: 1px solid white; */
    }
    .themeContainer {
        text-align: left;
    }
    #defaultThemeP {
        text-align: left;
        margin-left: 25px;
    }
    #darkThemeP {
        text-align: left;
        margin-left: 35px;
    }
    #flowTimeBackgroundsContainer, #chillTimeBackgroundsContainer {
        /* border: 1px solid white; */
        grid-template-columns: 130px 130px;
        grid-template-rows: auto auto auto;
        /* width: 200px; */
    }
}

.tutorialImgContainer {
    position: relative;
    align-items: left;
}

.tutorialImgContainer::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.95);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    border-radius: 13px;
}

.tutorialImgContainer:hover::after {
    opacity: 1;
}

.tutorialImg {
    border: 8px solid white;
    border-radius: 15px;
    display: block; /* Ensure img is treated as block level for proper positioning */
}

.labelInstructions {
    display: block;
    position: absolute;
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Adjust the position to truly center based on its own size */
    color: white; /* Ensures text is visible against a dark background */
    text-align: center; /* Center the text inside the div */
    z-index: 2;
    width: 90%;
    opacity: 0;

    transition: opacity 0.3s ease-in-out;
}

.fullOpacity {
    opacity: 1;
}

.labelInfoBucket {
    display: flex;
}

.tutorialSectionHeading {
    width: 200px;
    display: flex;
    justify-content: left;
    align-items: center;
}

.labelInfoContainer {
    margin-top: 10px;
    margin-bottom: 10px; /* Corrected from 10x to 10px */
}

#toggleNotesAutoSwitchContainer, #togglePropagateUnfinishedTasksContainer {
    align-items: center;
}

@media (max-width: 785px) {
    .tutorialSectionHeading {
        display: none;
    }
}

@media (max-width: 365px) {
    .tutorialImg {
        width: 200px;
    }
}

#emailPasswordLoginContainer {
    width: 100%;
}

#enterEmailContainer {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 5px;
}

#enterPasswordContainer {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

#forgotPasswordContainer {
    margin-bottom: 25px;
    color: white;
    font-family: settingsHeaderFont;
    font-size: 14px;
    color: rgb(216, 216, 216);
}

#forgotPasswordContainer:hover {
    cursor: pointer;
}

.loginLabel {
    margin-bottom: -10px;
}

.loginInput {
    width: 400px;
    height: 30px;

    background-color: transparent;
    border: 2px solid grey;
    border-radius: 5px; /* Adjust this value to control the curvature */
    outline-color: white;

    caret-color: white;
    padding-left: 5px;
    color: white;
    font-family: settingsHeaderFont;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 1px;
}

@media (max-width: 670px) {
    .loginInput {
        width: 90%;
    }
}

#registerHereText:hover, #loginWithGoogleText:hover {
    cursor: pointer;
    color: rgb(216, 216, 216);
}

#settingsGoogleLogin {
    /* border: 1px solid white; */
    width: 410px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 8px;
}

#loginBtnContainer {
    display: flex;
}

#logoutBtnContainer {
    display: none;
}

#userEmailContainer {
    margin-bottom: 5px;
    display: none;
}