@font-face {
    font-family: settingsHeaderFont;
    src: url("../fonts/TTNormsProRegular.otf");
}

@font-face {
    font-family: settingsHeaderFontBold;
    src: url("../fonts/TTNormsProBold.otf");
}

#settingsContainer {
    position: fixed;
    background-color: rgb(0, 0, 0);

    /* DARK GREY THEME BACKGROUND */
    /* background-color: rgba(32, 32, 32, 1); */

    /* POTENTIAL DESIGN ALTERNATIVE -- WHITE BORDER */
    /* border: 3px solid rgb(255, 255, 255); */
    
    /* margin: 20px; */
    z-index: 40;
    /* border-radius: 10px; */

    top: 0;       /* Align to the top */
    right: 0;     /* Stretch to the right */
    bottom: 0;    /* Stretch to the bottom */
    
    width: 900px;
    height: 100%; /* Cover the full height */
    
    display: none;

    transition: background-color 0.6s ease-in-out;

    opacity: 0;
    transition: opacity 0.15s ease-in-out;

    /* overflow-y: scroll; */
}

#settingsContent::-webkit-scrollbar {
    width:10px;
    height: 8px;
}

#settingsContent::-webkit-scrollbar:hover {
    cursor: pointer;
}

#settingsContent::-webkit-scrollbar-track {
    /* background: transparent; */
    background: rgba(255, 255, 255, 0);
}

#settingsContent::-webkit-scrollbar-thumb {
    background-color: #424242;
    border-radius: 10px;
}

@media (max-width: 900px) {
    #settingsContainer {
        border-radius: 0px;
        width: 100%;
    }
}

#settingsWindow {
    display: flex;
    position: relative;
    justify-content: left;
    align-items: top;
    overflow-x: hidden;
    overflow-y: hidden;
    /* border: 2px solid red; */
    min-height: calc(100vh - 90px);
    width: 100%;
}

#settingsHeaderColumn {
    display: flex;
    /* display: none; */
    flex-direction: column;
    justify-content: left;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 25px;
    /* border: 1px solid white; */
    width: 200px;
}

#settingsHeader {
    display: flex;
    justify-content: center;
    align-items: center;

    /* border: 2px solid yellowgreen; */
}

#settingsExit {
    position: absolute;
    left: 0;
    margin-left: 20px;
}

/* .minutesImage {
    height: 50px;
    width: 93px;
    border-radius: 10px;
    border: 2px solid white;
} */

.imageBucket {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-right: 20px;
    min-width: 90px;
    /* border: 1px solid white; */
}

.imageBucketHeader {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-right: 20px;
    /* border: 1px solid white; */
}

#pomodoroAlertSoundContainer2, #flowmodoroAlertSoundContainer2, #generalAlertSoundContainer2 {
    display: flex;
    max-width: 500px;
    width: 100%;
}

.semiBlock {
    display: flex;
}

#endOfBreakIntervals {
    display: flex;
}

.vertical {
    background-color: rgba(255, 255, 255, 0.15);
    width: 0px;
    /* height: 1000px; */
    min-height: 500px;
    display: block;
    margin-right: 50px;
    margin-top: 20px;

    border: 1px solid rgba(255, 255, 255, 0.15);
}

.horizontal {
    background-color: rgba(255, 255, 255, 0.15);
    width: 95%;
    height: 1px;
    display: block;
    margin-right: 50px;
}

.settingsHeader {
    font-family: menuFont;
    letter-spacing: 1px;
    font-weight: 300;
    color: rgb(255, 255, 255);
    font-size: 16px;
    padding-right: 10px;
}

.pickAlertSound {
    display: flex;
}

.flowmodoroAlert, .pomodoroAlert, .generalAlert {
    width: 20px;
    height: 20px;
    margin-bottom: 5px;
    margin-right: 10px;
    background-color: #53e658;
    cursor: pointer;
}

.flowmodoroAlertContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid white; */
}

.settingsHeaderRow {
    display: flex;
    justify-content: left;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 8px;
    min-height: 25px;

    transition: background-color 0.15s ease-in-out;
    
    /* border: 1px solid green; */
}

.settingsContentContainer {
    display: none;
    /* display: block; */
    width: 100%;

    /* border: 1px solid yellow; */
}

.settingsMicroContainer {
    display: flex;
    width: 100%;
    align-items: left;

    /* border: 2px solid yellow; */
}

#addingDeletingUpdatingLabelsInfoBlock {
    margin-bottom: 40px;

    /* border: 2px solid white; */
}

#timestampsBlock {
    margin-bottom: 100px; /* temporary until more content added beneath */
}

#dailyTargetHoursDropdown {
    width: 50px;          /* Adjust width */
    height: 40px;          /* Adjust height */
    font-family: settingsHeaderFont;
    font-weight: bold;
    background-color: #ccc; /* Light gray background */
    color: #000;           /* Black text */
    font-size: 18px;       /* Increase font size */
    border: 1px solid #888; /* Border with a darker gray */
    border-radius: 15px;    /* Rounded corners */
    padding: 5px;          /* Add some padding for the text */
    cursor: pointer;       /* Change cursor to pointer */
}

#dailyTargetHoursDropdown:focus {
    outline: none;          /* Remove the default focus outline */
    border-color: #666;      /* Change border color on focus */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); /* Add shadow on focus */
}

#sessionIntervalsChartBoundsBlock {
    display: flex;
    flex-direction: column;
}

.sessionIntervalsChartBoundsContainer {
    display: flex;
}

.sessionIntervalsChartBounds {
    transform: scale(3); /* Increase the size by 1.5x */
    -webkit-transform: scale(1.5); /* For Safari */
    margin: 5px; /* Optional: Add space around the radio button */
    cursor: pointer;
}

#sessionIntervalsBoundsDemoImg {
    width: 800px;
    height: auto;
    border-radius: 25px;

    border: 3px solid white;
}

.boundsSettingsHeader {
    margin-left: 15px;

    /* border: 1px solid orangered; */
}

.manualBoundsContainer {
    display: flex;
    align-items: center;

    /* border: 1px solid blue; */
}

.manualBoundHourInputContainer {
    margin-left: 15px;
    margin-right: 5px;
}

.boundHourDropdown {
    width: 50px;
    height: 40px;
    font-family: settingsHeaderFont;
    font-weight: bold;
    background-color: #ccc;
    color: #000;
    font-size: 18px;
    border: 1px solid #888;
    border-radius: 15px;
    padding: 5px;
    cursor: pointer;
}





















































@media (max-width: 650px) {
    #settingsHeaderColumn {
        display: none;
    }
    .settingsIconTextContainer {
        margin-top: 60px;
    }
    .settingsContentContainer {
        width: 80%;
        margin-left: 25px;
    }
    #alertsNotificationsContainer {
        margin-top: 0px;
    }
    .vertical {
        display: none;
    }
}

.settingsHeaderRow:not(#notificationsHeaderContainer):not(.selected):hover {
    background-color: rgba(130, 0, 170, 0.6);
    color: white;
    cursor: pointer;
}

.selected {
    background-color: rgba(130, 0, 170, 1);
}

#notificationsHeaderContainer:hover {
    cursor: default;
}

#settingsContent {
    /* border: 1px solid yellow; */
    display: block;
    height: 100%;
    position: relative;
    max-height: 92vh;
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
}

.settings h2 {
    color: rgb(255, 255, 255);
    font-size: 32px;
}

.settings h3 {
    color: rgb(255, 255, 255);
}

.settings p {
    font-family: settingsHeaderFont;
    letter-spacing: 1px;
    font-weight: 300;
    color: rgb(255, 255, 255);
    font-size: 18px;
}

.settings hr {
    height: 1px;
    width: 100%;
    border: none;
    background-color: rgba(255, 255, 255, 0.25); /* or any desired color */
}

.settingsText:not(#addingDeletingUpdatingLabelsText) {
    display: flex;
    align-items: center;
    margin-left: 20px;
    
    /* border: 1px solid white; */
}

#addingDeletingUpdatingLabelsText {
    display: flex;
    align-items: center;

    /* border: 1px solid white; */
}

#aboutIconSessionIntervalsChartBounds {
    display: block;
    width: 22px;
    height: 22px;
    margin-left: 10px;
    cursor: pointer;
}


.flowmodoroBreak, .pomodoroInterval, #suggestionMinutesInput {
    width: 50px;
    height: 20px;
    background-color: #e0e0e0;
    font-size: 16px;
    padding: 8px 12px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 1px solid white;
    
    font-family: settingsHeaderFont;
    letter-spacing: 1px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    font-size: 18px;
}

.notificationInfoWindow {
    border: 2px solid white;
    background-color: black;
    font-family: settingsHeaderFont;
    letter-spacing: 1px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    font-size: 18px;
    position: relative;
    z-index: 50;
    margin-left: 20px;
    border-radius: 25px;
    text-align: center;
    display: block;
    padding: 5px;
    
    transition: opacity 0.25s ease-in-out;
    width: 300px;
    opacity: 0;
}

#dailyTargetHoursContainer {
    display: flex;

    /* border: 1px solid cyan; */
}

#toggleIntervalTimeContainer {
    display: flex;

    /* border: 1px solid cyan; */
}

#advChartsSampleSizeInfoWindow {
    height: auto;
}

#advChartsSampleSizeInfoWindow.infoWindowOpacity, #dailyTargetHoursInfoWindow.infoWindowOpacity, #flowmodoroNotificationInfoWindow.infoWindowOpacity, #flowTimeBreakNotificationInfoWindow.infoWindowOpacity, #pomodoroNotificationInfoWindow.infoWindowOpacity, #intervalTimeInfoWindow.infoWindowOpacity, #totalTimeInfoWindow.infoWindowOpacity, #muffinInfoWindow.infoWindowOpacity, #notesAutoSwitchInfoWindow.infoWindowOpacity, #propagateUnfinishedTasksInfoWindow.infoWindowOpacity, #timestampsInfoWindow.infoWindowOpacity {
    opacity: 1;
}

.displayInfoWindow {
    height: 50px;
}

@media(max-width: 853px) {
    #muffinInfoWindow {
        height: 65px;
    }
}

@media(max-width: 748px) {
    #muffinInfoWindow {
        height: 100px;
    }
}

#flowTimeBreakNotificationInfoWindow {
    width: 350px;
}

#flowmodoro-break-submit {
    border: 1px solid white;
}

#compare_chartContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

#compare_chart {
    height: 50%;
    width: 100px;
}

#suggestionMinutesInputContainer {
    margin-right: 15px;
}

#FlowTime {
    color: #53e658;
}

#ChillTime {
    color: #3b8fe3;
}

.toggle-checkbox {
    display: none;
}

.toggle-label {
    display: block;
    width: 60px;
    height: 20px;
    background-color: #e0e0e0;
    border-radius: 30px;
    position: relative;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border: 3px solid rgba(0, 0, 0, 0.25);
}

.toggle-ball {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #ffffff;
    border-radius: 50%;
    top: 0;
    left: 0;
    transition: all 0.3s ease;
}

/* For Target Time Reached Alert Toggle */
#targetTimeReachedToggle:checked + #targetTimeReachedToggleLabel {
    background-color: #53e658;
}

#targetTimeReachedToggle:checked + #targetTimeReachedToggleLabel #targetTimeReachedToggleBall {
    left: 40px;
}

/* For Break Suggestion Toggle */
#breakSuggestionToggle:checked + #breakSuggestionToggleLabel {
    background-color: #53e658;
}

#breakSuggestionToggle:checked + #breakSuggestionToggleLabel #breakSuggestionToggleBall {
    left: 40px;
}

/* Flowmodoro Notifications */
#flowmodoroNotificationToggle:checked + #flowmodoroNotificationToggleLabel {
    background-color: #53e658;
}

#flowmodoroNotificationToggle:checked + #flowmodoroNotificationToggleLabel #flowmodoroNotificationToggleBall {
    left: 40px;
}

/* Pomodoro Notifications */
#pomodoroNotificationToggle:checked + #pomodoroNotificationToggleLabel {
    background-color: #53e658;
}

#pomodoroNotificationToggle:checked + #pomodoroNotificationToggleLabel #pomodoroNotificationToggleBall {
    left: 40px;
}

/* Display Mode */
#intervalTimeToggle:checked + #intervalTimeToggleLabel {
    background-color: #53e658;
}

#intervalTimeToggle:checked + #intervalTimeToggleLabel #intervalTimeToggleBall {
    left: 40px;
}

#totalTimeToggle:checked + #totalTimeToggleLabel {
    background-color: #53e658;
}

#totalTimeToggle:checked + #totalTimeToggleLabel #totalTimeToggleBall {
    left: 40px;
}

#muffinToggle:checked + #muffinToggleLabel {
    background-color: #53e658;
}

#muffinToggle:checked + #muffinToggleLabel #muffinToggleBall {
    left: 40px;
}

/* Notes Auto Switch Mode */
#transitionNotesAutoSwitchToggle:checked + #transitionNotesAutoSwitchToggleLabel {
    background-color: #53e658;
}

#transitionNotesAutoSwitchToggle:checked + #transitionNotesAutoSwitchToggleLabel #transitionNotesAutoSwitchToggleBall {
    left: 40px;
}

/* Propagate unfinished tasks */
#propagateUnfinishedTasksToggle:checked + #propagateUnfinishedTasksToggleLabel {
    background-color: #53e658;
}

#propagateUnfinishedTasksToggle:checked + #propagateUnfinishedTasksToggleLabel #propagateUnfinishedTasksToggleBall {
    left: 40px;
}

/* Propagate unfinished tasks */
#timestampsToggle:checked + #timestampsToggleLabel {
    background-color: #53e658;
}

#timestampsToggle:checked + #timestampsToggleLabel #timestampsToggleBall {
    left: 40px;
}

/* Auto Start Flow Time Interval */
#autoStartFlowTimeIntervalToggle:checked + #autoStartFlowTimeIntervalToggleLabel {
    background-color: #53e658;
}

#autoStartFlowTimeIntervalToggle:checked + #autoStartFlowTimeIntervalToggleLabel #autoStartFlowTimeIntervalToggleBall {
    left: 40px;
}

/* Auto Start Chill Time Interval */
#autoStartChillTimeIntervalToggle:checked + #autoStartChillTimeIntervalToggleLabel {
    background-color: #53e658;
}

#autoStartChillTimeIntervalToggle:checked + #autoStartChillTimeIntervalToggleLabel #autoStartChillTimeIntervalToggleBall {
    left: 40px;
}

/* Auto Start Pomodoro Interval */
#autoStartPomodoroIntervalToggle:checked + #autoStartPomodoroIntervalToggleLabel {
    background-color: #53e658;
}

#autoStartPomodoroIntervalToggle:checked + #autoStartPomodoroIntervalToggleLabel #autoStartPomodoroIntervalToggleBall {
    left: 40px;
}

/* Auto Start (Pomodoro) Break Interval */
#autoStartBreakIntervalToggle:checked + #autoStartBreakIntervalToggleLabel {
    background-color: #53e658;
}

#autoStartBreakIntervalToggle:checked + #autoStartBreakIntervalToggleLabel #autoStartBreakIntervalToggleBall {
    left: 40px;
}

/* For Transition Clock Sound Toggle */
#transitionClockSoundToggle:checked + #transitionClockSoundToggleLabel {
    background-color: #53e658;
}

#transitionClockSoundToggle:checked + #transitionClockSoundToggleLabel #transitionClockSoundToggleBall {
    left: 40px;
}

/* For Flow Time Animation Toggle */
#flowTimeAnimationToggle:checked + #flowTimeAnimationToggleLabel {
    background-color: #53e658;
}

#flowTimeAnimationToggle:checked + #flowTimeAnimationToggleLabel #flowTimeAnimationToggleBall {
    left: 40px;
}

/* For Flow Time Animation Toggle */
#chillTimeAnimationToggle:checked + #chillTimeAnimationToggleLabel {
    background-color: #53e658;
}

#chillTimeAnimationToggle:checked + #chillTimeAnimationToggleLabel #chillTimeAnimationToggleBall {
    left: 40px;
}

/* For Flow Time Animation Toggle */
#advChartsSampleSizeToggle:checked + #advChartsSampleSizeToggleLabel {
    background-color: #53e658;
}

#advChartsSampleSizeToggle:checked + #advChartsSampleSizeToggleLabel #advChartsSampleSizeToggleBall {
    left: 40px;
}

#toggleTargetTimeAlertContainer {
    margin-top: 20px;
}

#autoStartFlowTimeIntervalBlock {
    margin-top: 20px;
}

.volume-container {
    position: relative;
    width: 200px; /* Adjust to your preference */
    height: 10px; /* Adjust to match the image */
    background-color: #333; /* Dark background */
    border-radius: 10px; /* Rounded corners */
    /* overflow: hidden; */
}

.volume-bar {
    position: absolute;
    width: 100%; /* Full width of the container */
    height: 100%; /* Full height of the container */
}

.volume-thumb {
    position: absolute;
    width: 20px; /* Width of the thumb */
    height: 20px; /* Height of the thumb */
    background-color: white;
    border-radius: 50%; /* Makes it a circle */
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    cursor: pointer;
}

.settingsCategoryHeading {
    font-size: 24px;
    cursor: pointer;
    position: relative;
}

.labelTutorialSettingsHeader {
    font-size: 24px;
}

.settingsCategoryHeading::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0;
    height: 2px; /* The thickness of the underline */
    background-color: currentColor; /* Matches the text color */
    transition: width 0.25s ease, left 0.25s ease; /* Animate both width and left position */
    transform: translateX(-50%);
}

.settingsCategoryHeading:hover::after {
    width: 100%; /* Expands the underline to full width on hover */
}



.infoIcon {
    position: relative;
    width: 20px;
    height: 20px;
    z-index: 4;
    opacity: 1.00;
    padding: 5px;
    cursor: pointer;
    /* border: 2px solid black; */
}

.toggleContainer {
    display: flex;
    align-items: center;
    /* border: 2px solid yellow; */
}

#suggestion-minutes-submit {
    background-color: #e0e0e0;
    color: black;
    border: 1px solid white;
    outline: none;
    padding: 8px 15px;
    cursor: pointer;
    border-radius: 5px;
    font-family: menuFont;
    letter-spacing: 1px;
    font-size: 16px;
    width: 100px;
}

#suggestion-minutes-submit:active {
    background-color: #e0e0e0;
    transform: scale(0.95);
}

#breakSuggestionBlock {
    display: block;
}

.settingsIconTextContainer {
    display: flex;
    align-items: center;
    justify-content: left;

    /* border: 1px solid plum; */
}

.settingsIconContainer {
    width: 40px;
}

.settingsIcon {
    position: relative;
    width: 22px;
    height: 22px;
    z-index: 4;
    opacity: 1.00;
    right: 10px;
    margin-left: 15px;
    
    /* border: 1px solid yellow; */
}

#generalIcon {
    height: 12px;
}

#pomodoroIcon {
    width: 20px;
    height: 22px;
}

.settingsIcon:not(#generalIcon) {
    margin-bottom: -5px;
}

#accountIcon {
    width: 17px;
    height: 25px;
}

#supportAndFeedbackIcon {
    width: 27px;
    height: 22px;
}

.settingsCategory {
    width: 100%;
    /* height: 100%; */
    /* border: 2px solid yellow; */
}

.subCategory {
    margin-left: 20px;
}

.flowtimeBackgroundCell, .chilltimeBackgroundCell {
    border-radius: 15px;
    padding: 10px 20px;
    color: white;
    display: block;
    text-align: center;
    width: 150px;
    height: 85px;
    margin: 10px;
    box-sizing: border-box;
    border: 0px solid white;
    transition: border 0.10s ease-in-out;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.5);
    animation: animateBackground 15s ease infinite;
    background-size: 400% 400%;
}

.flowtimeBackgroundWorldCell, .chilltimeBackgroundWorldCell {
    border-radius: 15px;
    padding: 10px 20px;
    color: white;
    display: block;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 85px;
    margin: 10px;
    box-sizing: border-box;
    border: 0px solid white;
    transition: border 0.10s ease-in-out;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.5);

    background-size: contain; /* Ensure the image is zoomed out to fit the cell */
    background-position: center; /* Center the image in the cell */
    background-repeat: no-repeat; /* Prevent the image from repeating */

    background-size: 110% 110%;
}

.flowtimeBackgroundCell:hover, .chilltimeBackgroundCell:hover, .flowtimeBackgroundWorldCell:hover, .chilltimeBackgroundWorldCell:hover, .themeCell:hover {
    cursor: pointer;
}

#green-default, #green-chilltime {
    background-image: linear-gradient(270deg, #00c510, #00c431, #00c59a);
}

#red-flowtime, #red-chilltime {
    background-image: linear-gradient(270deg, #c42700, #c56900, #c58000);
}

#yellow-flowtime, #yellow-chilltime {
    background-image: linear-gradient(270deg, #e1ff00, #90c400, #00e908);
}

#blue-default, #blue-flowtime {
    background-image: linear-gradient(270deg, #0f0cce, #700cce, #b004c7);
}

#purple-flowtime, #purple-chilltime {
    background-image: linear-gradient(270deg, #700cce, #b004c7, #f700ff);
}

#black-flowtime, #black-chilltime {
    /* background-color: #202020; */
    background-image: linear-gradient(270deg, #202020, #202020, #202020);
}

#hyperchillSunset-flowtime {
    background-image: url("/images/environments/1253862403-small.jpg");
}

#hyperchillSunset-chilltime {
    background-image: url("/images/environments/1253862403-small-orange.jpg");
}

#hyperchillHands-flowtime {
    background-image: url("/images/environments/1306875579-small.jpg");
}

#hyperchillHands-chilltime {
    background-image: url("/images/environments/1306875579-small-orange.jpg");
}

#hyperchillTriangle-flowtime {
    background-image: url("/images/environments/1394258314-small.jpg");
}

#hyperchillTriangle-chilltime {
    background-image: url("/images/environments/1394258314-small-green-pixelated.jpg");
}

#flowTimeBackgroundsContainer, #chillTimeBackgroundsContainer, #flowtimeWorldsBackgroundsContainer, #chilltimeWorldsBackgroundsContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto;
    width: 600px;
    /* border: 1px solid yellow; */
}

@keyframes animateBackground {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@media (max-width: 892px) {
    #flowTimeBackgroundsContainer, #chillTimeBackgroundsContainer, #flowtimeWorldsBackgroundsContainer, #chilltimeWorldsBackgroundsContainer {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto auto auto;
        width: 400px;
    }
}

.selected-background {
    border: 3px solid white;
}

.themeCell {
    border-radius: 15px;
    padding: 10px 20px;
    color: white;
    font-weight: bold;
    display: inline-block; /* Or block, depending on your layout */
    text-align: center;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25); /* Adjust the shadow to match the image */
    width: 160px;
    height: 60px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: -5px;
    background-position: center;
    box-sizing: border-box;
    transition: border 0.10s ease-in-out;
    /* background-repeat: no-repeat; */
}

#defaultTheme {
    background-image: url('../images/settings/defaulttheme.png');

}

#darkGrayTheme {
    background-image: url('../images/settings/darktheme.png');
}

#flowTimeAnimationToggleContainer {
    display: flex;
}

#chillTimeAnimationToggleContainer {
    display: flex;
}

#animationsContainer {
    display: flex;
    flex-direction: column;
    /* border: 1px solid white; */
    align-items: flex-start;
    margin-bottom: 100px; /* temporary until more content added beneath */
}

.themeContainer {
    display: flex;
    flex-direction: column;
    text-align: center;
    /* border: 1px solid white; */
}

.pomodoroAlertContainer, .flowmodoroAlertContainer, .generalAlertContainer {
    display: flex;
    align-items: center;
    /* border: 2px solid white; */
}

#pomodoroAlertSoundBlock2, #flowmodoroAlertSoundBlock2, #generalAlertSoundsBlock2 {
    margin-bottom: 15px;
}

@media (max-width: 420px) {
    #pomodoroAlertSoundContainer, #flowmodoroAlertSoundContainer, #generalAlertSoundContainer {
        display: flex;
        margin-bottom: 20px;
    }
    #chillTimeBackgroundsContainer > div, #flowTimeBackgroundsContainer > div, #flowtimeWorldsBackgroundsContainer > div, #chilltimeWorldsBackgroundsContainer > div {
        width: 120px;
        height: 75px;
    }
    #themesContainer {
        display: flex;
        flex-direction: column;
        /* border: 1px solid white; */
    }
    .themeContainer {
        text-align: left;
    }
    #defaultThemeP {
        text-align: left;
        margin-left: 25px;
    }
    #darkThemeP {
        text-align: left;
        margin-left: 35px;
    }
    #flowTimeBackgroundsContainer, #chillTimeBackgroundsContainer, #flowtimeWorldsBackgroundsContainer, #chilltimeWorldsBackgroundsContainer {
        grid-template-columns: 150px 130px;
    }
}

.tutorialImgContainer {
    position: relative;
    align-items: left;
}

.tutorialImgContainer::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.95);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    border-radius: 13px;
}

.tutorialImgContainer:hover::after {
    opacity: 1;
}

.tutorialImg {
    border: 8px solid white;
    border-radius: 15px;
    display: block; /* Ensure img is treated as block level for proper positioning */
}

.labelInstructions {
    display: block;
    position: absolute;
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Adjust the position to truly center based on its own size */
    color: white; /* Ensures text is visible against a dark background */
    text-align: center; /* Center the text inside the div */
    z-index: 2;
    width: 90%;
    opacity: 0;

    transition: opacity 0.3s ease-in-out;
}

.fullOpacity {
    opacity: 1;
}

.labelInfoBucket {
    display: flex;
}

.tutorialSectionHeading {
    width: 200px;
    display: flex;
    justify-content: left;
    align-items: center;
}

.labelInfoContainer {
    margin-top: 10px;
    margin-bottom: 10px; /* Corrected from 10x to 10px */
}

#toggleNotesAutoSwitchContainer, #togglePropagateUnfinishedTasksContainer {
    align-items: center;

    /* border: 1px solid white; */
}

@media (max-width: 785px) {
    .tutorialSectionHeading {
        display: none;
    }
}

@media (max-width: 365px) {
    .tutorialImg {
        width: 200px;
    }
}

#emailPasswordLoginContainer {
    width: 100%;
}

#enterEmailContainer {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 5px;
}

#enterPasswordContainer {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

#forgotPasswordContainer {
    margin-bottom: 25px;
    color: white;
    font-family: settingsHeaderFont;
    font-size: 14px;
    color: rgb(216, 216, 216);
}

#forgotPasswordContainer:hover {
    cursor: pointer;
}

.loginLabel {
    margin-bottom: -10px;
}

.loginInput {
    width: 400px;
    height: 30px;

    background-color: transparent;
    border: 2px solid grey;
    border-radius: 5px; /* Adjust this value to control the curvature */
    outline-color: white;

    caret-color: white;
    padding-left: 5px;
    color: white;
    font-family: settingsHeaderFont;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 1px;
}

@media (max-width: 670px) {
    .loginInput {
        width: 90%;
    }
}

#registerHereText:hover, #loginWithGoogleText:hover {
    cursor: pointer;
    color: rgb(216, 216, 216);
}

#settingsGoogleLogin {
    /* border: 1px solid white; */
    max-width: 410px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 8px;
}

#loginBtnContainer {
    display: flex;
}

#logoutBtnContainer {
    display: none;
}

#userEmailContainer {
    margin-bottom: 5px;
    display: none;
}

.settingsBtn {
    margin-bottom: 25px;
}

#accountHr {
    margin-bottom: 25px;
    display: none;
}

#deleteAccountBtnContainer {
    display: none;
}

#deleteAccountBtn {
    color: red;
    border-color: red;
    transition: color 0.25s ease, border-color 0.25s ease, background-color 0.25s ease;
}

#deleteAccountBtn:hover {
    color: black;
    border-color: black;
}

#supportMessageText {
    display: flex;
    flex-direction: column;
    max-width: 500px;
}

#supportEmail {
    transition: color 0.25s ease-out;
}

#supportEmail:hover {
    color: rgb(0, 225, 255);
    cursor: pointer;
}

/* I need to organize all of my CSS. This is patently insane. */

#settingsDiscordBtn {
    display: flex;
    width: 200px;
    height: auto;
    margin-top: 25px;
    cursor: pointer;
}







@media (max-width: 810px) {
    .imageBucketHeader {
        display: none;
    }
    #endOfBreakIntervals {
        display: flex;
        flex-direction: column;
    }
    #flowTimeBreakDemoImages {
        margin-bottom: 25px;
    }
    #pomodoroAlertSoundText, #flowmodoroAlertSoundText, #generalAlertSoundText, #pomodoroAlertSoundText2, #flowmodoroAlertSoundText2, #generalAlertSoundText2 {
        display: flex;
    }
}

@media (max-width: 775px) {
    #pomodoroAlertSoundContainer2, #flowmodoroAlertSoundContainer2, #generalAlertSoundContainer2 {
        display: flex;
        flex-direction: left;
        /* border: 1px solid yellow; */
        width: 300px;
    }
    #toggleTargetTimeAlertContainer, #togglePomodoroNotificationContainer, #toggleFlowmodoroNotificationContainer {
        display: flex;
        /* flex-direction: column; */
    }
}

@media (min-width: 980px) {
    #toggleTargetTimeAlertContainer, #togglePomodoroNotificationContainer, #toggleFlowmodoroNotificationContainer, #toggleNotesAutoSwitchContainer, #togglePropagateUnfinishedTasksContainer {
        align-items: center;
    }
}

@media (max-width: 560px) {
    #advChartsSampleSizeInfoWindow, #dailyTargetHoursInfoWindow, #pomodoroNotificationInfoWindow, #flowmodoroNotificationInfoWindow, #flowTimeBreakNotificationInfoWindow, #intervalTimeInfoWindow, #totalTimeInfoWindow, #muffinInfoWindow, #notesAutoSwitchInfoWindow, #propagateUnfinishedTasksInfoWindow, #timestampsInfoWindow {
        display: none;
    }
    #pomodoroAlertSoundContainer2, #flowmodoroAlertSoundContainer2, #generalAlertSoundContainer2 {
        display: flex;
        margin-bottom: 20px;
        /* border: 1px solid yellow; */
    }
}