#spaceContainer {
    /* display: flex;  */
    display: none; 
    position: relative;
    width: 90%;
    height: calc(100% - 105px);
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    flex-direction: column; 
    box-sizing: border-box;
    margin-top: 25px;

    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    /* border: 3px solid orange; */
}

#spaceSubContainer {
    display: flex; /* Ensure it is a flex container */
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    box-sizing: border-box;
    border-radius: 25px;
    z-index: 10;

    align-items: center;
    justify-content: center;

    color: white;
    font-family: myFont2;
}

.no-transition {
    transition: none !important; /* Override to remove transition */
}