@font-face {
    font-family: myFontBlog;
    src: url("../fonts/CPMono_v07_Plain.woff");
}

@font-face {
    font-family: myFont2;
    src: url("../fonts/CPMono_v07_Bold.woff");
}

@font-face {
    font-family: myFont3;
    src: url("../fonts/CPMono_v07_Light.woff");
}

/* Makes it so user can't select images used for animations */
.no-select {
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;     /* Internet Explorer/Edge */
    user-select: none;         /* Non-prefixed version, currently supported by Chrome, Opera, and Edge */
}

body {
    font-family: myFont;
    overflow-y: scroll;
    margin: 0;
    padding: 0;
    min-height: 100%;
    position: relative;
    box-sizing: border-box;
}

@keyframes gradientShift {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

html {
    margin: 0;
    width: 100%;
    height: 100%;
    background-size: cover; /* This will cover the full area of the element */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-color: #202020;
    background-image: linear-gradient(90deg, #0cc1ce, #700cce, #b004c7);
    transition: background-image 1s ease-in-out;
    background-size: 400% 400%;
    animation: gradientShift 30s linear infinite;
}

#backgroundContainer {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;

    /* border: 5px solid gray; */

    opacity: 1;
    transition: opacity 0.25s ease-in-out;

    z-index: 0;
}

#deepWorkBackground, #breakBackground {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover; /* Ensure the background covers the entire element */

    /* border: 5px solid gray; */

    opacity: 0;
    z-index: 0;
    transition: opacity 0.25s ease-in-out;
}

#deepWorkBackground {
    z-index: 0;
}

#breakBackground {
    z-index: 1;
}

/* .fadeOutBackground {
    animation: fadeOutBackground 0.25s ease-in-out forwards;
}

.fadeInBackground {
    animation: fadeInBackground 0.25s ease-in-out forwards;
} */

body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    opacity: 1;
    /* animation: fadeOutBackground 3s ease-in-out forwards; */
    z-index: 0;
}

body.fade-out-bg::before {
    animation: fadeOutBackground 3s ease-in-out forwards;
}

@keyframes fadeOutBackground {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes fadeInBackground {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes animateBackground {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

#background-video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    width: auto; 
    height: auto;
    z-index: 0;
    background-size: cover;
}

html::-webkit-scrollbar {
    width: 0px;
    height: 8px;
}

html::-webkit-scrollbar:hover {
    cursor: pointer;
}

html::-webkit-scrollbar-track {
    /* background: transparent; */
    background: rgba(255, 255, 255, 0);
}

html::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
}

h1 {
    font-size: 30px;
    font-family: myFont2; 
    color: white;
    /* border: 1px solid yellow; */
}

h2 {
    font-size: 24px;
    font-family: myFont3;
    color: white;
}

h3 {
    font-size: 20px;
    font-family: myFont3;
    color: white;
}

/* Adjust these to only apply to the HyperChill.io Header */
@media (max-width: 400px) {
    .container h1 {
        font-size: 26px;
    }
}

@media (max-width: 354px) {
    .container h1 {
        font-size: 23px;
    }
}

h4 {
    font-family: myFont2;
    color: white;
}

.caption {
    font-family: myFont2;
}

.dinkle-doink-mode {
    display: none;
    opacity: 0;
    position: relative;
    width: 102px;
    border-radius: 2rem;
    transition: opacity 1s ease-in-out;
    cursor: pointer;
    border: 3px solid white;
    z-index: 3;
}

.dinkle-doink-mode::after {
    content: "";
    background: linear-gradient(160deg, #2dd5ff 0%, #5025be 100%);
    box-shadow: 0px 3px 3px 0px rgba(5, 0, 40, 0.35);
    left: 0;
    --spot-area: 36px;
    height: var(--spot-area);
    width: var(--spot-area);
    position: absolute;
    top: calc((100% - var(--spot-area))/2);
    border-radius: 1000px;
    z-index: 6;
    transition: all 250ms ease-in-out;
    translate: calc(var(--spot-area)/4*3.675);
}

.dinkle-doink-mode:active::after {
    transform: scale(1.2);
}

body[dinkle-doink-setting=report] .dinkle-doink-mode::after {
    translate: 0
}

body[dinkle-doink-setting=home] .dinkle-doink-mode::after {
    translate: calc(var(--spot-area)/4*3.675)
}

body[dinkle-doink-setting=space] .dinkle-doink-mode::after {
    translate: calc(var(--spot-area)/2*3.675)
}

body[dinkle-doink-setting=report] .dinkle-doink-mode .caption [dinkle-doink=report] {
    display: block
}

body[dinkle-doink-setting=home] .dinkle-doink-mode .caption [dinkle-doink=home] {
    display: block
}

body[dinkle-doink-setting=space] .dinkle-doink-mode .caption [dinkle-doink=space] {
    display: block
}

.dinkle-doink-mode svg {
    position: relative;
    z-index: 10;
}

.dinkle-doink-mode .caption {
    position: absolute;
    bottom: -1.75rem;
    left: 0;
    width: 100%;
    font-weight: 600;
    letter-spacing: -0.045rem;
    text-align: center
}

.dinkle-doink-mode .caption span {
    display: none;
    color: white;
    transition: color 250ms ease-in-out
}


.threeWayToggleIcon {
    width: 30px;
    height: 30px;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 20px;

    /* border: 3px solid rgb(0, 230, 0); */
    height: 95%; 

    align-items: center;
}

.bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;

    z-index: 15;

    /* border: 3px solid rgb(230, 0, 220); */
    height: auto; /* Adjust height as needed */
    /* margin: 0; */
    box-sizing: border-box; /* Ensure padding and border are included in the element's width and height */

    margin: 25px;
}

.bottomRight {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    
    z-index: 15;
    
    /* border: 3px solid rgb(230, 0, 220); */
    height: auto; /* Adjust height as needed */
    /* margin: 0; */
    box-sizing: border-box; /* Ensure padding and border are included in the element's width and height */
    
    margin: 25px;
}

.bottomLeft {
    display: flex;
    flex-direction: row;

    /* border: 2px solid black; */
}

#darkLightThemeGUIContainer {
    margin-left: 10px;
}

main {
    display: block;
}

#subMainContainer {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    margin-top: 25px;

    opacity: 0;
    transition: opacity 1s ease-in-out;
    
    /* border: 3px solid black; */
    /* overflow-x: hidden; */
}

#mainContainer {
    /* Fixed dimensions */
    position: relative;
    width: 100%;
    height: 100vh;
    /* max-width: 600px; */
    
    /* Centering it horizontally */
    margin-left: auto;
    margin-right: auto;

    align-items: center;
    flex-direction: column; 
    
    box-sizing: border-box;

    padding: 25px;

    /* border: 3px solid cyan; */
    z-index: 25;
}

@media (max-width: 504px) {
    #targetHoursInterruptionsContainer {
        flex-direction: column;
        align-items: center;
        /* border: 1px solid yellow; */
        height: 325px;
    }
    #targetHoursContainer {
        margin-right: 0px;
    }
    #chillAnimation {
        margin-top: 150px;
    }
    #flowAnimation {
        margin-top: 170px;
    }
}

.headerBtns {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;

    position: fixed;
    top: 25px;
    right: 25px;

    z-index: 30;
}

button {
    background-color: rgba(255, 255, 255, 0);
    color: white;
    border: 2px solid white;
    outline: none;
    padding: 8px 15px;
    cursor: pointer;
    border-radius: 15px;
    font-family: myFont3;
    font-size: 24px;
    transition: background-color 0.25s ease;
}

button:active {
    /* background-color: #e6e6e6; */
    background-color: white;
    transform: scale(0.95);
    color: black;
}

button:focus {
    box-shadow: none;
}

button:hover {
    background-color: #ffffff;
    border: 2px solid #ffffff;
    /* border-color: rgb(255, 255, 255); */
    color: black;
    /* transition: transform 0.10s ease, background-color 0.25s ease; */
}

.UIContainer {
    display: none;
    opacity: 0;
    transition: opacity 1s ease-in-out, background-color 0.25s ease;

    position: relative;
    align-items: center;
    justify-content: center;

    font-size: 32px;
    font-family: settingsHeaderFontBold;
    color: white;
    z-index: 20;
    width: 38px;
    height: 40px;
    border: 3.5px solid white;
    border-radius: 15px;

    margin-right: 2px;
}

.UIContainer:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}

/* Could make this styling more consistent... */
#menuBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    transform: scale(0.88);

    opacity: 0;
    transition: opacity 1s ease-in-out, background-color 0.25s ease;
    border: 4px solid white;

    z-index: 2;
}

#menuIcon, #settingsGUIconWhite {
    width: 32px;
    height: 32px;
    display: flex;
    /* border: 1px solid yellow; */
}

#menuIcon-black, #settingsGUIconBlack {
    width: 32px;
    height: 32px;
    display: none;
}

#menuBtn:hover #menuIcon {
    display: none;
}

#menuBtn:hover #menuIcon-black {
    display: flex;
}

#settingsGUIContainer:hover #settingsGUIconWhite {
    display: none;
}

#settingsGUIContainer:hover #settingsGUIconBlack {
    display: flex;
}

#darkModeGUIconWhite {
    width: 30px;
    height: auto;
    display: flex;
}

#darkModeGUIconBlack {
    width: 30px;
    height: auto;
    display: none;
}

#lightModeGUIconWhite {
    width: 35px;
    height: auto;
    display: flex;
}

#lightModeGUIconBlack {
    width: 35px;
    height: auto;
    display: none;
}

#darkContainer {
    display: flex;
    border-radius: 15px;
    padding: 7px;

    border: 1px solid rgba(0, 0, 0, 0);
}

#lightContainer {
    display: none;
    border-radius: 15px;
    padding: 5px;

    border: 1px solid rgba(0, 0, 0, 0);
}

#darkContainer:hover #darkModeGUIconWhite {
    display: none;
}

#darkContainer:hover #darkModeGUIconBlack {
    display: flex;
}

#lightContainer:hover #lightModeGUIconWhite {
    display: none;
}

#lightContainer:hover #lightModeGUIconBlack {
    display: flex;
}

/* For lightModeWhite and Black Thick2, have width & height @ 35px */

.headerBtns button {
    width: 100px;
}

@media (max-width: 599px) {
    #reportIcon {
        display: flex;
    }
    #menuIcon {
        display: flex;
    }
    .headerBtns button {
        width: 50px;
    }
    #reportBtn:hover #reportIcon {
        display: none;
    }
    #reportBtn:hover #reportIcon-black {
        display: flex;
    }
}

#targetHoursInterruptionsContainer {
    display: flex;
    justify-content: space-between;
    position: relative;
    /* justify-content: center; */
    width: 575px;

    margin-left: auto;
    margin-right: auto;
    
    /* border: 1px solid orange; */
}

@media (max-width: 635px) {
    #targetHoursInterruptionsContainer {
        width: 100%;
    }
}

@media (max-width: 400px) {
    button {
        transform: scale(0.9);
    }
}

#interruptions-container {
    display: flex;
    align-items: center;
    position: relative;

    justify-content: center;
    
    background-color: rgba(0, 0, 0, 0.9);

    /* DARK GREY THEME BACKGROUND */
    /* background-color: rgba(32, 32, 32, 0.9); */

    /* POTENTIAL DESIGN ALTERNATIVE -- WHITE BORDER */
    /* border: 3px solid rgb(255, 255, 255); */
    
    height: 150px;

    width: 100%;
    
    /* border: 1px rgba(0, 0, 0, 0.25); */
    box-sizing: border-box;
    
    border-radius: 25px; /* Created corner curves */
    /* border: 1px solid yellow; */

    z-index: 25;
}

#targetHoursContainer {
    display: flex;
    align-items: center;

    justify-content: center;
    
    background-color: rgba(0, 0, 0, 0.9);

    /* DARK GREY THEME BACKGROUND */
    /* background-color: rgba(32, 32, 32, 0.9); */

    /* POTENTIAL DESIGN ALTERNATIVE -- WHITE BORDER */
    /* border: 3px solid rgb(255, 255, 255); */
    
    /* Fixed dimensions */
    width: 100%;
    
    height: 150px;
    
    /* border: 1px rgba(0, 0, 0, 0.25); */
    box-sizing: border-box;
    
    border-radius: 25px; /* Created corner curves */
    /* border: 1px solid yellow; */
    z-index: 25;
}

@media (min-width: 505px) {
    #interruptions-container {
        max-width: 275px;
    }
    #targetHoursContainer {
        max-width: 275px;
        margin-right: 15px;
    }
}

/* Combined styles for both elements */
#suggestionBreakContainer, #completedPomodorosContainer {
    display: none;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 225px;
}

/* #quoteContainer {
    display: none;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 225px;
}

#quoteText {
    font-size: 14px;
} */

/* Unique style for #completedPomodorosContainer */
#completedPomodorosContainer {
    margin-bottom: 30px;
    margin-top: 6px;
}

#interruptions-sub-container {
    margin-top: 6px;
    /* border: 1px solid yellow; */
}

#interruptions-change-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: -8px;
    margin-bottom: 30px;
    /* border: 1px solid brown; */
}

.interruptionsDivBtn {
    background-color: rgba(255, 255, 255, 0);
    border: 2px solid white;
    color: white;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: myFont3;
    font-size: 50px;
    transition: background-color 0.25s ease;
    line-height: 0%;
}

#decBtn:hover {
    background-color: white;
    color: black;
    cursor: pointer;
    transition: transform 0.10s ease;
    transition: background-color 0.25s ease;
}

#decBtn:active {
    transform: scale(0.95);
}

#incBtn:hover {
    background-color: white;
    color: black;
    cursor: pointer;
    transition: transform 0.10s ease;
    transition: background-color 0.25s ease;
}

#incBtn:active {
    transform: scale(0.95);
}

#interruptions_num, #completedPomodoros-min {
    font-family: myFont3;
    font-size: 50px;
    color: white;
}

#completedPomodoros-min {
    margin-top: 7px;
}

#interruptions-label {
    /* border: 1px solid yellow; */
    display: flex;
    justify-content: center;
    font-family: myFont3;
}

#suggestionBreak-label, #completedPomodoros-label {
    /* border: 1px solid yellow; */
    display: flex;
    justify-content: center;
    font-family: myFont3;
    font-size: 20px;
    margin-bottom: 12px;
}

#suggestionBreak-min {
    /* border: 1px solid yellow; */
    display: flex;
    justify-content: center;
    font-family: myFont3;
    /* border: 2px solid white; */
    width: 100px;
    border-radius: 50px;
    margin-bottom: 42px;
    font-size: 20px;
    color: white;
    background-color: rgba(255, 255, 255, 0);

    transition: background-color 0.15s ease-in-out;
}

#suggestionBreak-min:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.2);
}

#targetHoursSubContainer {
    display: flex;
    align-items: center;
    flex-direction: column;

    margin: 10px;

    /* border: 1px solid blue; */
}

#coolDiv-submit {
    display: flex;
    align-items: center;
    /* border: 1px solid yellow; */
    margin-bottom: 30px; /* not sure why this was necessary, 
                            but it had to be done. Items weren't
                            centering properly otherwise. */
}

#coolDiv {
    margin-right: 25px;
}

#targetLabel {
    /* border: 1px solid yellow; */
    display: flex;
    justify-content: center;
    font-family: myFont3;
}

#target-hours {
    width: 50px;
    height: 20px;
    background-color: #e0e0e0;
    font-size: 16px;
    padding: 8px 12px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 1px solid white;
}

#target-hours-submit {
    width: 125px;
}

.finalized-hours {
    font-family: myFont2;
    color: rgba(255, 255, 255); /* finalized text color */
    margin: 0px;
}

.finalized-hours:hover {
    cursor: pointer;
}

.finalized-suggestion-minutes {
    font-family: myFont2;
    color: rgba(255, 255, 255); /* finalized text color */
}

#timekeeping-container {
    display: flex;
    justify-content: center;

    padding-block: 50px;
    margin-block: 10px;
    margin-top: 25px;
    margin-bottom: 25px;

    background-color: rgba(0, 0, 0, 0.9);

    /* DARK GREY THEME BACKGROUND */
    /* background-color: rgba(32, 32, 32, 0.9); */

    /* POTENTIAL DESIGN ALTERNATIVE -- WHITE BORDER */
    /* border: 3px solid rgb(255, 255, 255); */

    /* Centering it horizontally */
    margin-left: auto;
    margin-right: auto;

    flex-direction: column;
    align-items: center;

    width: 100%;
    max-width: 575px;
    height: 350px;
    /* height: 150px */

    box-sizing: border-box;
    
    border-radius: 25px;
    z-index: 25;
    
}

.lower-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 10px;
    /* border: 1px solid yellow; */
}

@media (max-width: 374px) {
    .lower-buttons {
        scale: 0.85;
    }
}

@media (max-width: 320px) {
    .lower-buttons {
        scale: 0.75;
        flex-direction: column;
        align-items: center;
    }
    #display {
        scale: 0.8;
    }
    .container {
        align-items: center;
        justify-content: center;
    }
    #targetHoursInterruptionsContainer {
        display: none;
    }
    #chillAnimation {
        margin-top: -135px;
    }
    #flowAnimation {
        margin-top: -130px;
    }
}

#hyperChillTitle {
    display: block;
    opacity: 0;
    font-family: 'myFont3', sans-serif; /* Fallback font added */
    transform: scaleX(1);
    transition: opacity 1s ease-in-out;
}

@media (max-width: 660px) {
    #hyperChillTitle {
        font-size: 24px;
    }
}

@media (max-width: 550px) {
    #hyperChillTitle {
        font-size: 20px;
    }
}

@media (max-width: 504px) {
    #hyperChillTitle {
        display: none;
    }
}

@keyframes hyperChillTitleAnimationTranslate {
    0% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0px);
    }
}

@keyframes hyperChillTitleAnimationScale {
    0% {
        transform: scaleX(1);
    }
    100% {
        transform: scaleX(1.1);
    }
}

.hyperChillTitleAnimationTranslate {
    animation: hyperChillTitleAnimationTranslate 0.75s forwards;
}

.hyperChillTitleAnimationScale {
    animation: hyperChillTitleAnimationScale 2s 1s forwards;
}

@keyframes threeWayToggleAnimation {
    0% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(0px);
    }
}

.threeWayToggleAnimation {
    animation: threeWayToggleAnimation 1s;
}

.stopwatch {
    display: block;
    padding-block: 25px;
    font-size: 48px;
    /* border: 1px solid yellow; */
    color: white;
    text-align: center;
    width: 100%;
}

#start-stop {
    width: 128px;
}

#productivity-chill-mode {
    /* border: 1px solid yellow; */
    color: white;
    font-family: myFont3;
    text-align: center;
    font-size: 24px;
}

#session-log {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
}

#session-log p {
    margin-top: 0px;
}

.session-log-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}

#progress-bar-container {
    display: flex;
    align-items: center;

    justify-content: center;
    
    background-color: rgba(255, 255, 255, 0.25);

    /* DARK GREY THEME BACKGROUND */
    /* background-color: rgba(32, 32, 32, 0.9); */

    /* POTENTIAL DESIGN ALTERNATIVE -- WHITE BORDER */
    /* border: 3px solid rgb(255, 255, 255); */
    
    /* Centering it horizontally */
    margin-left: auto;
    margin-right: auto;
    
    /* Fixed dimensions */
    width: 100%;
    height: 70px;
    transition: width 2s ease-in-out, height 1s ease-in-out;

    max-width: 575px;
    
    border: 1px rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
    
    border-radius: 50px; /* Created corner curves */
    margin-top: 25px;
    z-index: 25;
}

#progress {
    display: flex;
    align-items: center;
    width: 100%;
    height: 80px;
}

/*  This style causes progress container to "bounce" a little on
    mobile viewports during the transition. This isn't a huge deal
    but something to consider fixing later on... It's caused by
    a discrepancy between the width and min-width values */
#progress-bar-container.small {
    width: 180px;
    min-width: 130px;
    height: 50px;
    /* padding-left: 2px;
    padding-right: 2px; */
}

#progress-bar-container.small #progress-container {
    width: 88%;
    transition: width 1s 1s ease-in-out;
}

#progress-container {
    position: relative;
    width: 93%;
    max-width: 575px;
    height: 30px;
    background-color: #ffffff;
    border-radius: 15px;
    overflow: hidden;
    /* Centering it horizontally */
    margin-left: auto;
    margin-right: auto;
    /* margin-top: 50px; */

    transition: width 1s ease-in-out;
}

#progress-bar {
    width: 0%;
    height: 100%;
    background-color: #53e658;
    border-radius: 15px 0 0 15px;

    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

#progress-bar.fullopacity1 {
    opacity: 1;
}

#progress-text {
    display: block;
    font-family: myFont3;
    font-size: 24px;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    font-weight: bold;
    white-space: nowrap;
}

@media (max-width: 480px) {
    #progress-text {
        font-size: 20px;
    }
}

@media (max-width: 400px) {
    #progress-text {
        font-size: 17px;
    }
}

@media (max-width: 342px) {
    #progress-text {
        font-size: 14px;
    }
}

@media (max-width: 280px) {
    #progress-bar-container.small {
        width: 45%;
    }
}

#display {
    font-family: myFont3;
    font-size: 100px;
    /* padding-bottom: 25px; */
    margin-top: -30px;
    margin-bottom: -10px;
    transform: scaleY(1.1);
}

@media (max-width: 599px) {
    #display {
        font-size: 80px;
    }
}

@media (max-width: 472px) {
    #display {
        font-size: 70px;
    }
}

@media (max-width: 433px) {
    #display {
        font-size: 60px;
    }
}

@media (max-width: 372px) {
    #display {
        font-size: 55px;
    }
}

@media (max-width: 350px) {
    #display {
        font-size: 50px;
    }
    #productivity-chill-mode {
        font-size: 20px;
    }
}

@media (max-width: 312px) {
    #display {
        font-size: 45px;
    }
}

@media (max-width: 285px) {
    #display {
        font-size: 40px;
    }
}

@media (max-width: 260px) {
    #display {
        font-size: 25px;
    }
}

.mode-text {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    /* border: 1px solid green; */
}

@keyframes pulsate {
    0% {
        box-shadow: 0 0 5px #53e658,
                    0 0 10px #53e658;
    }
    50% {
        box-shadow: 0 0 10px #53e658,
                    0 0 25px #53e658,
                    0 0 30px #53e658;
    }
    100% {
        box-shadow: 0 0 5px #53e658,
                    0 0 10px #53e658;
    }
}

.glowing-effect {
    animation: pulsate 3s infinite; /* The animation will run for 3 seconds and will repeat indefinitely */
}

header {
    /* border: 1px solid yellow; */
    height: 75px;
}

#main_hr {
    height: 1px;
    border: none;
    /* background-color: rgba(0, 0, 0, 0.25); */
    background-color: rgba(255, 255, 255, 0.5);
    /* background-color: rgba(255, 255, 255, 0); */
    margin-bottom: 25px;
}

.hr_or_hr_block {
    max-width: 410px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center; /* Center items vertically */
    margin-top: 10px;

    /* border: 1px solid white; */
}

.or {
    padding-left: 10px;
    padding-right: 10px;
    font-family: myFont2;
    font-size: 14px;
    color: white;
}

.or_hr {
    width: 100%;
    border-color: #ffffff;
}

.overlay {
    display: none;
    /* display: flex; */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.75);
    /* background: rgba(0, 0, 0, 1); */
    justify-content: center;
    align-items: center;
    /* we'll always want the overlay to be on top of everything */
    z-index: 1000;
    transition: opacity 1s ease-out;
}

#deleteAccountPopup {
    display: none;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(100px);
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 25px;
    text-align: center;
    max-width: 500px;
}

#deleteAccountPopupYesBtn, #goBackBtn, #confirmLabelDeletionYesBtn {
    margin-right: 5px;
}

#deleteAccountPopupNoBtn, #logoutBtn2, #confirmLabelDeletionNoBtn {
    margin-left: 5px;
}

#goBackBtn:hover, #logoutBtn2:hover {
    background-color: white;
    color: black;
}

#deleteAccountPopupBtnContainer, #confirmLabelDeletionBtnContainer {
    margin-bottom: 25px;
}

#deleteAccountPopupText, #confirmLabelDeletionText {
    font-family: 'settingsHeaderFont';
    color: white;
    font-size: 24px;
}

#deleteAccountPopupYesBtn:hover, #confirmLabelDeletionYesBtn:hover {
    background-color: red;
    border: 2px solid red;
    color: white;
}

#deleteAccountPopupNoBtn:hover, #confirmLabelDeletionNoBtn:hover {
    background-color: #53e658;
    border: 2px solid #53e658;
    color: white;
}

#accountPopup {
    display: none;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(100px);
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 25px;
    text-align: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    height: 250px;
}

#shortcutsPopup {
    /* display: block; */
    display: none;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(100px);
    border-radius: 25px;
    text-align: center; /* You can remove this if text alignment is not needed */
    height: auto; /* Adjust height based on content */
    min-width: 320px;
    width: 100%;
    max-width: 420px;
    box-sizing: border-box;
    margin-top: 25px;
    margin-bottom: 25px;
}

#shortcutsPopupHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

#shortcutsPopupContainer {
    display: flex;
    justify-content: left;
    flex-direction: column;

    margin-left: 20px;
    margin-right: 20px;
}

#shortcutsHeaderText {
    position: relative;
    font-family: settingsHeaderFont;
    letter-spacing: 2px;
    margin: 0;
}

#shortcutsExit {
    position: static;
    margin: 0;
}

#shortcutsPopupHeader {
    display: flex;
}

.shortcutsContainer {
    display: flex;
    justify-content: left;
    flex-direction: column;
}

.shortcut {
    display: flex;
    justify-content: space-between;
    width: 100%;

    margin-top: 10px;
    margin-bottom: 10px;

    /* border: 1px solid green; */
}

.shortcutDescription {
    display: flex;
    font-family: settingsHeaderFont;
    color: white;
}

.shortcutKey {
    display: flex;
    font-family: settingsHeaderFont;
    color: white;
}

.popupHr {
    border: 1px solid rgb(255, 255, 255, 0.25);
}

#accountIcon2 {
    transform: scale(0.4);
}

#questionPopupUserEmailContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    /* border: 2px solid red; */
}

#welcomeText {
    font-family: settingsHeaderFont;
}

#questionPopupUserEmail {
    font-family: settingsHeaderFont;
    color: white;
    font-size: 24px;
    font-weight: 500px;
    padding-bottom: 10px;
    margin-right: 20px;

    /* border: 1px solid green; */
}

#accountPopupButtonsContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 102px;

    /* border: 1px solid purple; */
}

@media (max-width: 1000px) {
    .blogh2, .abouth2 {
        font-size: 20px;
    }
    li {
        font-size: 20px;
    }
}

@media (max-width: 480px) {
    .blogh2, .abouth2 {
        font-size: 18px;
    }
    li {
        font-size: 18px;
    }
}

@media screen and (max-height: 750px) {
    body {
      overflow-y: scroll;
    }
}

#streaksContainer {
    display: none;
    opacity: 0;
    transition: opacity 1s ease-in-out, background-color 0.25s ease;
    position: relative;
    z-index: 20;
    width: auto;
    height: 40px;
    border: 3.5px solid white;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.9);

    margin-right: 15px;
}

#streaksContainer:hover {
    cursor: default;
}

.streaksComponent {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    /* border: 1px solid greenyellow; */
}

#streaksEmoji {
    margin-left: 4px;
    padding-bottom: 4px;
    margin-right: 1px;
}

#streaksCount {
    font-family: myFont2;
    color: white;
    margin-right: 8px;
    width: auto;
    white-space: nowrap;
    margin-left: 1px;
}

#streaksLoginSuggestionPopup {
    position: fixed;
    font-family: menuFont;
    color: rgb(187, 187, 187);

    letter-spacing: 1px;
    font-size: 16px;
    width: 180px;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.9);
    cursor: default;

    padding: 10px 10px;
    border-radius: 15px;
    right: 25px;
    bottom: 100px;
    display: flex;
    opacity: 0;
    transition: opacity 0.15s ease-in-out;
    z-index: 0; /* needs to be at 0 when invisible so it doesn't cover up start and end-session btns */
}

#streaksLoginSuggestionPopup::after {
    content: '';
    position: absolute;
    bottom: -9.5px; /* Position the tip below the container */
    left: 55.5%; /* Center the tip horizontally */
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid rgba(0, 0, 0, 0.9); /* Same color as background */
}

@media (max-width: 725px) {
    #questionIconContainer {
        display: none;
    }
}

#confirmLabelDeletionPopup {
    display: none;
    background: rgb(50, 50, 50);
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 25px;
    text-align: center;
    max-width: 500px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

#previousSessionStartedPopup {
    display: none;
    background: rgb(50, 50, 50);
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 25px;
    text-align: center;
    max-width: 500px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    font-family: 'settingsHeaderFont';
    color: white;
    /* font-size: 24px; */
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

#previousSessionText {
    font-size: 24px;
}

.previousSessionStartedOption {
    display: flex;
    align-items: left;
    /* border: 3px solid yellow; */
    text-align: left;
    margin-bottom: 5px;
    font-size: 18px;
}

.sessionInput:hover {
    cursor: pointer;
}

#previousSessionStartedOkBtn {
    margin-top: 25px;
    margin-bottom: 25px;
}

#labelToDeleteContainer {
    margin: 25px;
}

#sessionSummaryPopup, #sessionSummarySignupPromptPopup {
    display: none;
    /* display: flex; */
    flex-direction: column;
    background: white;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 25px;
    text-align: center;
    max-width: 500px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    font-family: 'settingsHeaderFont';
    color: rgb(0, 0, 0);
    width: 350px;
    /* font-size: 24px; */
    opacity: 0;
    /* opacity: 1; */
    transition: opacity 0.5s ease-in-out;
    min-width: 225px;
    margin-left: 10px;
    margin-right: 10px;
}

#sessionSummaryText, #signupPromptHeaderText {
    color: black;
    font-family: settingsHeaderFont;
    font-size: 28px;
}

#summaryContainer {
    display: flex;
    align-items: top;
    justify-content: center;
    flex-direction: column;

    /* border: 3px solid black; */
}

#multiSeriesPiePlotContainer {
    display: flex;
    /* display: none; */
    justify-content: center;
    padding-left: 50px;
    padding-right: 50px;
    align-items: center;
    position: relative;

    /* border: 3px solid brown; */
}

#HC_icon_session_summary {
    position: absolute;
    height: 100px;
    width: 100px;
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Adjust the position to be exactly centered */
    z-index: 2; /* Ensure the image is on top */
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

.hyperChillLogoRotate {
    animation: logoRotate 2s cubic-bezier(0.1, 0.9, 0.4, 1) forwards;
}

@keyframes logoRotate {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

.hyperChillSlowRotate {
    animation: logoSlowRotate 15s linear infinite;
}

@keyframes logoSlowRotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

#sessionSummaryChart {
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;

    transition: opacity 1s ease-out;
    /* border: 3px solid blue; */
}

@media(min-width: 410px) {
    #multiSeriesPiePlotContainer {
        height: 240px;
    } 
}

@media(max-width: 410px) {
    #HC_icon_session_summary {
        opacity: 0;
    }
}

@media(max-width: 300px) {
    #sessionSummaryChart {
        pointer-events: none;
    }
    #multiSeriesPiePlotContainer {
        height: 150px;
    } 
}

#summaryStatsContainer {
    display: flex;
    justify-content: space-between;
    /* border: 3px solid cyan; */
    margin-top: 15px;
}

#deepWorkTimeContainer {
    background-color: rgba(83, 230, 88, 1);
    border-radius: 15px;
}

#focusPercentageContainer {
    background-color: rgba(59, 143, 227, 1);
    border-radius: 15px;
}

#deepWorkText, #focusPercentageText {
    font-size: 16px;
}

#focusPercentage, #deepWorkTime {
    font-weight: 700;
    font-size: 20px;
}

.summaryStats {
    height: 50px;
    width: 126px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 18px;
    position: relative;
    opacity: 0;
    transition: opacity 0.25s ease-out;
    animation: moveDown 0.5s ease-out;

}

@keyframes moveDown {
    from {
        top: -15px;
    }
    to {
        top: 0px;
    }
}

#commentsContainer {
    margin-top: 15px;
    border-radius: 15px;
    height: 100px;
    padding: 5px;
    width: 100%; /* Ensure the container takes the full width of the parent element */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    background-color: rgba(0, 0, 0, 0.15);
    animation: expand 1s cubic-bezier(0.5, 0, 0, 1) forwards;
}

@keyframes expand {
    from {
        height: 0px;
    }
    to {
        height: 100px;
    }
}

#commentsTextArea {
    height: 100%;
    width: 100%;
    border: none;
    resize: none; /* Prevent resizing of the textarea */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    background-color: rgba(0, 0, 0, 0);
    font-size: 18px;
    font-family: settingsHeaderFont;
}

#commentsTextArea:focus {
    outline: none; /* Remove the focus outline */
    border: none; /* Ensure the border stays hidden on focus */
}

#commentsTextArea::-webkit-scrollbar {
    width: 0px;
    height: 8px;
}

#commentsTextArea::-webkit-scrollbar:hover {
    cursor: pointer;
}

#commentsTextArea::-webkit-scrollbar-track {
    /* background: transparent; */
    background: rgba(255, 255, 255, 0);
}

#commentsTextArea::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
}

#bottomRow {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

#sessionSummaryOkBtn {
    color: black;
    background-color: rgba(0, 0, 0, 0.15);
    border: none;
    font-family: settingsHeaderFont;
    font-size: 18px;
    height: 50px;
    width: 63px;
}

#signupPromptPopupBtn {
    color: black;
    background-color: rgba(0, 0, 0, 0.15);
    border: none;
    font-family: settingsHeaderFont;
    font-size: 18px;
    height: 50px;
    min-width: 133px;
    max-width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#signupPromptPopupBtn:hover {
    background-color: rgba(0, 0, 0, 0.20);
}

#signupPromptPopupBtnContainer {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;

    /* border: 2px solid orange; */
}

#HC_icon_signup_prompt_container {
    display: flex;
    justify-content: center;
    align-items: center;

    /* border: 2px solid cyan; */
}

#createAccountHere {
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: settingsHeaderFont;
    font-size: 20px;

    /* border: 2px solid brown; */
}

#HC_icon_signup_prompt {
    position: relative;
    height: 100px;
    width: 100px;
    z-index: 2; /* Ensure the image is on top */
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

#sessionSummaryOkBtn:hover {
    background-color: rgba(0, 0, 0, 0.20);
}

#subjectiveFeedbackDropdown {
    border: none;
    background-color: rgba(0, 0, 0, 0.15);
    border-radius: 15px;
    width: 135px;
    height: 50px;
    font-family: settingsHeaderFont;
    font-size: 18px;
    text-align-last: center; /* Center the selected option in some browsers */
    cursor: pointer;

    transition: background-color 0.15s ease-in-out;
}

#subjectiveFeedbackDropdown:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.20);
}

#subjectiveFeedbackContainer {
    display: flex;
    flex-direction: column;
}

#catsContainer {
    position: absolute;
    width: 100%;
    /* border: 3px solid black; */
}

#cat1 {
    width: 60px;
    top: -47px; /* Align the image to the top */
    right: 85px;;
}

#cat2 {
    width: 90px;
    top: -51px; /* Align the image to the top */
    right: 75px;
}

#cat3 {
    width: 85px;
    top: -50px; /* Align the image to the top */
    right: 70px;

}

#cat4 {
    width: 110px;
    top: -40px; /* Align the image to the top */
    right: 50px;
}

#cat5 {
    width: 100px;
    top: -46px; /* Align the image to the top */
    right: 50px;
}

#cat6 {
    width: 80px;
    top: -42px; /* Align the image to the top */
    right: 75px;
}

#cat7 {
    width: 80px;
    top: -45px; /* Align the image to the top */
    right: 75px;
}

#cat8 {
    width: 80px;
    top: -45px; /* Align the image to the top */
    right: 75px;
}

.cat {
    display: none;
    z-index: 26;
    height: auto;
    position: absolute;
    opacity: 0;
    transition: opacity 0.5s ease-out;

    animation: scaleXAnimation 10s ease-in-out infinite;
}

.cat:hover {
    cursor: pointer;
}

#zzz {
    position: absolute;
    /* display: block; */
    display: none;
    opacity: 0;
    z-index: 26;
    width: 30px;
    height: auto;
    top: -90px;
    right: 120px;
    transform: rotateZ(-15deg);
    transition: opacity 0.25s ease-out;
}

@keyframes scaleXAnimation {
    0% {
        transform: scaleX(1);
    }
    50% {
        transform: scaleX(1.05); /* Increase scaleX */
    }
    100% {
        transform: scaleX(1); /* Return to original scaleX */
    }
}